@model RadialReview.Models.ReviewsModel
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Stats";
    ViewBag.ExtraTabs = ExtraTab.Create("Stats", "/Statistics/Review/" + Model.Id);
    ViewBag.Subheading = "Statistics for '" + Model.ReviewName + "'";

}

@section top{
    <div class="jumbotron">
        <h1>Reports</h1>
    </div>
}

@section header{
    @*@Html.Partial("_ReviewsHeader")*@
}


<div class="panel panel-primary startHiddenGroup">
    <div class="panel-heading">
        <h3 class="panel-title">Review progress</h3>
    </div>

    <div class="panel-body">
        @Html.Partial("_ReviewStats",Model.Id)
    </div>
    @if (ViewBag.IsManager ?? false)
    {
        <div class="panel-heading">
            <h3 class="panel-title">Individual progress</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="alignCenter" style="width:10px;">Reviewed by</th>
                        <th class="alignCenter" style="width:10px;"># Reviewed</th>
                        <th class="alignCenter" style="width:150px;">Completion</th>
                        @*<th style="width:10px;">Report</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var review in Model.Reviews.OrderByDescending(x =>
                    {
                        double complete = Model.Reviews.Sum(n => n.Answers.Where(z => z.ByUserId == x.ForUserId).Distinct(y => y.AboutUserId).Count(y => y.Complete));
                        double total = Model.Reviews.Sum(n => n.Answers.Where(z => z.ByUserId == x.ForUserId).Distinct(y => y.AboutUserId).Count());
                        return complete / total;
                    }))
                    {
                        <tr>
                            <td class="table-hover-underline">@review.ForUser.GetNameAndTitle()</td>
                            <td class="alignCenter">
                                @Model.Reviews.Sum(x => x.Answers.Where(z => z.AboutUserId == review.ForUserId).Distinct(y => y.ByUserId).Count(y => y.Complete))/
                                @Model.Reviews.Sum(x => x.Answers.Where(z => z.AboutUserId == review.ForUserId).Distinct(y => y.ByUserId).Count())
                            </td>
                            <td class="alignCenter">
                                @Model.Reviews.Sum(x => x.Answers.Where(z => z.ByUserId == review.ForUserId).Distinct(y => y.AboutUserId).Count(y => y.Complete))/
                                @Model.Reviews.Sum(x => x.Answers.Where(z => z.ByUserId == review.ForUserId).Distinct(y => y.AboutUserId).Count())
                            </td>
                            <td>@Html.Partial("_Completion", review.GetCompletion())</td>
                            @*<td>
                                    @if (review.ForUser.GetPersonallyManaging())
                                    {
                                        <a href="/Review/Details/@review.ClientReview.Id">Report</a>
                                    }
                                </td>*@
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }
</div>