@model RadialReview.Areas.CoreProcess.Models.Process.TaskViewModel
<input type="hidden" name="LocalID" value="@Model.process.LocalID" />
<input type="hidden" name="id" value="@Model.Id" />
@*@Html.HiddenFor(m => m.Id)*@
@*@Html.Hidden("Id", Model.id)*@
<div class="row smallBreak2">
    <div class="col-sm-3"><label>Name:</label></div>
    <div class="col-sm-9">@Html.TextBoxFor(x => x.name, new { @class = "fullWidth form-control blend" })</div>
    @Html.ValidationMessageFor(m => m.name)
</div>
<div class="row smallBreak2">
    <div class="col-sm-3"><label>Team :</label></div>
    <div class="col-sm-9">
        @Html.Partial("~/Views/Shared/EditorTemplates/SearchUsers.cshtml", new ViewDataDictionary() {
       { "Name","SelectedMemberId"}, { "multiple", true},
       {"SelectedItemList",Model.CandidateList},
            {"SearchUrl","/Search/RGM?includeTerm=true" }
        })
    </div>
</div>
@*<div class="row smallBreak2">
        <div class="col-sm-3"><label>Description:</label></div>
        <div class="col-sm-9">@Html.TextAreaFor(x => x.description, new { @class = "fullWidth form-control blend" })</div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}