@model RadialReview.Areas.People.Controllers.QuarterlyConversationController.IssueViewModel
@{
	ViewBag.Title = "Issue Quarterly Conversation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) {
	<div class="row smallBreak2">
		<div class="col-sm-6 col-sm-offset-3">
			<label class="control-label">Name:</label>
			@Html.TextBoxFor(x=>x.Name, new { @class = "form-control smallBreak2" })
			@Html.ValidationMessageFor(x => x.Name)
		</div>
	</div>
	<div class="row smallBreak2">
		<div class="col-sm-6 col-sm-offset-3">
			<label class="control-label">Add to Quarterly Conversation:</label>
			<div id="qc-issue"></div>

		</div>
	</div>
	<div class="row smallBreak2">
		<div class="col-sm-3 col-sm-offset-3">
			<div class="row">
				<div class="col-sm-6">
					<label class="control-label">Evaluate Self:</label>
					<div class="btn-group" style="display:block;" data-toggle="buttons">
						<label class="btn btn-default active">
							<input type="radio" name="@Html.NameFor(x=>x.EvalSelf)" value="true" autocomplete="off" checked> Yes
						</label>
						<label class="btn btn-default">
							<input type="radio" name="@Html.NameFor(x=>x.EvalSelf)" value="false" autocomplete="off"> No
						</label>
					</div>
				</div>
				<div class="col-sm-6">
					<label class="control-label">Send Email:</label>
					<div class="btn-group" style="display:block;" data-toggle="buttons">
						<label class="btn btn-default active">
							<input type="radio" name="@Html.NameFor(x=>x.Email)" value="true" autocomplete="off" checked> Yes
						</label>
						<label class="btn btn-default">
							<input type="radio" name="@Html.NameFor(x=>x.Email)" value="false" autocomplete="off"> No
						</label>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-3">
			<label class="control-label">Due Date:</label>
			<div class="btn-group" style="display:block;" data-toggle="buttons">
				@Html.EditorFor(x => x.DueDate, new { startDate = "tomorrow" })
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<hr />
			<button class="btn btn-primary" type="submit">Issue</button>
		</div>
	</div>
}

@using (Html.BeginStyles()) {
	@Styles.Render("~/styles/people")
}
@using (Html.BeginScripts()) {

	<script>

		$("form").submit(function validateForm(event) {
			event = event || window.event || event.srcElement;
			var name = $('#Name').val();
			if (!name) {
				$("[data-valmsg-for=\"Name\"]").removeClass("field-validation-valid").addClass("field-validation-error").text("Name is required");
				$("#Name").addClass("input-validation-error");//.text("Name is required");
				event.preventDefault();
			}else{
				$(this).find("button[type=submit]").addClass("noclick").prop("disabled","disabled").prop("title","Please wait.").html("Issuing...");
			}
		});

		$("[name=self]").on("change",function(){
			debugger;
			var selected = $(this).val()=="true";
			$("[name=email]").closest(".btn-group").find(".btn").toggleClass("disabled",!selected).toggleClass("noclick",!selected).replaceClass("active","was-active",!selected);
		});


		DataTable({
			container: "#qc-issue",
			data: @Html.ArrayToString(Model.AvailableUsers, x => new { Name = x.GetAbout().ToPrettyString(), Id = x.ToKey() }),
			//title
			cells:[{
				contents:function(x){ return "<input type='checkbox' checked name='selected' value ='"+x.Id+"'/>"; }

			},{
				//name: "Add to Quarterly Conversation",
				contents:function(x){ return x.Name; },
				classes:"fullWidth"
			}
			//,{
			//	name: "Id",
			//	contents:function(x){ return x.Id; }
			//}

			]
		});
	</script>
}
