@model long
@{
	ViewBag.Title = "Quarterly Conversation";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Subheading = "";

	Html.RenderPartial("~/Views/CDN/Angular.cshtml");

	var overdue = ViewBag.Overdue == true;

}

@section top{
	<div class="jumbotron">
		<h1 class="nowrap">Quarterly Conversation</h1>
	</div>
}


<div ng-app="people" class="people quarterly-conversation ng-cloak @(overdue?"disabled-qc":"")">
	@if (overdue) {
		<div class="row">
			<div class="col-md-9 alignCenter">
				<br />
				<div class="end-info"><span class="glyphicon glyphicon-exclamation-sign"></span> &nbsp;This assessment has concluded.</div>
			</div>
		</div>
	} else {
		<div class="gray instructions">Your answers are saved automatically.</div>
	}
	<survey-container class="ng-cloak" survey-container-id="@Model"></survey-container>

	@if (!overdue) {
		<div class="row">
			<div class="col-md-9 alignCenter">
				@using (Html.BeginForm("lockin", "QuarterlyConversation")) {
					<input type="hidden" name="id" value="@Model" />
					<button class="btn btn-primary" type="submit" style="margin-top:-40px"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
					<div class="clearfix"></div>
					<div class="end-info"><span class="glyphicon glyphicon-thumbs-up"></span> &nbsp;FYI... You can come back and edit this information right up until the due date.</div>
				}
			</div>
		</div>
		<div style="padding-bottom:100px;"></div>
	}
</div>




@using (Html.BeginStyles()) {
	@Styles.Render("~/styles/people")

	<style>
		.end-info {
			border: 1px solid #cccccc;
			background-color: #e2e2e2;
			padding: 10px 20px;
			border-radius: 5px;
			display: inline-block;
			clear: both;
			color: gray;
			font-style: italic;
		}

		.instructions {
			margin-top: -30px;
			font-style: italic;
			z-index: 100;
			position: relative;
			color: rgba(255,255,255,.6);
		}

		.jumbotron {
			z-index: 4;
			position: relative;
			z-index: 1002;
			position: relative;
		}

			.jumbotron h1 {
				/*font-size: 55px;
				margin-top: -8px;*/
			}

		@@media (max-width:1000px) {
			.jumbotron {
				padding-top: 30px;
			}

				.jumbotron h1 {
					font-size: 6vw;
					margin-top: calc(57.5px - 6vw);
				}
		}
		/*@@media (min-width:768px) {
			.jumbotron h1 {
				font-size: 4vw;
				margin-top: calc(57.5px - 6vw);
			}
		}*/
	</style>
}
@using (Html.BeginScripts()) {
	@Scripts.Render("~/bundles/people")
}