@using RadialReview.Properties
@using RestSharp.Extensions
@model Exception
@{
	ViewBag.Title = RadialReview.Properties.ExceptionStrings.AnErrorOccured;
	Layout = "~/Views/Shared/_Layout.cshtml";
	var subject = ((string)ViewBag.Message).NotNull(x => x.ToString().UrlEncode());
	var body = Model.NotNull(x => x.StackTrace.UrlEncode());
	var errorCode = ((string)ViewBag.ErrorCode) ?? "1";
}





<div class="centered error-page">
	<div class="component">
		<div class="">
			<h2 class="error-message">@(String.IsNullOrWhiteSpace(ViewBag.Message) ? RadialReview.Properties.ExceptionStrings.AnErrorOccured : ViewBag.Message)</h2>
		</div>

		@if (Context.IsDebuggingEnabled && Model != null && !String.IsNullOrWhiteSpace(Model.StackTrace)) {
			<div class="error-window"><b>Error Code: </b><br /><span style="padding-left:10px">@errorCode</span></div>
			<div class="review hidden" style="white-space: pre;font-size: 11px;overflow-x: auto;">@Model.NotNull(x => x.StackTrace)</div>
			<a class="pull-right" target="_blank" href="mailto:@ProductStrings.SupportEmail?subject=Received%20an%20error%20@(subject)&body=I%27ve%20received%20the%20following%20error%3A%0D%0A%0D%0A@(errorCode)">Email Support</a>
		}

		@if (((int?)ViewBag.Organizations ?? 0) == 0 && !(ViewBag.NoAccessCode ?? false)) {
			<div class="review">
				<h4>Instructions to access your organization:</h4>
				<p>
					Welcome to @(Html.ProductName()).

					You'll need to enter your access code to begin. You should have received a code in your inbox.
					If you haven't found the email, check your spam folder and remove us from your spam filter.
					Enter it here to begin:
				</p>
				<form class="form-group" method="post" action="/Organization/Join">
					<input class="form-control smallBreak2" type="text" name="id" value="" placeholder="Access code" />

					<div class="row">
						<button class="btn btn-primary col-md-2 col-md-offset-5" type="submit">Submit</button>
					</div>
				</form>

			</div>
			<br />
		}
            <h3>Need help?</h3>
            <button class="btn btn-default" href="#" onclick="supportEmail('An error has occurred.', 'support@mail.traction.tools','@(ViewBag.Message??"I received an error message")')">Contact Customer Support</button>
        
	</div>
</div>
@using (Html.BeginScripts()) {
	<script>
		@{try {
			@:console.error("@ViewBag.Message");console.error("@Model.NotNull(x => x.Message)");console.error("@Model.NotNull(x => x.StackTrace.Replace("\\", "\\\\")).Replace("\r\n", "\\n")");
		} catch (Exception e) {
			@:console.warn(e);
		}}
	</script>
	}

<style>
	.error-window {
		border: 1px solid #D1D1D1;
		background-color: #FDFDFD;
		padding: 10px 15px;
		border-radius: 0px;
		margin-bottom: 10px;
		word-break: break-word;
	}
</style>