@using RadialReview.Properties
<a name="footer" id="footer"></a>
<div class="container footer">
	<div class="row">
		<div class="col-sm-4">
			<div style="padding-top: 10px; text-align: left">
				<a href="/Organization/Tree">Organization Tree</a>
			</div>
			<div style="padding-top: 20px; text-align: left">
				<a href="/Employee/Listing">Employee Listing</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div style="padding-top:10px;text-align: left">
				<a href="/legal/tos">Terms of Service</a>
			</div>
			<div style="padding-top:10px;text-align: left">
				<a href="/legal/privacy">Privacy Policy</a>
			</div>
			<div style="padding-top:10px;text-align: left">
				<a href="mailto:support@radialreview.com">Support</a>
			</div>
			<div style="padding-top:10px;text-align: left">
				<a href="/faq/api">Developer API (beta)</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div style="padding-top: 10px; text-align: left;opacity:.55">
				<div class="gray">
					<div>Radial, Inc.</div>
					<div>1201 Infinity Court</div>
					<div>Lincoln, NE 68512</div>
				</div>
			</div>
		</div>
		@*<!--div class="row ">
			<div class="row col-md-6 col-md-push-6">
				<div class="col-sm-6 smallBreak2 col-md-push-6" style="text-align: center">
					<h4>Let's hear from you!</h4>
					<h5>Phone: 1-402-437-0099</h5>
					<h5 style="margin-bottom: 20px;">Email: <a href="mailto:@MandrillStrings.SupportEmail">@MandrillStrings.SupportEmail</a></h5>
				</div>
				<div class="col-sm-6 smallBreak2 col-md-pull-6"  style="text-align: center">
					<ul class="noBullet ">
						<li><h4>Legal</h4></li>
						<li><h5><a href="../privacy/">Privacy Policy</a></h5></li>
						<li><h5><a href="../tos/">Terms of Service</a></h5></li>
					</ul>
				</div>
			</div>
			<div class="row col-md-6 col-md-pull-6">
			<div class="col-sm-6 smallBreak2" style="text-align: center">
			<ul class="noBullet ">
			<li><h4>Members</h4></li>
			<li><h5>@Html.ActionLink("Reviews", "Outstanding", "Reviews")</h5></li>
			<li><h5>@Html.ActionLink("FAQ", "Index", "Faq")</h5></li>
			<li><h5>Culture Profiles</h5></li->
			</ul>
			</div>
				<div class="col-sm-6 smallBreak2" style="text-align: center">
				<ul class="noBullet ">
				<li><h4>Organizations</h4></li>
				  <li><h5>@Html.ActionLink("Join Radial", "Index", "Organization")</h5></li>
				<li><h5>@Html.ActionLink("Tree", "Tree", "Organization")</h5></li>
				<li><h5>Culture Profiles</h5></li->
				</ul>
				</div>
				</div>
				</div-->*@
	</div>
