<ul class="nav nav-tabs manage">
    <li class="@(ViewBag.Page == "Members"   ? "active" : "")"><a href="/Manage/Members"  >     Members</a></li>
    @*<li class="@(ViewBag.Page == "Reorganize"   ? "active" : "")"><a href="/Manage/Reorganize"> Reorganize</a></li>*@
    <li class="@(ViewBag.Page == "Positions" ? "active" : "")"><a href="/Manage/Positions">     Positions</a></li>
    <li class="@(ViewBag.Page == "Teams"     ? "active" : "")"><a href="/Manage/Teams"    >     Teams</a></li>
    @*<li class="@(ViewBag.Page == "Reviews"   ? "active" : "")"><a href="/Manage/Reviews">       Reviews</a></li>*@
    @*<li class="@(ViewBag.Page == "Data"  ? "active" : "")"><a href="/Manage/Data">  Data</a></li>*@
	@if ((ViewBag.ManagingOrganization ?? false) || (ViewBag.Organization != null && ViewBag.Organization.ManagersCanEdit))
	{
		<li class="@(ViewBag.Page == "Settings"  ? "active" : "")"><a href="/Manage/Organization">  Organization</a></li>
	}    
    @if ((ViewBag.ManagingOrganization ?? false) || (ViewBag.Organization != null && ViewBag.Organization.ManagersCanEdit))
    {
        <li class="@(ViewBag.Page == "Advanced"  ? "active" : "")"><a href="/Manage/Advanced">  Advanced</a></li>
    }
    @Html.Partial("_ExtraTab")
</ul>

