@model RadialReview.Controllers.ReviewController.ReviewDetailsViewModel
@using RadialReview.Models;
@{
    ViewBag.Title = Model.Review.ForUser.GetName()+ " - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = Model.Review.ForUser.GetName();
    ViewBag.ExtraTabs = ExtraTab.Create(
		"<span class='hover'><span class='icon new-icon-page-multiple'></span>Reports: " + Model.Review.Name+"</span>", "/Reports/Index/" + Model.Review.ForReviewsId + "#Reports",
        ViewBag.Page, "/Review/Details/" + Model.Review.Id
        );

    var pluralized = Model.Review.ForUser.GetName().Trim();
    if (pluralized.ToLower().EndsWith("s"))
    {
        pluralized += "'";
    }
    else
    {
        pluralized += "'s";
    }

    var heading = "Create " + pluralized + " report for '" + Model.Review.Name + "'";
}

@section top{
    @*<div class="aboveJumbotron"><h2>@heading</h2></div>*@
    <div class="jumbotron authorized @(Model.Review.ClientReview.Visible?"on":"")">
        <h1>Report</h1>
    </div>
}

@section header{
    @Html.Partial("_ReportsHeader")
}
<a href="top"></a>
<div class="row">
    <div class="col-md-3 ">
        <div class="row">
            <div class="col-sm-6 col-md-12 ">
                <div class="" style="padding-top:5px;font-size:12px">
                    @Html.Partial("_User", Model.Review.ForUser)
                </div>
                <div class="smallBreak2"></div>
            </div>
            <div class="col-sm-6 col-md-12 ">
                <!--SideBar-->
                @Html.Partial("Details/Sidebar", Model)
            </div>
        </div>
        <div class="smallBreak2"></div>
    </div>
    <div class="col-md-9 mainContent hidden">
        <!--Main Content-->
        @Html.Partial("Details/MainContent", Model)
        <div class="smallBreak"></div>
    </div>
</div>
@using (Html.BeginScripts())
{
    <script type="text/javascript">
	    var ReviewId = "@Model.Review.Id";
	    var ForReviewsId = "@Model.Review.ForReviewsId";
		var ForUserId = "@Model.Review.ForUserId";
		var IncludePrevious = @(Model.Review.ClientReview.ScatterChart.IncludePrevious?"true":"false");
    </script>
    @*<script src="~/Scripts/jquery/jquery.nouislider.js"></script>
	<script src="~/Scripts/d3/d3.v3.min.js"></script>
    <script src="/scripts/d3/d3.csv.js"></script>
	<script src="~/Scripts/d3/Scatter.v2.js"></script>
    <script src="~/Scripts/bootstrap-switch.js"></script>
    <script src="~/Scripts/review/translateSlider.js"></script>
    <script src="~/Scripts/jquery/jquery.ba-throttle-debounce.js"></script>
    <script src="~/Scripts/d3/Plot.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    
	<script src="~/Scripts/report/reportbuilder.js"></script>*@
    @Scripts.Render("~/bundles/ReviewDetails")
	<script>
		@{
			var client = Model.Review.ClientReview;
		}

	function setupSection(inputClass, initialValue, url) {
		var select = $("." + inputClass);
		select.prop("checked", initialValue);
		$(".panel-class-" + inputClass).toggleClass("isIncluded", initialValue);
		select.change(function() {
			UpdateInclude(url, $(this).is(':checked'), inputClass);
		});
	}

	$(document).bind("keyup keydown", function (e) {
	    if ((e.ctrlKey || e.metaKey) && e.keyCode == 80) {               
	        clickPrint();
	        e.preventDefault();
	    }
	});


	$(function() {
		var False = false;
		var True = true;		
		setupSection("includeNotes",@client.IncludeNotes, "/Review/SetIncludeNotes");
		setupSection("includeScatter",@client.IncludeScatterChart,"/Review/SetIncludeScatter");
		setupSection("includeEvaluation",@client.IncludeEvaluation,"/Review/SetIncludeEvaluation");

		setupSection("includeSelfAnswers",@client.IncludeSelfFeedback,"/Review/SetIncludeSelfAnswers");
		setupSection("includeManagerAnswers",@client.IncludeManagerFeedback,"/Review/SetIncludeManagerAnswers");
	    setupSection("includeAggregateAnswers",@client.IncludeQuestionTable,"/Review/SetIncludeTable");

	    setupSection("includeScorecard",@client.IncludeScorecard,"/Review/SetIncludeScorecard");

		setTimeout(function() {
			$(".mainContent").removeClass("hidden");
		}, 250);

		@*$(".includeScatter").prop("checked", @(client.IncludeScatterChart?"true":"false"));
		$(".includeScatter").change(OnclickScatter);

		$(".includeSelf").prop("checked", @(client.IncludeSelfFeedback?"true":"false"));
		$(".includeSelf").change(OnclickSelfAnswers);

		$(".includeNotes").prop("checked", @(client.IncludeNotes?"true":"false"));
		$(".includeNotes").change(OnclickNotes);*@


	});

</script>
	
}

@using (Html.BeginStyles())
{
	@*<link href="~/Content/Chart/Scatter.v2.css" rel="stylesheet" />
    <link href="~/Content/jquery.nouislider.css" rel="stylesheet" />
    <link href="~/Content/Chart/Chart.css" rel="stylesheet" />
    <link href="~/Content/toggle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch.css" rel="stylesheet" />
	<link href="~/Content/ReportBuilder/ReportBuilder.css" rel="stylesheet" />
    <link href="~/Content/ReportBuilder/evaluation.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/ReviewDetails")
    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
         
            background-color: #f7f7f7;
        }
    </style>
}
