@model RadialReview.Models.ViewModels.ReviewsListViewModel
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AlertBoxDismissable((string)ViewBag.Message, "alert-info", RadialReview.Properties.DisplayNameStrings.hey)

@section header{
    @Html.Partial("_ReportsHeader")
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@RadialReview.Properties.DisplayNameStrings.reviews</h3>
    </div>
    @if (Model.Reviews.Any())
    {
        <div class="table-responsive">
            <table class="table startHiddenGroup table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="startHidden">@RadialReview.Properties.DisplayNameStrings.name</th>
                        <th style="width: 100px; text-align: center">@RadialReview.Properties.DisplayNameStrings.due</th>
                        <th style="width:150px;text-align:center">@RadialReview.Properties.DisplayNameStrings.completion</th>
                        <th style="width:10px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var review in Model.Reviews.OrderByDescending(x => x.CreatedAt))
                    {
                        <tr class="startHidden clickable" onclick="location.href='@Url.Action("Take", new { id = review.Id, page = 0 })';">
                            <td class="table-hover-underline"><a>@review.Name</a></td>
                            <td style="text-align: center">@review.DueDate.ToShortDateString()</td>
                            <td>
                                @Html.Partial("_Completion", review.GetCompletion(false))
                                @*<div class="progress  @(!review.FullyComplete ? "active progress-striped" : "")"  style="margin-top: 7px; margin-bottom: 0px;" title="@((int)(review.Completion*100))%">
                                        <div class="progress-bar @(review.Completion < 1 ? "" : "progress-bar-success")" role="progressbar" aria-valuenow="@((int)(review.Completion * 100))" aria-valuemin="0" aria-valuemax="100" style="width: @((int)(review.Completion * 100))%;">
                                            <span class="sr-only">@((int)(review.Completion * 100))%</span>
                                        </div>
                                    </div>
                                *@
                            </td>
                            @*
    <td style="padding:2px;" class="rightButton">
            @{
    var button = "Begin";
    if (review.GetCompletion().Started)
    {
        button = "Edit";
    }
            }


            @if ((review.DueDate < DateTime.UtcNow) || review.GetCompletion().Illegal)
            {
                <div class="btn btn-default disabled fullWidth">@RadialReview.Properties.DisplayNameStrings.done</div>
            }
            else
            {
                <a class="btn btn-primary fullWidth" href="@Url.Action("Take", new { id = review.Id, page=0})">
                    @button
                </a>
            }
        </td>
*@
                                    <td class="">
                                        @if (review.ClientReview.Visible)
                                        {
                                            <a class="" href="Review/ClientDetails/@review.Id">Results</a>
                                        }
                                        @*else
                                        {
                                            <div class=" disabled " title="Not available yet">Results</div>
                                        }*@
                                    </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    }
    else
    {
        <div class="panel-body">
            <div>No reviews at this time.</div>
        </div>

    }
</div>
@Html.Partial("_Pagination", Model)