@model RadialReview.Models.ViewModels.ReviewsListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AlertBoxDismissable((string)ViewBag.Message, "alert-info", RadialReview.Properties.DisplayNameStrings.hey)

<h3>
    @RadialReview.Properties.DisplayNameStrings.reviews
</h3>


<table class="table startHiddenGroup">
    <tr>
        <th class="startHidden">@RadialReview.Properties.DisplayNameStrings.name</th>
        <th style="width: 100px; text-align: center">@RadialReview.Properties.DisplayNameStrings.due</th>
        <th style="width:150px;text-align:center">@RadialReview.Properties.DisplayNameStrings.completion</th>
        <th style="width:10px;"></th>
    </tr>
    @foreach (var review in Model.Reviews)
    {
        <tr class="startHidden">
            <td>@review.Name</td>
            <td style="text-align: center">@review.DueDate.ToShortDateString()</td>
            <td>
                @Html.Partial("_Completion",review)
                @*<div class="progress  @(!review.FullyComplete ? "active progress-striped" : "")"  style="margin-top: 7px; margin-bottom: 0px;" title="@((int)(review.Completion*100))%">
                    <div class="progress-bar @(review.Completion < 1 ? "" : "progress-bar-success")" role="progressbar" aria-valuenow="@((int)(review.Completion * 100))" aria-valuemin="0" aria-valuemax="100" style="width: @((int)(review.Completion * 100))%;">
                        <span class="sr-only">@((int)(review.Completion * 100))%</span>
                    </div>
                </div>
                *@
            </td>
            <td>
                @if ((review.GetCompletion().FullyComplete && review.DueDate < DateTime.UtcNow) || review.GetCompletion().Illegal)
                {
                    <div class="btn btn-default disabled fullWidth">@RadialReview.Properties.DisplayNameStrings.done</div>
                }
                else
                {
                    <a class="btn btn-primary fullWidth" href="@Url.Action("Take", new { id = review.Id, page=1})">@RadialReview.Properties.DisplayNameStrings.finish</a>
                }
            </td>
        </tr>
    }
</table>
