@model RadialReview.Controllers.ReviewController.TakeViewModel

@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_ReviewLayout.cshtml";
}

@using RadialReview.Models


@section header{

}
@section top{
    <div class="jumbotron">
        <h1>@Model.ForUser.GetName()</h1>
    </div>
}

<div class="row">
    
    <div class="col-md-12">
        <div>
            <div class="smallBreak"></div>
            @foreach (var group in Model.Answers.GroupBy(x => x.Askable.Category.Id))
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@group.FirstOrDefault().NotNull(x => x.Askable.Category.Category.Translate())</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("Slider", Tuple.Create(group.ToList().Where(x => x is SliderAnswer).Cast<SliderAnswer>().ToList(), Model.Editable))
                        @Html.Partial("Thumbs", Tuple.Create(group.ToList().Where(x => x is ThumbsAnswer).Cast<ThumbsAnswer>().ToList(), Model.Editable))
                        @Html.Partial("Feedback", Tuple.Create(group.ToList().Where(x => x is FeedbackAnswer).Cast<FeedbackAnswer>().ToList(), Model.Editable))
                    </div>
                </div>
            }
        </div>
    </div>

</div>

@section sidebar{

<div class="">
    @Html.Partial("_User", Model.ForUser)
</div>
    <ol>
        @for(int i=0;i<Model.OrderedPeople.Count;i++)
        {
            <li class="@(Model.OrderedPeople[i].Item2?"complete":"incomplete")"><a href="@Url.Action("take", new {id=Model.Id, page = i})">@Model.OrderedPeople[i].Item1</a></li>
        }
        <li><a href="@Url.Action("AdditionalReview", new { id = Model.Id ,page = Model.Page })">Review Others</a></li>
    </ol>
}

@using(Html.BeginStyles())
{    
    <link href="~/Content/Review.css" rel="stylesheet" />
    <style>
        .complete a {
            /*color: #52AC52 !important;*/
        }
        .incomplete a {
            color: #D68585 !important;
        }
    </style>
}