@using RadialReview.Models
@model RadialReview.Models.UserTemplate.UserTemplate.UT_Rock
@{
	var guid = Guid.NewGuid().ToString().Replace("-","");
}
<div class="roleRow">
	@using (Html.BeginCollectionItem("TemplateRocks"))
	{
		<div class="roww">
			<div style="width:calc( 100% - 25px );display:inline-block">
				@Html.HiddenFor(x => x.Id)
				@Html.TextBoxFor(x => x.Rock, new { @class = "form-control roleItem" })
				@Html.HiddenFor(x => x.DeleteTime)
			</div>
			<span style="padding-left: 8px;" class="glyphicon glyphicon-trash deleteRow clickable" title="Delete"></span>
		</div>

		<div class="lineAfter @(ViewBag.HidePeriod ?? false ? "hidden" : "")" style="width:calc( 100% - 25px );display:inline-block">
			@Html.DropDownListFor(x => x.PeriodId, (IEnumerable<SelectListItem>)ViewBag.Periods, new { @class = "form-control unlockRR-"+guid })
		</div>
		@Html.HiddenFor(x => x.TemplateId)
	}
	<div class="smallBreak"></div>
	<div class="smallBreak"></div>
	<hr />
</div>
