@{
    ViewBag.Title = RadialReview.Properties.DisplayNameStrings.createOrganization;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 jumbotron" style="height:300px;">
        <div class="container">

            <h2 class="text-center">@RadialReview.Properties.DisplayNameStrings.createOrganization</h2>
            <div class="smallBreak"></div>
            <div class="smallBreak"></div>
            <div class="smallBreak"></div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div class="row col-md-6 col-md-offset-3">
                    <div class="col-md-12">
						<input type="text" class="form-control" name="name" placeholder="@RadialReview.Properties.DisplayNameStrings.organizationName" />
	                    <label>Enable L10 Meeting Software:</label> 						@Html.CheckBox("enableL10")
						<label>Enable @Html.ReviewName() Software:</label> @Html.CheckBox("enableReview")
                    </div>
                    @*<div class="col-md-12">
                        @Html.CheckBox("managersCanEdit")
                        @Html.Label(RadialReview.Properties.DisplayNameStrings.managerCanAddQuestions)
                    </div>*@
                    <div class="smallBreak"></div>
                    <div class="row col-md-12" >
                        <button class="btn btn-success col-xs-12 col-sm-8 col-sm-offset-2">@RadialReview.Properties.DisplayNameStrings.create</button>
                    </div>
                </div>
                <div class="row">
                </div>

                @*<fieldset class="form-horizontal">
                        <div class="control-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                            <div class="controls">

                                <div class="input-group">
                                    @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>*@
            }
        </div>
    </div>
</div>
