@model RadialReview.Models.UserModels.TempUserModel




<div class="row">
	<div class="col-xs-3"><label>@(RadialReview.Properties.DisplayNameStrings.name):</label></div>
	<div class="row col-xs-9 noPadLeft">
		<div class="col-xs-6 noPadLeft">@Html.TextBoxFor(x => x.FirstName, new { placeholder = RadialReview.Properties.DisplayNameStrings.firstName, @class = "fullWidth form-control" })</div>
		<div class="col-xs-6 noPadRight noPadLeft">@Html.TextBoxFor(x => x.LastName, new { placeholder = RadialReview.Properties.DisplayNameStrings.lastName, @class = "fullWidth form-control" })</div>
	</div>
</div>
<div class="smallBreak"></div>
<div class="row">
	<div class="col-xs-3"><label>@(RadialReview.Properties.DisplayNameStrings.email):</label></div>
	<div class="col-xs-9">@Html.TextBoxFor(x => x.Email, new { placeholder = RadialReview.Properties.DisplayNameStrings.email, @class = "fullWidth form-control" })</div>
</div>
<div class="smallBreak"></div>
<div class="smallBreak"></div>
@if (Model.LastSent != null) {
	<div class="row">
		<div class="col-xs-12">
			<h4 style="color: #CC2424">Last sent : @Html.Partial("~/Views/Shared/DisplayTemplates/DateTime.cshtml", Html.Organization().ConvertFromUTC(Model.LastSent.Value)) @Html.Organization().ConvertFromUTC(Model.LastSent.Value).ToShortTimeString()</h4>
		</div>
	</div>
}
@if (ViewBag.IsRadialAdmin == true) {
	<div style="color:white;font-size:4px;">https://traction.tools/Account/Register?returnUrl=%2FOrganization%2FJoin%2F@(Model.Guid)</div>
}
@Html.Hidden("TempId", "" + Model.Id)
@Html.HiddenFor(x => x.Guid)
@Html.HiddenFor(x => x.EmailStatus)
@Html.HiddenFor(x => x.UserOrganizationId)
@Html.HiddenFor(x => x.EmailStatusUnseen)
@Html.HiddenFor(x => x.LastSentByUserId)