@using RadialReview.Models.Enums
@model IEnumerable<RadialReview.Models.OrganizationModel>

@{
	ViewBag.Title = "Which List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Html.Organization() != null)
{
	<div class="clearfix"></div>
	<h2 class="pull-left">Currently</h2>
	<h2 style="color: orange" class="pull-left"><a href="/organization/which/ @Html.Organization().Id"><b> @Html.Organization().GetName()</b></a></h2>
}
<div class="clearfix"></div>
<h4 class="pull-left">Server Time</h4>
<h4 style="color:orange" class="pull-left"><b>@DateTime.UtcNow.ToString()</b></h4>

<div class="clearfix"></div>
<h1 class="pull-left">Which List</h1>
<table class="table table-hover">
	<thead style="background-color: orange">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th class="alignCenter">Payment Plan</th>
			<th class="alignCenter">Account</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="row_@(item.Id)">
				<td>
					@item.Id
				</td>
				<td>
					<a href="/Organization/Which/@item.Id">@item.GetName()</a>
				</td>
				<td class="alignCenter">
					@if (item.PaymentPlan != null)
					{
						<a href="/Payment/Plan_Monthly?orgid=@item.Id">Plan</a>
					}
				</td>
				<td class="alignCenter account-@item.AccountType {sorter: 'digit'}">@Html.EnumDropDownList("at-" + item.Id, item.AccountType, new { onchange = "changeAccountType(this," + item.Id + ")" }) <span style="display: none">@((int)(item.AccountType+30)/10)</span></td>
				<td class="alignCenter deleteButton">
					<a class="clickable" onclick="confirmDelete('@item.GetName()',@item.Id)">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>


<script>
	function confirmDelete(name, id) {
		if (confirm('Are you sure you want to delete '+name)) {
			$.ajax({
				url: '/Organization/Delete/' + id,
				success: function() {
					$(".row_" + id).addClass("delete");
					$(".row_" + id+" deleteButton").prop('onclick',null).off('click');
				}
			});
		}
	}

	function changeAccountType(self, id) {
		$.ajax("/organization/setaccounttype/" + id + "?type=" + $(self).val());
	}
</script>
@using (Html.BeginScripts())
{
	<script>
	      $("table").tablesorter({
             // sortForce: [[0, 1]],
              sortStable: true,
          });
	</script>
}

@using (Html.BeginScripts())
{
	<style>
		tr.delete td {
			text-decoration: line-through;
		}

		.account-Paying select {
			background-color: #1b6b74;
			color: white;
			font-weight: bold;
		}
		
		.account-Dormant {
			color: gray;
		}
		.account-Other select {
			background-color: gray;
			color: white;
			font-weight: bold;
		}
		
		.account-Cancelled {
			color: lightgray;
			font-style: italic;
		}

		.account-Demo select {
			background-color: #d9534f;
			color: white;
			font-weight: bold;
		}

		.account-Implementer select {
			background-color: #ff7d00;
			color: white;
			font-weight: bold;
		}
	</style>
}