@model RadialReview.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3 col-sm-4 alignCenter hidden-xs">
        <div class="" onclick="window.location='@Url.Action("Profile","Account")'">
            <div>
                @Html.Partial("_UserModel", Model.User)
            </div>
            @if (!Model.GetCompletion().FullyComplete)
            {
                <div class="clickable" onclick="window.location='@Url.Action("Profile","Account")'">
                    <h4>Profile Completion</h4>
                    @Html.Partial("_Completion", Model)
                </div>
            }
        </div>
        <div class="smallBreak hidden-md"></div>
    </div>
    <div class="col-md-9 col-sm-8">
        <div class="review" style="min-height:30px">
            <h2 class="alignCenter">Welcome to Radial Review</h2>
            <div id="lipsum">
                <h3>Instructions for employees:</h3>
                <p>
                    Welcome to Radial Review, your 360 review provider. 

                    To begin taking your review, click on the Reviews button above by clicking <a href="@Url.Action("Index","Review")">here</a>.
                    After your coworkers have completed their reviews, Radial Review will aggregate the results for you and your manager to discuss.
                </p>
                <p>
                    Your profile image and name are an important way for you to ensure you are accurately reviewed. You can edit your profile image by clicking <a href="@Url.Action("Profile","Account")">here.</a>
                @if(ViewBag.IsManager)
                {
                <h3>Instructions for managament:</h3>
                    <p>
                        As a manager you can manage the organization from the Manage tab, or by clicking here <a href="@Url.Action("Index","Manage")">here</a>.
                        From the manage menu, you can add subordinates, responsibilities, positions, and teams to the organization.
                    </p>
                    <p>
                        Responsibilities are items an employee will be reviewed over.
                        Employees can have responsibilities to the whole organization, teams, positions, and can have personal responsibilities.
                        Each employee can have a unique set of responsibilities. 
                        Every user reviewing the employee will rate the employee on how well they are meeting their responsibilities.
                    </p>
                    <p>
                        Once all the responsibilities are in place, you can issue a review and specify a due date.
                        This will email all reviewees to let them know that they have a task to complete.
                    </p>
                    <p>
                        After everyone has completed their reviews, managers can view the results and create a report. 
                        Reports consist of charts and anonymous feedback. 
                        Subordinates will be able to view the report once they are authorized.
                    </p>
                }
                
            </div>
        </div>
    </div>
</div>