@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginStyles()) {
	<style>
		.indent {
			padding-left: 10px;
		}

		article {
			padding-left: 20px;
			margin-top: -10px;
		}

		.boldFirst tr td:first-child {
			font-weight: bold;
		}

		.header .title {
			font-size: 30px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 500;
			line-height: 1.1;
			float: left;
			margin-bottom: 5px;
		}

		.header .topLink {
			float: right;
			position: relative;
			top: 9px;
			right: 9px;
		}

		.header:after {
			content: ".";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
	</style>
}

@section top
{
	<a id="top" class="shiftByTitle"></a>
	<div class="jumbotron">
		<h1 class="noMargin alignCenter" style="color: #4E4D5F;">Frequently Asked Questions</h1>
		<br />
		<ul class="alignCenter noBullet">
			<li><a href="#Reviews">@Html.ProductName()</a></li>
			<li><a href="#Questions">Questions</a></li>
			<li><a href="#IssueReviews">Managing a @Html.ReviewName()</a></li>
			<li><a href="#ReviewSubordinates">Evaluating subordinates</a></li>
		</ul>
	</div>
}



<div style="border:1px solid red; padding:14px;width:100%;">
	@Html.ConvertFromUtcLocal(new DateTime(2016, 1, 1), "MM-dd-yyyy HH:mm:sstt")
</div>



<div class="header">
	<a id="Reviews" class="shiftByTitle"></a>
	<div class="title">@Html.ProductName()</div>
	<a href="#top" class="topLink">Top</a>
</div>
<div class="review">

	<article>
		<h4>What are @Html.ProductName()s?</h4>
		<p class="indent">
			@Html.ProductName()s are a mechanism for measuring the progress and direction of a company by collecting
			information from all employees about their perspective about their immediate coworkers. Immediate coworkers can include
			teammates, subordinates, superiors, and themselves. The @Html.ReviewName().ToLower() is a snapshot of the company's health and can be used
			to alert managment of positive and negative changes within the company.
		</p>

		<h4>Why issue @Html.ReviewName().ToLower()?</h4>
		<p class="indent">
			The health of a company is related to the psychological well-being of the employees that comprise it. A healthier company can lead to
			improved communication channels between employees and management which can be fostered to create efficient work channels giving your company
			an edge on the competition, reduce turnover, improve employee stamina and loyalty.
			A @Html.ReviewName().ToLower() can be thought of as a snapshot of the company's health. By issuing @Html.ReviewName().ToLower()s frequently, you can generate a moving picture of trends within
			the company and quickly detect divergances between expectations and quickly make changes saving your company time and money.
		</p>
	</article>


</div>
<br />
<div class="header">
	<a id="Questions" class="shiftByTitle"></a>
	<div class="title">Questions</div>
	<a href="#top" class="topLink">Top</a>
</div>
<div class="review">
	<article>
		<h4>What are questions?</h4>
		<p class="indent">
			Every employee has responsibilities to their company. Questions are a method of determining if expectations are being met.
			These questions can cover anything the comapny would like to measure qualitativly.
			They may range from the individuals performance to their attitude but are not restricted to these things.
			Before the @Html.ReviewName().ToLower() is issued, every employee should work with their supervisors to establish a set of questions that relate to their responsibilities to the company.
		</p>
		<div class="indent">
			Some examples of questions might be:
			<ul>
				<li>"Am I hitting my sales numbers?"</li>
				<li>"Am I pleasent to work with?"</li>
				<li>"Am I focused on the customer?"</li>
			</ul>
		</div>

		<h4>How are questions used?</h4>
		<p class="indent">
			When a @Html.ReviewName().ToLower() is issued, the employee's immediate coworkers are all asked questions of the employee.
			The answers are aggregated and presented to the employee's supervisors.
		</p>
	</article>

</div>
<br />

<div class="header">
	<a id="IssueReviews" class="shiftByTitle"></a>
	<div class="title">Managing a @Html.ReviewName().ToLower()</div>
	<a href="#top" class="topLink">Top</a>
</div>
<div class="review">
	<article>
		<h4>How do I issue a @Html.ReviewName().ToLower()?</h4>
		<div class="indent">
			Supervisor have the authority to issue a @Html.ReviewName().ToLower(). To do so, click "@Html.ReviewName()" tab in the main menu then click the "+" button. A dialog will appear with options for the @Html.ReviewName().ToLower().
			<div class="indent">
				<div class="indent">
					<table class="boldFirst">
						<tr><td> @Html.ReviewName() Name:</td><td>Can be anything you want, but should be something easy to identify.</td></tr>
						<tr><td>For Team:</td><td>You may issue a @Html.ReviewName().ToLower() for the entire company or for any team (autogenerated or not) within the company.</td></tr>
						<tr><td>Due:</td><td>The date which the @Html.ReviewName().ToLower() can no longer be edited.</td></tr>
						<tr><td>Send emails:</td><td>Checking this box will send an email notification to all employees being evaluated</td></tr>
						<tr><td>Users will evaluate Self:</td><td>Employees evaluate themselves</td></tr>
						<tr><td>Users will evaluate Peers:</td><td>Employees evaluate all subordinates of their supervisor.</td></tr>
						<tr><td>Users will evaluate Supervisors:</td><td>Employees evaluate all of their supervisors.</td></tr>
						<tr><td>Users will evaluate Direct Reports:</td><td>Employees evaluate all of their direct reports.</td></tr>
					</table>
				</div>
			</div>
		</div>

		<h4>How do I change an existing @Html.ReviewName().ToLower()?</h4>
		<div class="indent">
			You can update an outstanding @Html.ReviewName().ToLower() by clicking "@Html.ReviewName()s" and then "Details" on the particular @Html.ReviewName().ToLower(). From here, you can add/remove questions and users from the @Html.ReviewName().ToLower().
			To add a question, you must first add the question to the employee, then add the question to the @Html.ReviewName().ToLower().
		</div>
	</article>
</div>
<br />

<div class="header">
	<a id="ReviewSubordinates" class="shiftByTitle"></a>
	<div class="title">Evaluating direct reports</div>
	<a href="#top" class="topLink">Top</a>
</div>
<div class="review">
	<article>

		<h4>Discussing results with employees</h4>
		<p class="indent">
			After everyone has completed their @Html.ReviewName().ToLower()s, supervisors should take some time to sit down with their direct reports
			to discuss feedback from coworkers and plan out changes for the next cycle. If any abnormal changes occur between cycles,
			these should be discussed immediately to quickly fix any problems.
		</p>
		<h4>How do I prepare a @Html.ReviewName().ToLower()?</h4>
		<p class="indent">
			You can prepare @Html.ReviewName().ToLower()s for employees by clicking "@Html.ReviewName()s" then choosing the @Html.ReviewName().ToLower() then "View" for the chosen user.
		</p>
		<p class="indent">
			From this view, you can prepare charts for the user, add/remove feedback from others, add/remove the employee's answers, add/remove supervisors' answers, add/remove aggregate answers
		</p>
	</article>
</div>
