@using RadialReview.Models;
@using Microsoft.AspNet.Identity;
@model RadialReview.Models.ViewModels.ProfileViewModel

@{
	ViewBag.Title = "Manage Account";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Profile</h3>
			</div>
			<div class="panel-body">
				@using (Html.BeginForm("Manage", "Account", FormMethod.Post))
				{
					@Html.AntiForgeryToken()
					<div class="row">
						<div class="col-md-3">  First Name:</div>
						<div class="col-md-9">  @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })</div>
					</div>
					<div class="smallBreak"></div>
					<div class="row">
						<div class="col-md-3">  Last Name:</div>
						<div class="col-md-9">  @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })</div>
					</div>
					<div class="smallBreak"></div>
					<div class="row smallBreak">
						<div class="col-md-3">  Time to send To-Do Email:</div>
						<div class="col-md-9">  @Html.DropDownListFor(x => x.SendTodoTime, Model.PossibleTimes, new { @class = "form-control" })</div>
					</div>
					<div class="row">
						<div class="col-md-offset-2 col-md-10">
							<div class="row alignCenter">
								<button class="btn btn-default col-md-3 col-md-offset-4" value="Save">Save</button>
							</div>
						</div>
					</div>

				}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Password</h3>
			</div>
			<div class="panel-body">
				@if (ViewBag.HasLocalPassword)
				{
					@Html.Partial("_ChangePasswordPartial", (RadialReview.Models.ManageUserViewModel)Model.Manage, new ViewDataDictionary())
				}
				else
				{
					@Html.Partial("_SetPasswordPartial", (RadialReview.Models.ManageUserViewModel)Model.Manage, new ViewDataDictionary())
				}


				@*<section id="externalLogins">
						@Html.Action("RemoveAccountList")
						@Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
					</section>*@
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Profile Image</h3>
			</div>
			<div class="panel-body alignCenter">
				@Html.Partial("~/Views/Upload/Image.cshtml", new RadialReview.Models.ViewModels.ImageUploadViewModel()
					{
						ForType = RadialReview.Models.Enums.UploadType.ProfileImage.ToString(),
						Url = Model.ImageUrl,
						Width = 200,
						Height = 200,
					})
			</div>
		</div>
	</div>
</div>

<div class="row">

	@*<div class="col-md-6">
			@Html.Partial("~/Views/Upload/Image.cshtml", new RadialReview.Models.ViewModels.ImageUploadViewModel() {
					ForType=RadialReview.Models.Enums.UploadType.ProfileImage.ToString(),
					Url=ViewBag.ImageUrl,
					Width=200,
					Height=200,
			})
		</div>*@
</div>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
