@model RadialReview.Models.Issues.RockIssueVM

@Html.SecuredHiddenFor(x => x.ByUserId)
@Html.SecuredHiddenFor(x => x.MeetingId)
@Html.SecuredHiddenFor(x => x.RockId)
@Html.SecuredHiddenFor(x => x.RecurrenceId)
	
<div class="form-group">
	@Html.LabelFor(x => x.Message)
	@Html.TextBoxFor(x => x.Message, new { @class = "form-control", placeholder = "Enter the Issue", autocomplete = "off" })
</div>
<div class="form-group">
	@Html.LabelFor(x => x.Details)
	@Html.TextAreaFor(x => x.Details, new { @class = "form-control verticalOnly", rows = "6", placeholder = "Enter details (optional)" })
</div>

<div class="form-group">
	@Html.LabelFor(x => x.OwnerId)
	<select name="@Html.NameFor(x => x.OwnerId)" class="select-user form-control" style="width: 100%;height:64px;">
		@foreach (var u in Model.PossibleUsers.OrderBy(x => x.name))
		{
			<option data-img="@u.imageUrl" value="@u.id" @(u.id==Model.OwnerId?"selected":"")>@u.name</option>
		}
	</select>
</div>

<script>
	
	$(".select-user").select2({
		templateResult: imageListFormat,
		templateSelection: imageListFormat,
	});
</script>