@model RadialReview.Models.ViewModels.ReviewsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Reviews";
}

@*
@section header{
    @Html.Partial("Partial/manageheader")
}*@@using (Html.BeginStyles())
{
    <style>
        .bar {
        }
    </style>
}

@using (Html.BeginScripts())
{
    <script>
        function newTitle(item,about)
        {
            var progressBar=$(item).find(".progress-bar");
            var oldTitle = progressBar.attr("title");

            var newTitle = "Answers about " + about + " [" + oldTitle + "]";

            progressBar.attr("title", newTitle);
            return newTitle;

        }

        $(function () {
            $(".bar.Self").attr("title", function () {
                return newTitle(this, "self");
            });

            $(".bar.Manager").attr("title", function () {
                return newTitle(this, "managers");
            });

            $(".bar.Subordinate").attr("title", function () {
                return newTitle(this, "subordinates");
            });

            $(".bar.Peer").attr("title", function () {
                return newTitle(this, "peers");
            });

            $(".bar.Teammate").attr("title", function () {
                return newTitle(this, "teammates");
            });
        });
    </script>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Review : @Model.Review.ReviewName</h3>
        <div class="pull-right"></div>
    </div>
    <table class="table">

        <tr>
            <th></th>
            <th></th>
            <th style="height:84px;" class="alignCenter" colspan="5">@RadialReview.Properties.DisplayNameStrings.completion</th>
            <th></th>
        </tr>

        <tr style="height:30px;">
            <th>User</th>
            <th style="width:10px" title="Subordinate is authorized to view this report.">Visible</th>
            
            <th class="rotate" style="min-width:40px;max-width:40px;width:40px;">Self</th>
            <th class="rotate" style="min-width:40px;max-width:40px;width:40px;">Managers</th>
            <th class="rotate" style="min-width:40px;max-width:40px;width:40px;">Subordinates</th>
            <th class="rotate" style="min-width:40px;max-width:40px;width:40px;">Peers</th>
            <th class="rotate" style="min-width:40px;max-width:40px;width:40px;">Teammate</th>

            <th style="width:50px"></th>
        </tr>
        @foreach (var r in Model.Review.Reviews.ToListAlive().OrderBy(x=>x.ForUser.GetNameAndTitle()))
        {
            <tr class="@(r.ForUser.GetPersonallyManaging()?"managing":"not-managing")">
                <td>@r.ForUser.GetNameAndTitle()</td>
                <td class="alignCenter">
                    @r.ClientReview.Visible.GetIcon()
                </td>

                @foreach(var bar in r.GetCompletion(true).GetCompletions())
                {
                    <td style="padding: 5px 1px 1px 1px !important; ">                        
                        @Html.Partial("_Completion", bar)
                    </td>
                }

                <td style="padding: 2px;" class="rightButton">
                    @if (r.ForUser.GetPersonallyManaging())
                    {
                        <a class="btn btn-primary fullWidth " href="@Url.Action("Details", "Review", new { id=r.Id })">View</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>