@model RadialReview.Models.ViewModels.ReviewsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Reviews";
}

@section header{
    @Html.Partial("Partial/manageheader")
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Review : @Model.Review.ReviewName</h3>
        <div class="pull-right"></div>
    </div>
    <div class="panel-body">
        <div class="btn btn-primary" onclick="@Html.ShowModal("Add Question", "/Reviews/AddQuestion/" + Model.Review.Id, "/Reviews/AddQuestion/")">
            Add Question
        </div>
        <div class="btn btn-primary" onclick="@Html.ShowModal("Remove question", "/Reviews/RemoveQuestion/" + Model.Review.Id, "/Reviews/RemoveQuestion/", preSubmitCheck: "validateRemoval")">
            Remove Question
        </div>
        <div class="btn btn-primary" onclick="@Html.ShowModal("Add user", "/Reviews/Update/" + Model.Review.Id, "/Reviews/Update/")">
            Add User
        </div>
    </div>

    <table class="table">
        <tr>
            <th>User</th>
            <th style="width:10px" title="Subordinate is authorized to view this report.">Visible</th>
            <th style="width:120px" class="alignCenter">Completion</th>
            <th style="width:50px"></th>
        </tr>
        @foreach (var r in Model.Review.Reviews)
        {
            <tr class="@(r.ForUser.GetPersonallyManaging()?"managing":"not-managing")">
                <td>@r.ForUser.GetNameAndTitle()</td>
                <td class="alignCenter">
                    @r.ClientReview.Visible.GetIcon()
                </td>
                <td>
                    @Html.Partial("_Completion", r)
                </td>
                <td style="padding: 2px;" class="rightButton">
                    @if (r.ForUser.GetPersonallyManaging())
                    {
                        <a class="btn btn-primary fullWidth " href="@Url.Action("Details", "Review", new { id=r.Id })">View</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>