@model RadialReview.Models.ViewModels.OrgReviewsViewModel
@using RadialReview.Models
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = Html.ReviewName() + "s";
	ViewBag.Subheading = "";
	var showDropdown = Model.Reviews.Any(x => x.DropdownLinks.Any());
}

@section top{
	<div class="jumbotron">
		<h1>@Html.ReviewName()s</h1>
	</div>
}

@section header{
	@*Html.Partial("_ReviewsHeader")*@
}
@using (Html.BeginStyles()) {
	<style>
		.fontastic-icon-checklist {
			position: relative;
			top: -2px;
		}

		.advanced-link {
			color: #AB3333;
		}

		html, body {
			background-color: #eee;
		}

		.reviews-table td {
			vertical-align:middle !important;
		}
	</style>

}

@using (Html.BeginScripts()) {

}
@if (ViewBag.IsManager ?? false) {
	<div style="text-align: right;margin-bottom: 3px;">
		<a class="btn btn-primary btn-invert" href="/Issue/">Issue New @Html.ReviewName()</a>
	</div>
}

<div class="panel panel-primary startHiddennGroup">
	<div class="panel-heading hidden">
		<h3 class="panel-title">Your @Html.ReviewName().ToLower()s:</h3>
	</div>
	@if (Model.Reviews.Any()) {
		@*<div class="table-responsive">*@
		<table class="table table-condensed tablesorter tablefilter tablesorter-default table-hover reviews-table">
			<thead>
				<tr>
					<th style="width:80px" class="alignCenter hidden-xs1">Status</th>
					@if (Model.Reviews.Any(x => x.UserReview != null && x.UserReview.ClientReview.Visible)) {
						<th style="width: 90px;" data-title="Your Report">Your Report</th>
					}
					<th style="min-width: 100%">@Html.ReviewName() @RadialReview.Properties.DisplayNameStrings.name</th>
					@*<th style="width:100px" class="alignCenter">Created</th>*@
					<th style="width:100px" class="alignCenter hidden-xs1">Due</th>

					@if (showDropdown) {
						<th style="width: 36px;min-width: 36px;max-width: 36px;padding:0"></th>
					}				

				</tr>
			</thead>
			<tbody>
				@foreach (var review in Model.Reviews) {
					var takable = review.TakableId;
					@*var edit = review.Review.Reviews.FirstOrDefault(x => x.ForUserId == ViewBag.UserId);*@
					<tr class="startHiddenn @(review.Review.DueDate > DateTime.UtcNow ? "" : "grayRoww")">

						<td class="alignCenter hidden-xs1">
							@Model.CreateLabel(review)
						</td>
						<td>
							@if (review.TakableId != null) {
								<a href='/Review/Take/@review.Review.Id'>
									@review.Review.ReviewName
								</a>
							} else {
								@review.Review.ReviewName
							}
						</td>
						<td class="alignCenter hidden-xs1">
							@Html.Partial("~/Views/Shared/DisplayTemplates/DateTime.cshtml", review.Review.DueDate.Subtract(TimeSpan.FromDays(1)))
						</td>

						@if (showDropdown) {
							<td>
								@if (review.DropdownLinks.Any()) {
									<div class="btn-group">
										<button id="" type="button" class="btn btn-default btn-sm dropdown-toggle l10-extra-options" data-toggle="dropdown" aria-expanded="false">
											<span style="top: 2px;" class="glyphicon glyphicon-chevron-down"></span>
										</button>
										<ul class="dropdown-menu alignLeft pull-right" role="menu">
											@foreach (var link in review.DropdownLinks) {
												if (link == null) {
													<li class="divider"></li>
												} else {
													<li>@link</li>
												}
											}
										</ul>
									</div>
								}
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
			@*</div>*@

	} else {
		<div class="panel-body gray">
			There are no @Html.ReviewName().ToLower()s at this time.
		</div>
	}
</div>
@Html.Partial("_Pagination", Model)

