@using RadialReview.Models.Enums
@model RadialReview.Models.Scorecard.MeasurableModel
<div class="roleRow">
	@using (Html.BeginCollectionItem("Measurables"))
	{
		<div class="roww">
			<div style="width:calc( 100% - 25px );display:inline-block">
				@Html.HiddenFor(x => x.Id)
				<div class="row">
					<div class="col-sm-6">@Html.TextBoxFor(x => x.Title, new { @class = "form-control roleItem" })</div>
					<div class="col-sm-3 noPadLeft noPadRight">@Html.EnumDropDownListFor(x => x.GoalDirection, new { @class = "form-control roleItem" })</div>
					<div class="col-sm-3">
						<input type="number" class="form-control roleItem" name="@Html.NameFor(x=>x.Goal)" value="@((Model.Goal).ToString("0.#####"))" />
						@*@Html.TextBoxFor(x => x.Goal, new { @class = "", @type = "number" })*@
					</div>
				</div>																
				@Html.HiddenFor(x => x.DeleteTime)
				@Html.HiddenFor(x => x.CreateTime)
				@Html.HiddenFor(x => x.NextGeneration)
				@Html.HiddenFor(x => x.DueDate)
				@Html.HiddenFor(x => x.DueTime)
			</div>
			<span style="padding-left:8px;top: -9px;" class="glyphicon glyphicon-trash deleteRow clickable" title="Delete"></span>
		</div>
	}
	<div class="smallBreak"></div>
	<div class="smallBreak"></div>
</div>