@model RadialReview.Models.L10.VM.L10MeetingVM
<span class="button-bar">
	<div class="btn-group">
		<div class="btn btn-default btn-xs notesButton">
			<span class="icon fontastic-icon-align-left-2"></span> Notes
		</div>
	</div>
	<div class="btn-group">
		<div class="btn btn-default btn-xs issuesModal @(Model.CanEdit?"":"disabled")"
			 data-method="createissue"
			 data-meeting="@Model.Meeting.Id"
			 data-recurrence="@Model.Recurrence.Id">
			<span class="icon fontastic-icon-pinboard"></span> New Issue
		</div>
		<div class="btn btn-default btn-xs todoModal @(Model.CanEdit?"":"disabled")"
			 data-method="createtodo"
			 data-meeting="@Model.Meeting.Id"
			 data-recurrence="@Model.Recurrence.Id">
			<span class="glyphicon glyphicon-unchecked"></span> New Todo
		</div>
	</div>


</span>