@model RadialReview.Models.Issues.IssueModel.IssueModel_Recurrence

<li class="issue-row dd-item"
    data-createtime="@(Model.CreateTime.ToJavascriptMilliseconds())" 
    data-checked="@(Model.CloseTime==null?"False":"True")" 
    data-recurrence_issue="@Model.Id" 
    data-issue="@Model.Issue.Id" 
    data-message="@Model.Issue.Message.EscapeHtml()" 
    data-details="@Model.Issue.Description.EscapeHtml()"
>
	<input data-recurrence_issue="@Model.Id" class="issue-checkbox" type="checkbox" @(Model.CloseTime==null?"":"checked")/>
	<div class="move-icon noselect dd-handle">
		<span class="outer icon fontastic-icon-three-bars icon-rotate"></span>
		<span class="inner icon fontastic-icon-primitive-square"></span>
	</div>	
	<div class="btn-group pull-right">
		<span class='issuesModal issuesButton icon fontastic-icon-forward-1' 
		      data-copyto="@Model.Recurrence.Id" 
		      data-recurrence_issue="@Model.Id"
			  data-method='copymodal'></span>
	</div>
	<div class="message">@Model.Issue.Message</div>
	<div class="issue-details-container"><div class="issue-details">@Model.Issue.Description</div></div>
	<ol class="dd-list">
		@foreach (var i in Model._ChildIssues.OrderBy(x => x.Ordering))
		{
			@Html.Partial("~/Views/L10/partial/IssueRow.cshtml", i)
		}
	</ol>
</li>