@model RadialReview.Models.Todo.TodoModel

<li class="todo-row dd-item"
	data-createtime="@(Model.CreateTime.ToJavascriptMilliseconds())"
	data-checked="@(Model.CompleteTime==null?"False":"True")"
	data-todo="@Model.Id"
	data-message="@Model.Message.EscapeHtml()"
	data-details="@Model.Details.EscapeHtml()"
    data-name="@Model.AccountableUser.GetName()" 
    data-imageurl="@Model.AccountableUser.ImageUrl(true,ImageSize._32)"
>
	<input data-todo="@Model.Id" class="todo-checkbox" type="checkbox" @(Model.CompleteTime == null ? "" : "checked") />
	<div class="move-icon noselect dd-handle">
		<span class="outer icon fontastic-icon-three-bars icon-rotate"></span>
		<span class="inner icon fontastic-icon-primitive-square"></span>
	</div>
	<span class="profile-image">@Html.Partial("_ProfilePicture", Model.AccountableUser)</span>
	@*<div class="btn-group pull-right">
			<span class='issuesModal issuesButton icon fontastic-icon-forward-1'
				  data-copyto="@Model.ForRecurrenceId"
				  data-recurrence_issue="@Model.Id"
				  data-method='copymodal'></span>
		</div>*@
	<div class="message">@Model.Message</div>
	<div class="todo-details-container"><div class="todo-details">@Model.Details</div></div>
</li>