@model RadialReview.Controllers.UploadController.UploadScorecardSelectedDataVM


@using (Html.BeginForm("SubmitScorecard", "upload", FormMethod.Post)) {
    @*@Html.AntiForgeryToken();
    <button class="btn btn-success" type="submit">Submit</button>*@
    @*<input type="hidden" name="RecurrenceId" value="@Model.RecurrenceId" />*@
    @*<input type="hidden" name="UseAWS" value="@Model.UseAWS.ToString()" />*@
    <input type="hidden" name="Path" value="@Model.Path" />
    <input type="hidden" name="ScoreRange" value="@Model.ScoreRange" />
    <input type="hidden" name="DateRange" value="@Model.DateRange" />
    <input type="hidden" name="MeasurableRectType" value="@Model.MeasurableRectType" />


    <div class="clearfix"></div>
    <div class="table-responsive">
        <table class="table table-bordered resultTable">
            <thead>
                <tr>
                    <th style="min-width: 120px;">Owner</th>
                    <th style="min-width: 120px;">Best Guess</th>
                    <th style="min-width: 180px;">Measurable</th>
                    <th>Goal</th>
                    <th>Direction</th>
                    <th>Units</th>
                    @foreach (var d in Model.Dates) {
                        <th>@d.ToShortDateString()</th>
                    }

                </tr>
            </thead>
            <tbody>
                @{var i = 0;}
                @foreach (var row in Model.Scores) {
                    try { 
                    var users = Model.UserLookup[Model.Users[i]].GetProbabilities().OrderByDescending(x => x.Value).Select(x => x.Key).ToSelectList(x => x.Item1 + " " + x.Item2, x => x.Item3);
                    if (!users.Any()) {
                        users = Model.AllUsers.OrderBy(c=>c.Text).ToList();
                    }
                   
                    var measurable = Model.Measurables[i];
                    var goal = Model.Goals[i];
                    var dir = Model.Direction[i];
                    var unit = Model.Units[i];
                    <tr>
                        <td style="font-style:italic">@Model.Users[i]</td>
                        <td>@Html.DropDownList("m_user_" + i, users)</td>
                        <td>@Html.TextBox("m_measurable_" + i, measurable, new { style="width:100%;"})</td>
                        <td>@Html.TextBox("m_goal_" + i, goal, new { type = "numeric", step = "any" })</td>
                        <td>@Html.EnumDropDownList("m_goaldir_" + i, dir)</td>
                        <td>@Html.EnumDropDownList("m_goalunits_" + i, unit)</td>
                        @foreach (var c in row) {
                            <td>@c</td>
                        }
                    </tr>
                    } catch (Exception e) {
                        <tr><td style="color:red">Error? @Model.Measurables[i]</td></tr>
                    }
                    i++;
                }
            </tbody>
        </table>
    </div>
}