@model RadialReview.Models.ViewModels.DragDropItem

<li class="dragableDragDropItem @Model.Classes modifiable" id="@Model.Id" title="@Model.AltText">
    <div class="dragDropItem">
        <img data-src="holder.js/94x94" class="img-polaroid userImage" alt="@Model.AltText" style="width: 94px !important; height: 94px !important;" src="@Model.ImageUrl" />
        <div class="displayName">@Model.DisplayName</div>
    </div>
</li>