@model RadialReview.Models.ViewModels.DragDropItem
    


<li class="dragableDragDropItem @Model.Classes modifiable" id="@Model.Id" title="@Model.AltText">
    <div class="dragDropItem">
        <img data-src="holder.js/65x65" class="img-polaroid userImage" alt="@Model.AltText" style="width: 65px !important; height: 65px !important;" src="@Model.ImageUrl" />
        <div class="displayName">@Model.DisplayName</div>
    </div>
</li>