@{
	var headers = (ViewBag.AddHeaders == null || ((bool)ViewBag.AddHeaders) == true);
	var controller = (ViewBag.AddController != null && ((bool)ViewBag.AddController) == true);
	var datepicker = (ViewBag.AddDatePicker == null || ((bool)ViewBag.AddDatePicker) == true);
	var rockName = (ViewBag.RockName ?? Html.Organization().NotNull(x => x.Settings.NotNull(y => y.RockName)));
	var selector = ViewBag.Selector as string ?? "(model.Rocks)";
	var filter = ViewBag.Filter as string ?? "";// | filter:filters.byRange('CompleteTime',model.dataDateRange.startDate,model.dataDateRange.endDate)";
												//var order = ViewBag.Order as string ?? "| orderBy: ['Complete','-CompleteTime','DueDate']";

	var orderVariable = ViewBag.OrderSelector ?? "order_" + Guid.NewGuid().ToString().Replace("-", "");
	var defaultSort = ViewBag.DefaultSort ?? "'-CreateTime'";

	var usePopup = ViewBag.UsePopup == true;

	var recurrenceId = ViewBag.RecurrenceId ?? "model.Id";

	var attrLookup = new Dictionary<string, string>(){
		{"status-column",""},
		{"picture-column",""},
		{"message-column",""},
		{"due-column",""},
		{"createtime-column",""},
		{"company-rock-column",""},
		{"delete-column",""}
	};
	attrLookup[ViewBag.SortBy ?? "picture-column"] += " ts-default=\"" + (ViewBag.SortByDirection ?? "ascending") + "\"";

}
<div @(headers ? "ng-app=L10App" : "") class="meeting-review ng-cloak rock-list-container app">
    <div @(headers || controller ? "ng-controller=L10Controller" : "")>       
        <div id="Rocks_list" class="tab-pane rock-pane scrollbox scroller">
            <div></div>
            <md-table-container class="repeater-container">
                <table md-table @*ts-wrapper*@ width="100%" class="component" ng-show="(@(selector)  @(filter)).length">
                    <thead md-head md-order="@(orderVariable)" ng-init="@(orderVariable) =@(orderVariable) || @(defaultSort)">
                        <tr class="table-header" md-row>
                            <th class="icon-column"></th>
                            <th md-column @(attrLookup["status-column"]) class="status-column hidden-width-1" md-order-by="Completion">Status</th>
                            <th md-column @(attrLookup["picture-column"]) class="picture-column" style="width: 32px; display: table-cell;" md-order-by="Owner.Name" title="Accountable">Acc</th>
                            <th md-column @(attrLookup["message-column"]) class="message-column" md-order-by="Name">Rock</th>
                            <th md-column md-numeric @(attrLookup["createtime-column"]) class="createtime-column alignCenter" md-order-by="CreateTime">Create Time</th>
                            <th md-column md-numeric @(attrLookup["due-column"]) class="due-column alignCenter" md-order-by="DueDate">Due Date</th>
                            <th md-column @(attrLookup["company-rock-column"]) class="company-rock-column checkbox-column">Company Rock</th>
                            <th md-column @(attrLookup["delete-column"]) class="delete-column"></th>
                        </tr>
                    </thead>
                    <tbody md-body @*vs-repeat vs-autoresize vs-scroll-parent=".repeater-container"*@>
                        <tr ng-hide="rock.Hide" @*ts-repeat*@ class="{{rock.Completion}}  keep-background" id="rock_{{::rock.Id}}" data-rock="{{::rock.Id}}" ng-repeat="rock in @(selector) | orderBy: @(orderVariable) @(filter)" md-row>
                            <td class="icon-column"></td>
                            <td md-cell class="rock-completion-container hidden-width-1 status-column" style="min-width: 80px;;vertical-align: top;">
                                <md-select aria-label="Status" ng-model="rock.Completion" ng-change="functions.sendUpdate(rock)" ng-class="forRock_{{::rock.Id}}" class="keep-background rock-completion1 rock-completion-status {{rock.Completion}}">
                                    <md-option ng-repeat="item in rockstates" value="{{item.value}}" ng-selected="{{ rock.Completion === item.value ? 'true' : 'false' }}">
                                        {{item.name}}
                                    </md-option>
                                </md-select>
                            </td>
                            <td md-cell class="picture-column">
                                <span class="item-wrapper place-right">
                                    <span class="" onaftersave="functions.sendUpdate(rock)" editable-select="rock.Owner" onshow="loadPossibleOwners(@(recurrenceId))" e-ng-options="s as s.Name for s in possibleOwners[@(recurrenceId)]">
                                        <profile-image class="" user="rock.Owner"></profile-image>
                                    </span>
                                </span>
                            </td>
                            <td md-cell class="message-column name" style="width:100%">
								@if (usePopup) {
									<div class="rockModal rock-name blend" data-method="EditModal" data-title="Edit rock" data-Id="{{rock.Id}}">{{rock.Name}}</div>
								} else {
									<input ng-model-options="{debounce: 400}" ng-model="rock.Name" placeholder="Enter rock here" type="text" class="rock-name blend" ng-change="functions.sendUpdate(rock)" title="{{rock.Name}}">
								}
                            </td>
                            <td md-cell class="createtime-column">
                                {{::rock.CreateTime | date:dateFormat}}
                            </td>
                            <td md-cell class="due-column alignCenter due-date" style="min-width: 80px;">
                                <input class="blend" placeholder="Enter due date" ng-class="rock.Complete?(''):(rock.DueDate>now? 'green' : 'red')" data-rock="{{::rock.Id}}" type="text" value="{{rock.DueDate | date:dateFormat}}" n ng-model-options="{debounce: 400}" />
                            </td>
                            <td md-cell class="company-rock-column checkbox-column" style="min-width: 15px;">
                                <md-checkbox aria-label="Company Rock" ng-model="rock.CompanyRock" class="md-align-top-left" ng-change="functions.sendUpdate(rock)" title="Company Rock"></md-checkbox>
                            </td>
                            <td md-cell class="delete-column" style="min-width: 15px;"><span class="delete-row" ng-click="functions.removeRow($event,rock)" title="Delete Rock"></span></td>
                        </tr>

                    </tbody>
                </table>
                <div class="loader-container" style="display:none">@{Html.RenderPartial("~/Views/Shared/Partial/MaterialIndefiniteLoader.cshtml");}</div>
                <div class="create-row" ng-click="functions.addRow($event,'AngularRock')" data-toggle="tooltip" data-placement="left" title="New Rock"></div>
                <div class="gray empty-search" style="padding: 15px 15px;" ng-show="(@(selector)  @(filter)).length==0">
                    No @rockName fit your search criteria.
                </div>
        </div>
    </div>
</div>
