@{
    var headers = (ViewBag.AddHeaders == null || ((bool)ViewBag.AddHeaders) == true);
    var controller = (ViewBag.AddController != null && ((bool)ViewBag.AddController) == true);
    var completion = (ViewBag.AddCompletion == null || ((bool)ViewBag.AddCompletion) == true);
    var datepicker = (ViewBag.AddDatePicker == null || ((bool)ViewBag.AddDatePicker) == true);
    var selector = ViewBag.Selector as string ?? "model.Todos | transform:this";

}
<div @(headers ? "ng-app=L10App" : "") class="meeting-review ng-cloak todo-list-container app">
    <div @(headers || controller ? "ng-controller=L10Controller" : "")>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left name"><h3 style="margin-top: 5px;">{{model.Name}}</h3></div>
                @if (datepicker)
                {
                    <div class="calendar-container pull-right clearfix" style="width: 240px;">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <input date-range-picker id="daterange3" class="form-control date-picker" type="text" name="date" ng-model="model.date" options="opts" required placeholder="Select a date range..." />
                        <b class="caret"></b>
                    </div>
                    <div class="height-placeholder" style="height:40px"></div>
                }
                <div id="Todo" class="tab-pane todo-pane scrollbox pull-left fullWidth">
                    <div></div>
                    <div ng-repeat="(key,value) in @(selector) | groupBy: 'Owner.Name' ">
                        <table width="100%" class="component table-hover" ng-if="(value | filter:filters.byRange('CompleteTime',model.date.startDate,model.date.endDate)).length" click-anywhere-but-here="model.Selected = -1">
                            <thead>
                                <tr class="table-header" ng-show="$first">
                                    <td>
                                        <table class="fullWidth">
                                            <tr>
                                                <th style="width: 25px;"></th>
                                                <th class="picture-column"></th>
                                                <th>To-Do</th>
                                                <th style="width:85px;" class="alignCenter hidden-width-1">Due Date</th>
                                                <th class="empty-cell"></th>
                                                @if (completion)
                                                {
                                                    <th style="width:90px;" class="alignCenter hidden-width-1">Completed</th>
                                                }
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </thead>
                            @*| orderBy: ['Complete','-CompleteTime','Name']*@
                            <tbody>
                                <tr id="todo_{{::todo.Id}}" @*'Complete','-CompleteTime','DueDate'*@
                                    ng-repeat="todo in value @*| orderBy: ['DueDate']*@ | filter:filters.byRange('CompleteTime',model.date.startDate,model.date.endDate) track by $index"
                                    ng-class="{grayRow: todo.Complete}"
                                    class="clickable">
                                    <td>
                                        <table class="fullWidth">
                                            <tr>
                                                <td class="todo-checkbox-container clickable" style="min-width: 25px;text-align: center;vertical-align:top">
                                                    <input type="checkbox" ng-model="todo.Complete" ng-change="functions.updateComplete(this);functions.sendUpdate(todo)" style="margin-top: 10px;" />
                                                </td>
                                                <td class="picture-column">
                                                    <span data-value="{{todo.Owner.Id}}" data-placement="right" data-display="false" class="inlineEdit" data-type="select" data-pk="{{::todo.Id}}" data-url="/L10/XUpdateTodo" data-name="accountable" data-source="/Dropdown/MeetingMembers/{{::model.Id}}?userId=true">
                                                        <profile-image user="todo.Owner"></profile-image>
                                                    </span>
                                                </td>
                                                <td class="todo-text" style="width:100%" ng-click="todo.DetailsUrl_Src=todo.DetailsUrl;model.Selected = todo.Key;">
                                                    <div ng-if="model.Selected!=todo.Key">{{todo.Name}}</div>
                                                    <div class="todo-text" ng-if="model.Selected==todo.Key">
                                                        <input ng-model-options="{debounce: 400}" type="text" ng-model="todo.Name" style="width:90%;width:calc(100% - 20px);" ng-change="functions.sendUpdate(todo)" />
                                                        <a class="pull-right" ng-if="todo.Link!=null" target="_blank" href="{{::todo.Link}}" style="margin-top: 4px;margin-right: 2px;"><span class="glyphicon glyphicon-comment"></span></a>
                                                        <iframe style="background-color: white" width="100%" ng-src="{{::trustAsResourceUrl(todo.DetailsUrl_Src)}}" ng-data-src="{{::todo.DetailsUrl}}"></iframe>
                                                    </div>
                                                </td>
                                                <td class="alignCenter hidden-width-1" style="min-width: 85px;vertical-align: top;">
                                                    <input ng-class="todo.Complete?(todo.DueDate>todo.CompleteTime? 'green' : 'red'):(todo.DueDate>=now? 'green' : 'red')" class="due-date" data-todo="{{::todo.Id}}" type="text" ng-value="todo.DueDate | date:'MM/dd/yyyy'" />
                                                </td>
                                                <td class="empty-cell" style="min-width: 15px;"></td>
                                                @if (completion)
                                                {
                                                    <td class="alignCenter" style="min-width: 75px;vertical-align: top;">{{todo.CompleteTime | date:'MM/dd/yy'}}</td>
                                                }
                                            </tr>
                                            @*<tr id="todo_{{todo.Id}}" ng-if="model.Selected==todo.Key" ng-class="{grayRow: todo.Complete}">
                                                <td style="min-width: 25px;text-align: center;"><input type="checkbox" ng-model="todo.Complete" ng-change="functions.updateComplete(this);functions.sendUpdate(todo)" /></td>
                                                <td class="picture-column"><profile-image user="todo.Owner"></profile-image></td>
                                                <td style="width:100%" class="todo-text"></td>
                                                <td class="alignCenter hidden-width-1" style="min-width: 85px;vertical-align: top;">
                                                    <input class="due-date" data-todo="{{todo.Id}}" type="text" ng-value="todo.DueDate | date:'MM/dd/yyyy'" />
                                                </td>
                                                <td class="empty-cell" style="min-width: 15px;"></td>
                                                @if (completion)
                                                {
                                                    <td class="alignCenter hidden-width-1" style="min-width: 75px;">{{todo.CompleteTime | date:'MM/dd/yy'}}</td>
                                                }
                                            </tr>
                                            <tr style="color:gray" ng-if="model.Selected==todo.Key" ng-class="{grayRow: todo.Complete}">
                                                <td></td>
                                                <td class="picture-column"></td>
                                                <td class="hidden-width-1">
                                                    @*<textarea ng-model-options="{debounce: 400}" class="fullWidth verticalOnly" ng-model="todo.Details" placeholder="Enter to-do details..." style="min-height: 100px;" ng-change="functions.sendUpdate(todo)"></textarea>*
                                                    <iframe style="background-color: white" width="100%" ng-src="{{trustAsResourceUrl(todo.DetailsUrl_Src)}}" ng-data-src="{{todo.DetailsUrl}}"></iframe>
                                                </td>
                                                <td class="hidden-width-1 alignCenter gray" style="vertical-align: top;">
                                                    <a class="" ng-if="todo.Link!=null" target="_blank" href="{{todo.Link}}"><span class="glyphicon glyphicon-comment"></span></a>
                                                </td>
                                                <td class="empty-cell"></td>
                                                @if (completion)
                                                {
                                                    <td class="hidden-width-1"></td>
                                                }
                                            </tr>*@
                                        </table>
                                    </td>



                                </tr>
                                @*<tr>
                                        <td  colspan="@(completion?"6":"5")>

                                        </td>
                                    </tr>*@

                            </tbody>
                        </table>
                    </div>
                    <div class="gray no-todos" style="padding: 30px 15px;" ng-if="(@(selector) | filter:filters.byRange('CompleteTime',model.date.startDate,model.date.endDate)).length==0">
                        No to-dos fit your search criteria.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer='defer'>
    var setupTodoListEvents = function () {
        if (typeof (window.once_todo_partial_list) == "undefined") {
            $(document).on('focus', ".due-date", function () {
                if (!$(this).attr("init")) {

                    var nowDateStr = new Date();
                    var now = new Date(nowDateStr.getYear() + 1900, nowDateStr.getMonth(), nowDateStr.getDate());
                    //var now = new Date();

                    var todo = $(this).attr("data-todo");
                    $(this).datepickerX({
                        format: 'mm/dd/yyyy',
                        //todayBtn: true
                    }).on('changeDate', function (ev) {
                        debugger;
                        var data = { date: ev.date.valueOf() };
                        var $scope = angular.element($('[ng-controller="L10Controller"]')).scope();
                        $scope.$apply(function () {
                            var evdate = new Date(ev.date.getYear() + 1900, ev.date.getMonth(), ev.date.getDate());
                            $scope.model.Lookup["AngularTodo_" + todo].DueDate = new Date(evdate.getTime() + (new Date().getTimezoneOffset() * 60000));
                        });
                        //$("[data-todo=" + todo + "]").val(moment(ev.date).format('MM/DD/YYYY'));
                        $.ajax({
                            method: "POST",
                            data: data,
                            url: "/L10/UpdateTodoDate/" + todo,
                            success: function (dd) {
                                showJsonAlert(dd);
                            }
                        });
                    });
                    $(this).attr("init", 1);
                    $(this).blur();
                    var that = this;
                    setTimeout(function () {
                        $(that).datepickerX("show");
                    }, 10);
                }
            });
            /*var $element = $('#daterange3');
            if ($element.length){
				var scope = angular.element($element).scope();
				if (!scope.model)
					scope.model = {};
				scope.model.date = {
					startDate: moment().subtract('days',1).toDate(),
					endDate: moment().add('days',2).toDate()
				};
			}*/
        }
    };

    if (window.jQuery)
        setupTodoListEvents();
    else
        document.addEventListener("jquery-loaded", setupTodoListEvents);


</script>