
@{
	var guid = Guid.NewGuid().ToString().Replace("-", "");
	var href = ViewBag.Href; //"/Account/SetRole/{0}"
	var onclick = ViewBag.OnClick;
	var tag = new HtmlString("<div");
	var tagEnd = "</div>";
	if (href != null) {
		onclick = (onclick ?? "") + ";window.location=\"" + string.Format(href, "\"+d.Id+\"") + "\";";
	}
	//if (onclick != null) {
	//	tag = new HtmlString(tag + " onclick=\\\"" + string.Format(onclick, "\\\"+d.Id+\\\"") + "\\\" ");
	//}
	tag = new HtmlString(tag + ">");

	var nameAttr = "";
	if (ViewBag.Name != null) {
		nameAttr = " name=" + new HtmlString(ViewBag.Name);
	}

	var multipleAttr = "";
	if (ViewBag.multiple != null) {
		multipleAttr = " multiple=" + new HtmlString("");
	}

	var searchUrl = ViewBag.SearchUrl ?? "/Search/OrganizationUsers";
}


<select id="selectusers-@guid" class="selectusers selectusers-@guid" @nameAttr style="width:100%;padding-right:1px;" @multipleAttr></select>

<input type="hidden" @(nameAttr + "Text") />
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<style>
	.select2-container .select2-selection--single {
		/*height: 28px !important;*/
	}
</style>
<script>
	//$.fn.select2.amd.require(
	//	["select2/core", "select2/utils", "select2/compat/matcher"],
	//	function (Select2, Utils, oldMatcher) {
	function a@(guid)() {
		$.getScript("//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js").done(function () {
			//delete (jQuery.fn.select2.amd.require._defined["select2/dropdown/selectOnClose"])
			//jQuery.fn.select2.amd.define("select2/dropdown/selectOnClose",[], function () {
			//	function SelectOnClose() { }
			//	SelectOnClose.prototype.bind = function (decorated, container, $container) {
			//		debugger;
			//		var self = this;
			//		decorated.call(this, container, $container);
			//		container.on('close', function () {self._handleSelectOnClose();});
			//	};

			//	SelectOnClose.prototype._handleSelectOnClose = function () {
			//		debugger;
			//		var $highlightedResults = this.getHighlightedResults();
			//		// Only select highlighted results
			//		if ($highlightedResults.length < 1) {
			//			return;
			//		}
			//		var data = $highlightedResults.data('data');
			//		// Don't re-select already selected resulte
			//		if (
			//		  (data.element != null && data.element.selected) ||
			//		  (data.element == null && data.selected)
			//		) {
			//			return;
			//		}
			//		this.trigger('select', {
			//			data: data
			//		});
			//	};
			//	return SelectOnClose;
			//});



			var template = function (d) {
				var des = "";
				var org = "";
				var name = "";
				var img = "";
				if (typeof (d.Name) === "string")
					name = d.Name;
				if (typeof (d.Description) === "string")
					des = " " + d.Description;

				if (typeof (d.ImageUrl) === "string")
					img = profilePicture(d.ImageUrl, name);

				if (d.loading)
					return d.text;

				var markup = "<div class='searchresult-image'>" + img + "</div>" +
				  "<div class='searchresult-meta'>" +
					"<div class='searchresult-title'>" + name + "</div>" +
					"<div class='searchresult-description'>" + des + "</div>" +
				  "</div>";

				return markup;
			};
			var tid = setInterval(function () {
				if (document.readyState !== 'complete') return;
				clearInterval(tid);
				// do your work
				var select2 = $(".selectusers-@guid").select2({
					closeOnSelect: true,
					placeholder: { Name: "Who is this about?" },
					//selectOnClose: true,
					ajax: {
						url: "@searchUrl",
						dataType: 'json',
						delay: 450,
						data: function (params) {
							return {
								search: params.term,
							};
						},
						processResults: function (data, page) {
							data.forEach(function (d, i) {
								d.id = d.Id;
							});
							return {
								results: data
							};
						},
						cache: true
					},
					escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
					minimumInputLength: 1,
					templateResult: function (d) {
						return "@(tag)<div class='searchresult clearfix' data-id='" + d.Id + "'>" + template(d) + "</div>@(new HtmlString(tagEnd))";
					},
					templateSelection: function (d) {
						return "<div class='searchresult searchresult-selected'>" + template(d) + "</div>";
					}
				}).on("change", function (e) {
					//console.info($(this).select2('data')[0].Name);
					$("[@(nameAttr + "Text")]").val($(this).select2('data')[0].Name);
				});
				$(window).keyup(function (e) {
					var code = (e.keyCode ? e.keyCode : e.which);
					if (code == 9 && $('.selectusers-@guid + .select2-container .select2-selection:focus').length) {
						$(select2).select2("open");

					}
				});
				$(".selectusers-@guid + .select2-container .select2-selection").on("focus", function () {
					$(select2).select2("open");
				});
				$(select2).on("select2:select", function (e) {
					var d = {
						Id: $(this).val()
					};

					@(new HtmlString(onclick))
				});

				var existing = false;
				var tabOut = false;
				var hadShift = false;
				var selectedId = null;
				var enterOut = false;
				var key, blur;
				function getSelectedId() {
					var open = $(".select2-results__option--highlighted");
					if (open.length)
						selectedId = $(".select2-results__option--highlighted .searchresult").data("id");
					else
						selectedId = null;
					console.log("s:" + selectedId);
				}

				$("body").on("focus", ".select2-search__field", function () {
					tabOut = false;
					enterOut = false;
					hadShift = false;
					if (existing)
						clearTimeout(existing);
					existing = setTimeout(function () {
						if (key) {
							try { $("body").off(key); } catch (e) { }
						}
						if (blur) {
							try { $("body").off(blur); } catch (e) { }
						}
						key = $("body").keydown(function (e) {
							var code = (e.keyCode ? e.keyCode : e.which);
							if (code == 9)
								tabOut = true;
							if (event.shiftKey)
								hadShift = true;
							if (code == 13)
								enterOut = true;
						});

						var lastHighlight=null;
						var interval = setInterval(function () {
							lastHighlight = $(".select2-results__option--highlighted");
						}, 70);

						var blurTimeout = false;
						blur = $("body").on("focusout", ".select2-search__field", function (e) {
							if (!enterOut || tabOut) {
								lastHighlight.trigger('mouseup');
								enterOut = true;
							}
								//e.preventDefault();
							//e.preventDefault();
							//debugger;
							//$(this).trigger({ type: 'keypress', which: 13, keyCode: 13 });
							if (interval)
								clearInterval(interval);
							if (blurTimeout)
								clearTimeout(blurTimeout);
							//if (selectedIdInterval)
							//	clearInterval(selectedIdInterval);
							blurTimeout = setTimeout(function () {
								if (tabOut) {
									console.log("tabOut");
									console.log(lastHighlight);
									var selection = $(".selectusers-@guid + .select2-container .select2-selection");
									if (hadShift)
										setTimeout(function () { $.tabPrev(selection); }, 1);
									else
										setTimeout(function () { $.tabNext(selection); }, 1);
								}
								try { $("body").off(key); } catch (e) { }
								try { $("body").off(blur); } catch (e) { }

							}, 1);
						});
					}, 10);
				});
			}, 100);
		});
	}

	function defer@(guid)() {
		if (window.jQuery)
			a@(guid)();
		else
			setTimeout(function () { defer@(guid)() }, 50);
	}
	defer@(guid)();
</script>