@model  RadialReview.Models.ViewModels.QuestionModalViewModel


<!--Add Question-->
<input type="hidden" name="questionId" value="@Model.Question.Id" />
<input type="hidden" name="forOriginId" value="@Model.OriginId" />
<input type="hidden" name="organizationId" value="@Model.OrganizationId" />
<input type="hidden" name="questionType" value="@(Model.OriginType.ToString())" />

<div class="form-group">
    <div class="row">
        <div class="col-xs-2"><label>@(RadialReview.Properties.DisplayNameStrings.question): &nbsp;</label></div>
        <div class="col-xs-9">@Html.TextBox("question", Model.Question.Question ?? "", new { placeholder = "Question", @class = "fullWidth form-control" })</div>
    </div>
    <div class="row">
        <div class="col-xs-2"><label>@(RadialReview.Properties.DisplayNameStrings.category): &nbsp;</label></div>
        <div class="col-xs-6">@Html.DropDownList("categoryId", Model.Categories.Select((x, i) => new SelectListItem() { Selected = (x.Id == Model.Question.CategoryId), Text = x.Category, Value = "" + x.Id }), new { @class = "fullWidth form-control" })</div>
        <div class="col-xs-3"><a class="btn btn-default fullWidth" href="@Url.Action("Create","Category")">Create</a></div>
    </div>
    @if(!Model.New)
    { 
        <div class="smallBreak"></div>
        <div class="row">
            <div class="col-xs-2">
                <a class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

