@model  RadialReview.Models.ViewModels.QuestionModalViewModel


<!--Add Question-->


<div class="row">
    <div class="col-sm-2"><label>@(RadialReview.Properties.DisplayNameStrings.question):</label></div>
    <div class="col-sm-9">@Html.TextBox("question", Model.Question.GetQuestion(), new { placeholder = "Question", @class = "fullWidth form-control" })</div>
</div>
<div class="smallBreak"></div>
<div class="row">
    <div class="col-sm-2"><label>@(RadialReview.Properties.DisplayNameStrings.type):</label></div>
    <div class="col-sm-9">@Html.DropDownList("questionType", Model.QuestionTypes.Select((x, i) => new SelectListItem() { Selected = (x == Model.Question.QuestionType), Text = x.GetDisplayName(), Value = x.ToString() }), new { @class = "fullWidth form-control" })</div>

</div>
<div class="smallBreak"></div>
<div class="row">
    <div class="col-sm-2"><label>@(RadialReview.Properties.DisplayNameStrings.category):</label></div>
    <div class="col-xs-9 col-sm-6">@Html.DropDownList("categoryId", Model.Categories.Select((x, i) => new SelectListItem() { Selected = (x.Id == Model.Question.CategoryId()), Text = x.Category.Translate(), Value = "" + x.Id }), new { @class = "fullWidth form-control" })</div>
    <div class="col-xs-3 col-sm-3"><a class="btn btn-default fullWidth" href="@Url.Action("Create","Category")">@RadialReview.Properties.DisplayNameStrings.New</a></div>
</div>
@if (!Model.New)
{
    <div class="smallBreak"></div>
    <div class="smallBreak"></div>
    <div class="hidden" id="areYouSure">
        <div class="alert alert-danger alert-dismissable">
            @RadialReview.Properties.MessageStrings.areYouSureDelete
            <br />
            <a class="btn btn-danger" onclick="deleteIt()">@RadialReview.Properties.DisplayNameStrings.yesDeleteIt</a>
            <a class="btn btn-default" onclick="noDontDelete()">@RadialReview.Properties.DisplayNameStrings.cancel</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-sm btn-danger fullWidth" id="deleteButton" onclick="showDelete()">Delete</a>
        </div>
    </div>
}

<input type="hidden" name="questionId" value="@Model.Question.Id" />
<input type="hidden" name="forOriginId" value="@Model.OriginId" />
<input type="hidden" name="originType" value="@(Model.OriginType.ToString())" />


<script>
    function showDelete() {
        $("#areYouSure").removeClass("hidden");
        $("#deleteButton").addClass("hidden");
    }

    function noDontDelete() {
        $("#areYouSure").addClass("hidden");
        $("#deleteButton").removeClass("hidden");
    }

    function deleteIt() {

        $.ajax({
            url: '@Url.Action("Delete", "Question", new {id=Model.Question.Id,organizationId=Model.OrganizationId })',
            error: function (jqxhr, status, error) {
                showAlert("@RadialReview.Properties.ExceptionStrings.AnErrorOccured");
            },
            complete: function (data) {
                $('#modal').modal('hide');
                location.reload();
            }
        });
    }

   // $('#question').setCursorToTextEnd();

</script>