@{
	var headers = (ViewBag.AddHeaders == null || ((bool)ViewBag.AddHeaders) == true);
	var controller = (ViewBag.AddController != null && ((bool)ViewBag.AddController) == true);

	//var datepicker = (ViewBag.AddDatePicker == null || ((bool)ViewBag.AddDatePicker) == true);
	//var includeOwner = (ViewBag.IncludeOwner == null || ((bool)ViewBag.IncludeOwner) == true);
	//var rockName = (ViewBag.RockName ?? Html.Organization().NotNull(x => x.Settings.NotNull(y => y.RockName)));
	//var includeTitle = (ViewBag.IncludeTitle == null || ((bool)ViewBag.IncludeTitle) == true);
	var selector = ViewBag.Selector as string ?? "model.IssuesList";
	//var order = ViewBag.Order as string ?? "| orderBy: ['Complete','-CompleteTime','DueDate']";
	var showDetails = (ViewBag.ShowDetails == null || ((bool)ViewBag.ShowDetails) == true);

	var guid = Guid.NewGuid().ToString().Replace("-", "");
	var detailsCode = showDetails ? "issue.DetailsUrl_Src=issue.DetailsUrl;model.Selected = issue.Key+'"+ guid + "'" : "";

	var allowEditOwner = ViewBag.AllowEditOwner == null || ((bool)ViewBag.AllowEditOwner) == true;

	var filter = (ViewBag.Filter ?? " | filter:filters.byRange('CompleteTime',model.dataDateRange.startDate,model.dataDateRange.endDate)");


	var orderVariable = ViewBag.OrderSelector ?? "order_" + Guid.NewGuid().ToString().Replace("-", "");
	var defaultSort = ViewBag.DefaultSort ?? "'-CreateTime'";

	var recurrenceId = ViewBag.RecurrenceId ?? "model.Id";

	var attrLookup = new Dictionary<string, string>(){
		{"checkbox-column",""},
		{"priority-column",""},
		{"owner-column",""},
		{"issue-column",""},
		{"createtime-column",""},
		{"complete-column",""},
		{"vto-column",""},
		{"delete-column",""}
	};
	attrLookup[ViewBag.SortBy ?? "createtime-column"] += " ts-default=\"" + (ViewBag.SortByDirection ?? "ascending") + "\"";

}

<div @(headers ? "ng-app=L10App" : "") class="meeting-review ng-cloak issues-list-container app scroller issues-pane">
    <div @(headers || controller ? "ng-controller=L10Controller" : "")>
        <div class="row">
            <div class="col-md-12 priority-{{@(selector).Prioritization}}">
                <md-table-container class="repeater-container">
                    <table md-table @*ts-wrapper*@ width="100%" class="component "
                           click-anywhere-but-here="model.Selected = -1"
                           ng-show="((@(selector)).Issues @(filter)).length">
                        <thead md-head md-order="@(orderVariable)" ng-init="@(orderVariable) =@(orderVariable) || @(defaultSort)">
                            <tr md-row>
                                <th md-column @(attrLookup["checkbox-column"]) class="checkbox-column" md-order-by="Complete">&nbsp;</th>
                                <th md-column @(attrLookup["priority-column"]) class="priority-column" md-order-by="Priority">Priority</th>
                                <th md-column @(attrLookup["owner-column"]) class="owner-column" md-order-by="Owner.Name">&nbsp;</th>
                                <th md-column @(attrLookup["issue-column"]) class="issue-column message-column" md-order-by="Name" style="padding-left: 4px;">Issue</th>
                                <th md-column md-numeric @(attrLookup["createtime-column"]) class="createtime-column" md-order-by="CreateTime">Created</th>
                                <th md-column md-numeric @(attrLookup["complete-column"]) class="complete-column" md-order-by="CompleteTime">Completed</th>
                                <th md-column md-numeric @(attrLookup["vto-column"]) class="vto-column"></th>
                                <th md-column md-numeric @(attrLookup["delete-column"]) class="delete-column"></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr ng-hide="issue.Hide" ng-repeat="issue in ((@(selector)).Issues) | orderBy: @(orderVariable) @(filter)"
                                ng-class="{grayRow: issue.Complete}"
                                class="clickable"
                                data-issue="{{::issue.Id}}"
                                md-row>
                                <td md-cell class="checkbox-column">
                                    <md-checkbox aria-label="Complete" ng-model="issue.Complete" class="md-align-top-left" ng-change="functions.updateComplete(this);functions.sendUpdate(issue)"></md-checkbox>

                                </td>
                                <td md-cell class="priority-column" style="vertical-align: top;padding-top: 5px;">
                                    <priority ng-model="issue.Priority" ng-change="functions.sendUpdate(issue)"></priority>
                                </td>
                                <td md-cell style="vertical-align: top" class="owner-column picture-column">
                                    <span class="item-wrapper place-right">
                                        @if (allowEditOwner) {
                                            <span onaftersave="functions.sendUpdate(issue)"
                                                  editable-select="issue.Owner"
                                                  onshow="loadPossibleOwners(@(recurrenceId))"
                                                  e-ng-options="s as s.Name for s in possibleOwners[@(recurrenceId)]">
                                                <profile-image user="issue.Owner"></profile-image>
                                            </span>
                                        } else {
                                            <profile-image user="issue.Owner"></profile-image>

                                        }
                                    </span>
                                </td>
                                <td md-cell class="issue-column message-column" style="width:100%;padding-left:2px" ng-click="@(detailsCode)">
                                    <input class="blend" placeholder="Enter issue here" ng-model-options="{debounce: 75}" type="text" ng-model="issue.Name" class="fullWidth" ng-change="functions.sendUpdate(issue)" title="{{issue.Name}}" />
                                    <div class="iframe-container" ng-if="model.Selected==issue.Key+'@guid'">
                                        <iframe class="details-row keep-background" style="background-color: white" width="100%" ng-src="{{::trustAsResourceUrl(issue.DetailsUrl_Src)}}" ng-data-src="{{::issue.DetailsUrl}}"></iframe>
                                    </div>
                                    <table class="sub-issue-column">
                                        <tr ng-repeat="sub in issue.Children" class="gray">
                                            <td style="width:20px;"></td>
                                            <td>{{::sub.Name}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td md-cell class="alignCenter createtime-column" style="min-width: 75px;">{{issue.CreateTime | date:dateFormat}}</td>
                                <td md-cell class="alignCenter complete-column" style="min-width: 75px;">{{issue.CompleteTime | date:dateFormat}}</td>
                                <td md-cell class="vto-column">
                                    <span class="move-to-vto" ng-click="functions.moveToVto(issue)"></span>
                                </td>
                                <td md-cell class="delete-column">
                                    <span class="delete-row" ng-click="functions.removeRow($event,issue)"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div class="loader-container" style="display:none">@{Html.RenderPartial("~/Views/Shared/Partial/MaterialIndefiniteLoader.cshtml");}</div>
                <div class="create-row" ng-click="functions.addRow($event,'AngularIssue')" data-toggle="tooltip" data-placement="left" title="New Issue"></div>
                <div class="component gray empty-search" style="padding: 30px 15px;clear: both;display:inline-block;" ng-show="((@(selector)).Issues @(filter)).length==0">
                    No issues fit your search criteria.
                </div>
            </div>
        </div>
    </div>
</div>
