@model IEnumerable<RadialReview.Models.Onboard.OnboardingUser>

@{
	ViewBag.Title = "Signups";
	ViewBag.FullWidth = true;
}

<h2>Signups</h2>

<div class="table-responsive">
	<table class="table">
		<tr>
			@*<th>
					@Html.DisplayNameFor(model => model.CurrentPage)
				</th>*@
			<th style="min-width:91px;">
				@Html.DisplayNameFor(model => model.StartTime)
			</th>
			<th>
				CompleteTime
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Position)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CompanyName)
			</th>
			@*<th>
						@Html.DisplayNameFor(model => model.CurrentlyImplementingEOS)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.CurrentlyRunningLevel10Meetings)
					</th>
				<th>
					@Html.DisplayNameFor(model => model.DesiredOutcome)
				</th>*@
			<th>
				@Html.DisplayNameFor(model => model.ImplementerName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Website)
			</th>
			@*<th>
						@Html.DisplayNameFor(model => model.PaymentPlan)
					</th>
					<th>
							@Html.DisplayNameFor(model => model.EosStartedAgo)
						</th>
				<th>
					@Html.DisplayNameFor(model => model.Address_1)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Address_2)
				</th>*@

			@*<th>
					@Html.DisplayNameFor(model => model.DisableEdit)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Guid)
				</th>*@
			<th>
				@Html.DisplayNameFor(model => model.EosStartTime)
			</th>
			<th>
				OrgId
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserId)
			</th>

			@*<th>
					@Html.DisplayNameFor(model => model.DeleteTime)
				</th>*@
			@*<th>
						@Html.DisplayNameFor(model => model.ContactCompleteTime)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.OutcomeCompleteTime)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.L10CompleteTime)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.CreditCardCompleteTime)
					</th>
				<th>
					@Html.DisplayNameFor(model => model.CreateOrganizationTime)
				</th>*@
			<th>
				@Html.DisplayNameFor(model => model.City)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.State)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Zip)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Country)
			</th>
			<th>
					@Html.DisplayNameFor(model => model.UserAgent)
				@*</th>
				<th>
					@Html.DisplayNameFor(model => model.Languages)
				</th>*@
		</tr>

		@foreach (var item in Model.Where(x=> !string.IsNullOrWhiteSpace(x.Email) || !string.IsNullOrWhiteSpace(x.LastName) || !string.IsNullOrWhiteSpace(x.FirstName) || !string.IsNullOrWhiteSpace(x.Phone))) {
			<tr>
				@*<td>
						@Html.DisplayFor(modelItem => item.CurrentPage)
					</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.StartTime)
				</td>
				<td>
					@if (item.CreateOrganizationTime > new DateTime(1902, 1, 1)) {
						@Html.DisplayFor(modelItem => item.OrganizationCompleteTime)
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Position)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CompanyName)
				</td>

				@*<td>
						@Html.DisplayFor(modelItem => item.CurrentlyImplementingEOS)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CurrentlyRunningLevel10Meetings)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DesiredOutcome)
					</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.ImplementerName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Website)
				</td>
				@*<td>
						@Html.DisplayFor(modelItem => item.PaymentPlan)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EosStartedAgo)
					</td>*@
				@*<td>
						@Html.DisplayFor(modelItem => item.Address_1)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Address_2)
					</td>*@

				@*<td>
						@Html.DisplayFor(modelItem => item.DisableEdit)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Guid)
					</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.EosStartTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrganizationId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserId)
				</td>
				@*<td>
						@Html.DisplayFor(modelItem => item.DeleteTime)
					</td>*@
				@*<td>
						@Html.DisplayFor(modelItem => item.ContactCompleteTime)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.OutcomeCompleteTime)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.L10CompleteTime)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreditCardCompleteTime)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreateOrganizationTime)
					</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.State)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Zip)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Country)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserAgent)
				</td>
				@*<td>
						@Html.DisplayFor(modelItem => item.Languages)
					</td>*@
			</tr>
		}

	</table>
</div>

<style>
	td, th {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0 2px !important;
	}
</style>