@model RadialReview.Models.FirePad.FirePadData
@{
    Layout = null;
}
<!doctype html>
<!-- See http://www.firepad.io/docs/ for detailed embedding docs. -->
<html>
<head>
    <meta charset="utf-8" />
    
    @Scripts.Render("~/bundles/FirePad")
    @Styles.Render("~/Content/FirePad")
   
    <style>
        html {
            height: 100%;
        }

        body {
            margin: 0;
            height: 100%;
            position: relative;
        }
        /* Height / width / positioning can be customized for your use case.
         For demo purposes, we make firepad fill the entire browser. */
        #firepad-container {
            width: 100%;
            height: 100%;
        }

            #firepad-container .firepad-btn {
                border-bottom-width: 1px;
            }

            #firepad-container .firepad-toolbar {
                height: 35px;
                line-height: 0px;
                background: #eee;
            }

            #firepad-container .firepad-btn a, span {
                font-size: 12px;
            }

        .firepad-with-toolbar .CodeMirror {
            top: 27px;
            position: relative;
        }
    </style>
</head>
<body onload="init()">
    @Html.HiddenFor(x => x.firepadRef)
    @Html.HiddenFor(x => x.text)
    @Html.HiddenFor(x => x.padID)
    
    <div>
        <div id="firepad-container"></div>       
    </div>
    <script>
        //let FireClass
        function init() {
            alert('test');
            FireClass = new FireClass(document.getElementById("firepadRef"),
                                            document.getElementById("text"),
                                            document.getElementById("padID"),
                                            document.getElementById('firepad-container'));
            FireClass.init();
        }
    </script>
</body>
</html>
