
@{
    Layout = null;
}
<!doctype html>
<!-- See http://www.firepad.io/docs/ for detailed embedding docs. -->
<html>
<head>
    <meta charset="utf-8" />
    
    @Scripts.Render("~/bundles/FirePad")
    @Styles.Render("~/Content/FirePad")
    @Scripts.Render("~/bundles/jquery")
   
</head>
<body onload="init()">
    

    @Html.Hidden("padID", (String)ViewBag.padID)
    @Html.Hidden("readOnly",(bool)ViewBag.readOnly)


    <div>
        <div id="firepad-container"></div>       
    </div>
    <script>
        
        function init() {
            
           firePadClass = new FirePadClass(document.getElementById("padID"),
                                            document.getElementById('firepad-container'), document.getElementById("readOnly"));
            
            firePadClass.init();
        }
    </script>
</body>
</html>
