@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    @Html.PageStyles()

</head>
<body>
    <div id="wrap">
        <div id="main">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div id="logo">
                            <div class="link">
                                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                                    <span style="z-index:1000001;position:relative;">Radial</span>
                                    <div class="circles">
                                        <div class="circle2 navbar-brand"></div>
                                        <div class="circle1 navbar-brand"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @if (Request.IsAuthenticated)
                            {
                                if (ViewBag.IsManager)
                                {
                                    <li>@Html.ActionLink("Manage", "Manage", "Organization")</li>
                                }
                            }
                            else
                            {
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                            }
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            @RenderSection("top", false)
            <div class="container body-content">
                <div id="alerts">
                </div>
                @RenderBody()
                <hr />
            </div>
            <div id="spinnerContainer"></div>
        </div>
        @Html.Partial("Partial/_Modal")
        @using(var s=Html.BeginScripts())
        {
            <script>
                function showModal(title,pullUrl,pushUrl)
                {
                    $.ajax({
                        url:pullUrl, 
                        type: "GET",
                        //Couldnt retrieve modal partial view
                        error:function(jqxhr,status,error)
                        {
                            if (error == "timeout")
                                showAlert("@RadialReview.Properties.ExceptionStrings.TimeoutException");
                            else
                                showAlert(status);
                        },
                        //Retrieved Partial Modal
                        success: function (modal) {
                            if (!modal) {
                                showAlert("@RadialReview.Properties.ExceptionStrings.SomethingWentWrong");
                                return;
                            }
                            $('#modalBody').html(modal);
                            $("#modalTitle").html(title);
                            //Reregister submit button
                            $("#modalForm").submit(function (e) {
                                e.preventDefault();
                                var serialized = $("#modalForm").serialize();
                                $.ajax({
                                    url: pushUrl,
                                    type:"POST",
                                    data: serialized,
                                    success: function (data, status, jqxhr) {
                                        if (!data) {
                                            showAlert("@RadialReview.Properties.ExceptionStrings.SomethingWentWrong");
                                        } else if (data.error) {
                                            showAlert(data.message);
                                        } else {
                                            location.reload();
                                        }
                                    },
                                    error: function (jqxhr, status, error) {
                                        if (error == "timeout") {
                                            showAlert("@RadialReview.Properties.ExceptionStrings.TimeoutException");
                                        } else {
                                            showAlert("@RadialReview.Properties.ExceptionStrings.SomethingWentWrong");
                                        }
                                        $("#modal").modal("hide");
                                    },
                                    dataType: "html"
                                });
                            });
                            $('#modal').modal('show');
                        }
                        
                       
                    });
                }

                function showAlert(message, alertType) {
                    if (alertType === undefined)
                        alertType = "alert-danger";
                    var alert = $("<div class=\"alert " + alertType + " alert-dismissable start\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button><strong>@RadialReview.Properties.MessageStrings.Warning</strong> <span class=\"message\">" + message + "</span></div>");
                    $("#alerts").prepend(alert);
                    setTimeout(function () { alert.removeClass("start"); }, 1);
                }

            </script>
            
        }

    </div>
    <div id="footer">
        <p>&copy; @DateTime.Now.Year - Radial Enterprises</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("modals", required: false)
    @Html.PageScripts()
</body>
</html>
