@model object

@using Microsoft.AspNet.Identity
@using RadialReview.Properties
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        @Html.Partial("_Picture", (string)ViewBag.UserImage, new ViewDataDictionary(){
			{ "ImageTitle", ((string)ViewBag.UsersName) },
			{ "Initials", ViewBag.UserInitials },
			{ "Color", ViewBag.UserColor }
		})
        <ul class="nav navbar-nav navbar-right1">

            <li>
                <div class="btn-group heading" style="padding:8px;">
                    <button type="button" href="@Url.Action("Details", "User", new { id = ViewBag.UserId })"
                            style="overflow-x: hidden;text-overflow: ellipsis;white-space: nowrap; max-width:256px;padding-right:11px;"
                            class="btn btn-default heading  dropdown-toggle" data-toggle="dropdown">
                        @(ViewBag.UserName ?? "Manage")
                        <span class="caret"></span>
                    </button>
                    @*< class="btn btn-default heading>
                        @*<span class="sr-only">Toggle Dropdown</span>*
                    </button>*@
                    <ul class="dropdown-menu" role="menu">
                        @{var doDivider = false;}
                        @if (ViewBag.IsManager ?? false) {
                            <li>
                                <a href="@Url.Action("Index", "Manage")" title1="Add members, edit teams, rocks, roles and measurables">
                                    Manage @(Html.Organization().NotNull(x => x.GetName()) ?? "Organization")
                                    <span id="ManageNotification" style="display:none;" class="glyphicon glyphicon-exclamation-sign"></span>
                                </a>
                            </li>
                            doDivider = true;
                        }
                        @*<li>
                                <a onclick="setHints(@((!(bool?)ViewBag.Hints??true).ToString().ToLower()))">
                                    Hints<div class="pull-right">@(((bool?)ViewBag.Hints ?? true).GetIcon())</div>
                                </a>
                            </li>*@
                        @if (ViewBag.ManagingOrganization ?? false) {
                            <li>
                                <a href="@Url.Action("Advanced", "Manage")" title1="Add credit card information, edit advanced settings">
                                    @(Html.Organization().NotNull(x => x.GetName()) ?? "Organization") Settings
                                </a>
                            </li>
                            doDivider = true;
                        }

                        @if (doDivider == true) {

                            <li class="divider"></li>
                        }

                    
                        <li>@Html.ActionLink("My Settings", "Manage", "Account")</li>
                        @if (((int?)ViewBag.Organizations ?? 0) > 0) {

                            <li>@Html.ActionLink("My Accountabilities", "Details", "User", new { id = ViewBag.UserId },null)</li>
                        }    
                       
                        <li class="divider"></li>
                        @if (((int?)ViewBag.Organizations ?? 0) > 1) {
                            <li class="@(((int?)ViewBag.Organizations ?? 0 )> 1?"":"disabled")">
                                @if (((int?)ViewBag.Organizations ?? 0) > 1) {
                                    @Html.ActionLink("Change Roles", "Role", "Account", new { ReturnUrl = Request.Url.AbsolutePath }, null)
                                } else {
                                    <a href="#">Change Roles</a>
                                }
                            </li>
                        }
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </div>


            </li>
            <li></li>
        </ul>
    }

    using (var s = Html.BeginScripts()) {
        <script>
            function setHints(b) {
                //TODO hit hints url
                $.ajax({
                    url: "@Url.Action("SetHint", "Account")",
                    data: { hint: b },
                    success: function (data) {
                        location.reload();
                    }
                });
            }
        </script>
    }
} else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(DisplayNameStrings.register, "Register", "Account", routeValues: new { returnUrl = ViewBag.ReturnUrl }, htmlAttributes: new { id = "registerLink", returnUrl = Model ?? "" })</li>
        <li>@Html.ActionLink(DisplayNameStrings.login, "Login", "Account", routeValues: new { returnUrl = ViewBag.ReturnUrl }, htmlAttributes: new { id = "loginLink", })</li>
    </ul>
}


