
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (var styles = Html.BeginStyles())
{
    <style>
        .star {
            color: #F7F7F7;
            left: 13px;
            top: 21px;
            position: absolute;
            -webkit-text-stroke: 1px #bbb;
        }

        .red {
            color: #FFAEAE;
            -webkit-text-stroke: 1px #B94A48;
        }

        hr{
            margin-top:0px;
            margin-bottom:0px;
        }

        .slider {
            padding-top:10px;
        }

        .side {
            padding-top:25px;
            text-align: center;
            display: inline-block;
        }

        .question {
            padding:10px 0px 10px 13px;
        }

    </style>
}


<div class="startHiddenGroup">
    <div class="row startHidden">
        @Html.AlertBoxDismissable((string)ViewBag.Message,(string)ViewBag.AlertType,(string)ViewBag.AlertMessage)
        <div class="col-md-9">
            <div class="review">
                @using(var form = Html.BeginForm("Take", "Review", FormMethod.Post, new {id="form" }))
                {
                    <input type="hidden" name="reviewId" value="@ViewBag.ReviewId" />
                    <input type="hidden" name="page" value="@ViewBag.Page" />
                    @RenderBody()
                    <br />
                    <div class="row startHidden">
                        <div class="col-md-12 alignCenter">
                            @if(ViewBag.NoSubmit==null)
                            {
                                if(ViewBag.Page!=0)
                                { 
                                <input type="submit" name="back" class="btn btn-default btn-lg" value="Back" />
                                }
                                <input type="submit" class="btn btn-primary btn-lg" value="Next" />
                            }
                            @*else
                            {
                                <input type="submit" class="btn btn-primary btn-lg" value="@RadialReview.Properties.DisplayNameStrings.submit" />
                                <input type="submit" class="btn btn-info btn-lg" value="@RadialReview.Properties.DisplayNameStrings.skip" />
                            }*@
                        </div>
                    </div>
                }
            </div>
            <div class="smallBreak"></div>
            <div class="smallBreak"></div>
        </div>
        <div class="col-md-3 sidebar" style=" position: relative;">
            @RenderSection("sidebar")
        </div>
    </div>
</div>