@model RadialReview.Models.UserOrganizationModel

<div style="text-align:center">
    <div class="clickable alignCenter" style="display:inline-block" data-id="@Model.Id">
        <div class="thumbnail ">
            <div class="imageContainer id_@Model.Id">
                <img alt="@Model.GetName()" class="thumbnail" style="text-align: center; margin-left: auto; margin-right: auto; /*max-width:256px;height:256px;*/"  src="@Model.ImageUrl()" />
            </div>
            <div class="caption  id_@Model.Id">
                <h3>@Model.GetName()</h3>
                <p>@Model.GetTitles()</p>
            </div>
        </div>
    </div>
</div>