@model RadialReview.Models.UserModel

<div style="text-align:center">
	<div class="alignCenter fullWidth" style="display:inline-block" data-id="@Model.NotNull(x=>x.Id)">
		<div class="thumbnaill">
			<div class="imageContainer id_@Model.NotNull(x => x.Id)">
				<img alt="@Model.NotNull(x => x.Name())"
					 onclick="@ViewBag.OnClick"
					 class="thumbnail  @(ViewBag.OnClick!=null?"clickable":"")"
					 style="text-align: center;
                     margin-left: auto; margin-right: auto; /*max-width:256px;height:256px;*/"
				     src="@Model.NotNull(x => x.ImageUrl(true, ImageSize._img))" />
			</div>
			<div class="caption  id_@Model.NotNull(x => x.Id)">
				<h3>@Model.NotNull(x => x.Name())</h3>
			</div>
			<div></div>
		</div>
	</div>
</div>