@model RadialReview.Models.ViewModels.UserOrganizationDetails

@using (Html.BeginStyles())
{
	<style>
		.numbers ul li {
			list-style-type: decimal;
		}
	</style>
}
@{
	var edit = Model.User.GetPersonallyManaging() || Model.ManagingOrganization;
}

<div class="revieww">
	<div class="row">
		<div class="col-sm-3">
			@Html.Partial("_User", Model.User)
			<div class="smallBreak"></div>
			<div class="smallBreak"></div>
		</div>
		<div class="col-sm-9">
			<div class="panel panel-default">
				@if (edit)
				{
					<a class="headerButton clickable" onclick="@Html.ShowModal("Edit Job Description", "/JobDescription/Modal/" + Model.User.Id, "/JobDescription/Modal/", onComplete: "location.reload()")">Edit</a>
				}
				<div class="panel-heading">
					<h3 class="panel-title">Job Description</h3>
				</div>
				<div class="panel-body">
					@if (String.IsNullOrWhiteSpace(Model.User.JobDescription))
					{
						<span class="gray">
							None entered.
							@if (edit)
							{
								@:Click 'Edit' to add a job description.
							}
						</span>
					}
					else
					{
						@Model.User.JobDescription
					}
				</div>
			</div>



			<div class="panel panel-default">
				@if (edit)
				{
					<a class="headerButton clickable" onclick="@Html.ShowModal("Edit Individual Rocks", "/Rocks/Modal/" + Model.User.Id, "/Rocks/Modal/", onComplete: "location.reload()")">Edit</a>
				}
				<div class="panel-heading">
					<h3 class="panel-title">Individual Quarterly Rocks</h3>
				</div>
				<div class="panel-body numbers">
					@if (Model.Rocks.Any())
					{
						<ul>
							@foreach (var r in Model.Rocks)
							{
								<li class="font-size:19px;">
									@r.Rock
								</li>
							}
						</ul>
					}
					else
					{
						<div class="gray">
							No rocks.
							@if (edit)
							{
								@:Click 'Edit' to add an individual rock.
							}
						</div>
					}
				</div>
			</div>



			<div class="panel panel-default">
				@if (edit)
				{
					<a class="headerButton clickable" onclick="@Html.ShowModal("Edit Roles", "/Roles/Modal/" + Model.User.Id, "/Roles/Modal/", onComplete: "location.reload()")">Edit</a>
				}
				<div class="panel-heading">
					<h3 class="panel-title">Individual Roles</h3>
				</div>
				<div class="panel-body numbers">
					@if (Model.Roles.Any())
					{
						<ul>
							@foreach (var r in Model.Roles)
							{
								<li class="font-size:19px;">
									@r.Role
								</li>
							}
						</ul>
					}
					else
					{
						<div class="gray">
							No roles.
							@if (edit)
							{
								@:Click 'Edit' to add a role.
							}
						</div>
					}
				</div>
			</div>

			<div class="panel panel-default">
				@if (edit)
				{
					<a class="headerButton clickable" onclick="@Html.ShowModal("Edit Measurables", "/Measurable/Modal/" + Model.User.Id, "/Measurable/Modal/", onComplete: "location.reload()")">Edit</a>
				}
				<div class="panel-heading">
					<h3 class="panel-title">Scorecard Meaursables</h3>
				</div>
				<div class="panel-body numbers">
					@if (Model.Measurables.Any())
					{
						<table class="fullWidth">
							<thead>
								<tr>
									<th style="width: 40px;"></th>
									<th>Measurable</th>
									<th style="width: 100px;">Weekly Goal</th>
								</tr>
							</thead>

							<tbody>
								@{ var i = 1; }
								@foreach (var r in Model.Measurables)
								{
									<tr class="font-size:19px;">
										<td class="alignRight" style="padding-right: 8px;">@i.</td>
										<td>@r.Title</td>
										<td>@r.Goal</td>
									</tr>
									{
										i++;
									}
								}
							</tbody>
						</table>
					}
					else
					{
						<div class="gray">
							No measurables.
							@if (edit)
							{
								@:Click 'Edit' to add a measurable.
							}
						</div>
					}
				</div>
			</div>



			@*<div class="panel panel-default">
					@if (edit)
					{
						<a class="headerButton" href="~/Responsibilities/Edit/@Model.User.Id">Edit</a>
					}
					<div class="panel-heading">
						<h3 class="panel-title">Questions</h3>
					</div>
					<div class="panel-body numbers">
						<ul>
							@foreach (var r in Model.Responsibilities)
							{
								<li class="font-size:19px;">
									@r
								</li>
							}
						</ul>
					</div>
				</div>*@

		</div>
	</div>
</div>