@model RadialReview.Controllers.TodoController.TodoModalVM

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.AccountableUserId)

@{
	var showDropDown = (ViewBag.Originating != null && ViewBag.ShowMeeting == true);
	var guid = Guid.NewGuid().ToString().Replace("-","");

}
<div class="modal-@guid">
	<div class="form-group">
		@*@Html.LabelFor(x => x.Message)*@
		@Html.TextAreaFor(x => x.Message, new { @class = "form-control autoResize min-32", placeholder = "Enter To-do message", autocomplete = "off", disable = ViewBag.CanEdit == false, rows = "1" })
	</div>
	<div class="form-group">
		<iframe src="/Todo/Pad/@Model.Id" width="99.8%" style="padding-right: 1px;"></iframe>
	</div>

	<div class="row">
		@if (showDropDown) {
			<div class="col-sm-5">
				<div class="form-group">
					<label>From:</label>
					<select name="@Html.NameFor(x => x.ForRecurrenceId)" class="form-control" style="width: 100%;">
						@foreach (var u in ViewBag.PossibleMeetings) {
							<option value="@u.id" @(u.id == Model.ForRecurrenceId ? "selected" : "")>@u.name</option>
				}
					</select>
				</div>
			</div>
		} else {
			@Html.HiddenFor(x => x.ForRecurrenceId)
		}
		<div class="@(showDropDown?"col-sm-5":"col-sm-11")">
			<div class="form-group">
				<label>Due Date:</label>
				@Html.ClientDateFor(x => x.DueDate, TimeOfDay.End)
				@*@Html.Partial("~/Views/Shared/" + (ViewBag.CanEdit == false ? "DisplayTemplates" : "EditorTemplates") + "/DateTime.cshtml", Model.DueDate,
				new ViewDataDictionary() { { "name", "DueDate" }, { "endOfDay", true } })*@
			</div>
		</div>
		<div class="col-sm-1">
			<div class="form-group">
				<label>Complete:</label>
				<input type="checkbox" @(Model.Completed ? "checked" : "") name="completed" style="height: 20px;width: 20px;top: 11px;margin-left: 24px;" />
			</div>
		</div>

	</div>
</div>


<script>

	$(".modal-@guid .select-user").select2({
		templateResult: imageListFormat,
		templateSelection: imageListFormat,
	});

	(function () {
		var r = $(".modal-@guid .autoResize").autoResize({
			extraSpace: 24
		});
		
		var i=setInterval(function () {
			if (!$("#modal").is(".loading")) {
				r.data('AutoResizer').check();
				setTimeout(function () {
					clearInterval(i);
				},600);
			}
		}, 100);
	})();
	@*var now = new Date();
	now = Date.UTC(now.getYear()+1900, now.getMonth(), now.getDate(),0,0,0);
	$('#TodoDueDate').datepickerX({
	    format: '@Html.Organization().Settings.GetDateFormat().ToLower()',
		onRender: function(date) {
			return date.valueOf() < now.valueOf() ? 'disabled' : '';
		}
	});*@
</script>

<style>
	.min-32 {
		min-height: 32px;
	}
</style>
