@model RadialReview.Controllers.TodoController.LinkExternalTodo

@Html.SecuredHiddenFor(x => x.RecurrenceId)

<div class="form-group">
	@Html.LabelFor(x => x.Account)
	@Html.EnumDropDownListFor(x => x.Account, new { @class = "form-control", placeholder = "Enter To-do message" })
</div>

<div class="form-group">
	@Html.LabelFor(x => x.UserId)
	<select name="@Html.NameFor(x => x.UserId)" class="select-user form-control" style="width: 100%;height:64px;">
		@foreach (var u in Model.PossibleUsers)
		{
			<option data-img="@u.imageUrl" value="@u.id" >@u.name</option>
		}
	</select>
</div>

<script>
	//function formatState(state) {
	//	if (!state.id) {
	//		return state.text;
	//	}
	//	var $state = $('<span><img style="max-width:32;max-height:32px" src="' + $(state.element).data("img") + '" class="img-flag" /> ' + state.text + '</span>');
	//	return $state;
	//};

	$(".select-user").select2({
		templateResult: imageListFormat,
		templateSelection: imageListFormat,
	});
</script>