@using Mandrill
@model RadialReview.Models.ViewModels.OrgMembersViewModel

@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Members";


	var lookup = new Dictionary<WebHookEventType, Tuple<string,string,int>>(){
		{WebHookEventType.Click,Tuple.Create("Awaiting Response. Resend Email?","strokeRed resendEmail red",2)},
		{WebHookEventType.Deferral,Tuple.Create("Awaiting Response. Resend Email?","strokeRed resendEmail red",2)},
		{WebHookEventType.Hard_bounce,Tuple.Create("Email address invalid. Click here to fix.","strokeOrange invalidEmail",0)},
		{WebHookEventType.Inbound,Tuple.Create("Awaiting Response. Resend Email?","strokeRed resendEmail red",2)},
		{WebHookEventType.Open,Tuple.Create("Awaiting Response. Resend Email?","strokeRed resendEmail red",2)},
		{WebHookEventType.Reject,Tuple.Create("Email address invalid. Click here to fix.","strokeOrange invalidEmail",0)},
		{WebHookEventType.Send,Tuple.Create("Awaiting Response. Resend Email?","strokeRed resendEmail red",2)},
		{WebHookEventType.Soft_bounce,Tuple.Create("Awaiting Response. Resend Email?","strokeRed resendEmail red",2)},
		{WebHookEventType.Spam,Tuple.Create("Email address invalid. Click here to fix.","strokeOrange invalidEmail",0)},
		{WebHookEventType.Unsub,Tuple.Create("Email address invalid. Click here to fix.","strokeOrange invalidEmail",0)},
	};

	var invalidCount = Model.Users.Count(x => x.EmailEvent.HasValue && lookup[x.EmailEvent.Value].Item2.Contains("invalidEmail"));
	var resendCount = Model.Users.Count(x => !x.Verified && !(x.EmailEvent.HasValue && lookup[x.EmailEvent.Value].Item2.Contains("invalidEmail")));
}

@section top{
    <div class="jumbotron">
        <h1>Manage</h1>
    </div>
}

@section header{
    @Html.Partial("Partial/manageheader")
}

@*@section hints{
    @Html.AlertBoxDismissable(@"From this page you can add employees to your organization.
            Employees are assigned questions that evaluate how they are doing in the organization.
            These can be questions unique to the individual or shared with their teams, positions, or the company as a whole.
            During the review process, peers, teammates, supervisors and direct reports answer questions of the employee to gauge how well they are fulfilling their responsibilities.
            To begin, click the Add button. You can come back to this any time.", "alert-info", "Info:")
}*@

@if (invalidCount>0)
{
	@Html.AlertBoxDismissable(@"Invitations could not be delivered to "+invalidCount+" user".Pluralize(invalidCount)+". Email addresses were incorrect. Click <span class='strokeOrange invalidEmail glyphicon glyphicon-envelope'></span> to try another address.", "alert-danger", "Warning:")
}

@*@if (resendCount > 0)
{
	@Html.AlertBoxDismissable(@"One or more email employees have not joined. ( <span class='strokeOrange resendEmail glyphicon glyphicon-envelope' style='padding-left:1px;'></span> ) ", "alert-info", "Info:")
}*@

@using (Html.BeginStyles())
{
    <style>
        tr.managing {
        }

        tr.notManaging {
            background-color: #F1F1F1;
        }

        .viewEdit {
            opacity: .1;
        }

        span:hover .viewEdit {
            opacity: 1;
        }

        .filter-table .quick {
            margin-left: 0.5em;
            font-size: 0.8em;
            text-decoration: none;
        }

        .fitler-table .quick:hover {
            text-decoration: underline;
        }

        td.alt {
            background-color: #ffc;
            background-color: rgba(255, 255, 0, 0.2);
        }

        @@media screen and (max-width: 400px) {
            .filter-resize-tiny {
                display:none;
            }
        }

    </style>

}

@using (Html.BeginScripts())
{

    <script src="~/Scripts/jquery/jquery.tablesorter.js"></script>
    <script src="~/Scripts/jquery/jquery.filtertable.min.js"></script>
    <script>

	    $(function() {

		    //All Scripts loaded
		    /*var meetingHub = $.connection.manageHub;
		    meetingHub.client.showAlert = function(data, showSuccess) { showJsonAlert(data, showSuccess); };
			
			$.connection.hub.start().done(initConnection);
		    meetingHub.server.join(MeetingId, $.connection.hub.id);*/
	    });

        function SendEmails() {
            $("#send").prop("disabled", true);
            $.ajax({
                url: "/Nexus/SendAllEmails",
                success: function (data) {
                    StoreJsonAlert(data);
                    location.reload();
                }
            });
        }

        function ResendEmails() {
            $("#send").prop("disabled", true);
            $.ajax({
                url: "/Nexus/ResendAllEmails",
                success: function (data) {
                    StoreJsonAlert(data);
                    location.reload();
                }
            });
        }

        $(function () {
            $(".tablefilter").filterTable({ inputSelector: '#input-filter' });

            $("table").tablesorter({
                headers: {
                    1: { sorter: 'attr' },
                    2: { sorter: 'attr' }
                },
                sortForce: [[0, 1]],
                sortStable: true,
            });
        });
    </script>


}


<div class="panel panel-primary">
   @* <div style="float:right;padding: 1px 1px 0 0;width: calc(100% - 180px); min-width:632px;text-align: right;" class="">
    <input id="input-filter" style="max-width: 296px;display: inline-block;" type="text" class="form-control" placeholder="Filter by.. (ex. 'Joe', 'CEO', 'Sales Dept.' etc)" />
    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle plus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="send">
            Send invites <span class="caret"></span>
        </button>
        <ul class="dropdown-menu alignRight dropdown-menu-right">
            <li>
                <a href="#" id="resendButton" class="" onclick="ResendEmails()">
                    Email uninvited members
                </a>
            </li>
            @if (Model.Users.Any(p => p.EmailSent) || !Model.Organization.SendEmailImmediately)
            {
                <li>
                    <a href="#" id="sendButton" class="" onclick="SendEmails()">
                        Email members that have not joined
                    </a>
                </li>
            }

        </ul>
    </div>*@


        @*<button class="btn btn-default  plus" style="width: 69px;">
                Add
            </button>*@<!-- Split button -->
        @*<div class="btn-group plus" style="width: 79px;">
            <button type="button" class="btn btn-default plus" onclick="@Html.ShowModal("Add managed user", "/User/AddModal", "/nexus/AddManagedUserToOrganization")">Add</button>
            <button type="button" class="btn btn-default dropdown-toggle plus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" onclick="@Html.ShowModal("Add managed user", "/User/AddModal", "/nexus/AddManagedUserToOrganization")"><span class="glyphicon glyphicon-user gray"></span> Add Member</a></li>
                <li><a href="#" onclick="@Html.ShowModal("Add managed user", "/User/AddModal?isClient=true", "/nexus/AddManagedUserToOrganization")"><span class="glyphicon glyphicon-globe gray"></span> Add Client</a></li>
            </ul>
        </div>*@

        @*<a class="btn btn-default plus"  href="/Manage/Reorganize">
                Reorganize
            </a>
    </div>*@
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs noPadLeft">
                <h3 class="panel-title alignCenter" style="padding-top:8px;">Manage Members</h3>
            </div>
            <div class="col-sm-12 col-md-10">
                <table class="fullWidth">
                    <tr>
                        <td class="filter-resize-tiny">
                            <input id="input-filter" style="display: inline-block;" type="text" class="form-control" placeholder="Filter by name, position, manager or email..." />
                        </td>
                        <td style="width: 186px; padding-left: 8px; padding-top: 1px; text-align: center;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle plus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="send">
                                    Send invites <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu alignRight dropdown-menu-right" style="width:320px;">
                                    <li>
	                                    <a href="#" id="resendButton" class="" onclick="SendEmails()">
		                                    <span class="glyphicon glyphicon-envelope unsentEmail pull-left"></span>
		                                    Invite all yet-to-be invited users
	                                    </a>
                                    </li>
                                    @if (Model.Users.Any(p => p.EmailSent) || !Model.Organization.SendEmailImmediately)
                                    {
                                        <li>
	                                        <a href="#" id="sendButton" class="" onclick="ResendEmails()">
		                                        <span class="glyphicon glyphicon-envelope resendEmail pull-left"></span>
		                                        Resend invite to users that have not joined
	                                        </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default plus dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @*onclick="@Html.ShowModal("Add managed user", "/User/AddModal", "/nexus/AddManagedUserToOrganization")"*@>Add<span class="caret"></span></button>
                                @*<button type="button" class="btn btn-default  plus" >

                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>*@
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" onclick="@Html.ShowModal("Add managed user", "/User/AddModal", "/nexus/AddManagedUserToOrganization")"><span class="glyphicon glyphicon-user gray"></span> Add Member</a></li>
                                    <li><a href="#" onclick="@Html.ShowModal("Add client", "/User/AddModal?isClient=true", "/nexus/AddManagedUserToOrganization")"><span class="glyphicon glyphicon-globe gray"></span> Add Client</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="table-responsive" style="clear: both;top: -1px;position: relative;">
        <table class="table table-condensed table-hover tablesorter tablefilter">
            <thead>
                <tr>
                    <th class="hidden"></th>
                    <th style="width:15px;" class="alignCenter  noPadLeft"></th>
                    <th style="width:15px;" class="alignCenter  noPadLeft"></th>
                    <th style="width:15px;" class="alignCenter  noPadLeft"></th>
                    <th style="width:15px;" class="alignCenter  noPadLeft"></th>
                    <th style="width:15px;" class="alignCenter  noPadLeft"></th>
                    <th style="width:1px">Name</th>
                    <th style="width:100%">Email</th>
                    <th style="min-width:10px" class="NalignCenter">Positions</th>
                    <th style="min-width:40px" class="NalignCenter">Teams</th>
                    <th style="min-width:10px" class="NalignCenter">Managers</th>
                    @*<th style="width:10px" class="NalignCenter">Roles</th>*@
                    @*<th style="width:10px" class="NalignCenter">Questions</th>*@
                    @if (Model.Organization.ManagersCanRemoveUsers || Model.ManagingOrganization || Model.Users.Any(x=>x.ForceCanDelete))
                    {
                        <th style="width:10px" class="alignCenter"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Users.OrderByDescending(x => x.Managing)/*.ThenBy(x=>-1*(x.Admin.ToInt()+x.Manager.ToInt()))*/.ThenBy(x => x.Name))
                {

                    <tr class="@(p.Managing?"managing":"grayRow") row_@(p.Id)">
                        <td class="hidden">@(p.Managing ? 1 : 0)</td>
                        <td class="alignCenter noselect  noPadLeft">
                            @*@((p.Managing).GetIcon("glyphicon-eye-open strokeLightGreen", "glyphicon-eye-close gray", "You are managing", "You are not managing"))*@


                            @*if (p.Managing)
                                    {
                                        <div onclick="@Html.ShowModal("Edit " + p.Name, Url.Action("EditModal", "User", new { id=p.Id }), Url.Action("EditModal", "User"))" class="editButton"></div>
                                }*@

                            <span @if (p.IsClient) {  @: class="glyphicon glyphicon-globe green strokeGreen" title="A client" data-sort="0"
                                  								  							      } else { if (p.Manager) { if (p.Admin) { @: class="glyphicon glyphicon-tower gold strokeGold" title="An admin" data-sort="1"
                                  								  									      } else { @: class="glyphicon glyphicon-tower darkblue strokeDarkBlue" title="A supervisor" data-sort="2"
                                  								  									      } } else { @: class="glyphicon glyphicon-user blue strokeBlue" title="Not a supervisor" data-sort="3"
                                  								  								      } }
                                  @if (p.Managing && !p.IsClient) { @: style="cursor:pointer;" onclick="@Html.ShowModal("Edit " + p.Name, Url.Action("EditModal", "User", new { id = p.Id }), Url.Action("EditModal", "User"))"
                                  								  								  								                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          }>
                            </span>



                        </td>
                        <td class="alignCenter noselect noPadLeft">

                            @if (p.Verified || (!p.Managing && !Model.ManagingOrganization))
							{
								if (p.Verified)
								{
                                    <span title="Joined." class="glyphicon glyphicon-ok-sign strokeGray gray" data-sort="6"></span>
								}
								else
								{
                                    <span title="Has not joined." class="glyphicon glyphicon-envelope strokeGray gray" data-sort="5"></span>
								}
							}
							else
							{
								if (p.EmailSent)
								{
									if (p.EmailEvent.HasValue)
									{										
										<span data-sort="@(lookup[p.EmailEvent.Value].Item3)" title="@(lookup[p.EmailEvent.Value].Item1)" class="glyphicon glyphicon-envelope @(lookup[p.EmailEvent.Value].Item2) clickable icon" onclick="@Html.ShowModal("Resend Email", "/Organization/ResendJoin/" + p.Id, "/Organization/ResendJoin/" + p.Id)"></span>
									}
									else
									{
										<span data-sort="2" title="Awaiting Response. Click here to resend email." class="glyphicon glyphicon-envelope strokeRed resendEmail red clickable icon" onclick="@Html.ShowModal("Resend Email", "/Organization/ResendJoin/" + p.Id, "/Organization/ResendJoin/" + p.Id)"></span>
									}
								}
								else
								{
                                    <span data-sort="1" class="glyphicon glyphicon-envelope glyphicon-exclamation-sign1 red strokeRed unsentEmail clickable icon" title="Invitation not sent. Click here to send." onclick="@Html.ShowModal("Send Email", "/Organization/ResendJoin/" + p.Id, "/Organization/ResendJoin/" + p.Id)"></span>
								}
							}
                        </td>
                        <td class="alignCenter" title="Individual Quarterly @Html.Organization().Settings.RockName">
                            <a href="~/Manage/UserDetails/@p.Id">@p.NumRocks</a>
                        </td>
                        <td class="alignCenter" title="Individual Roles">
                            <a href="~/Manage/UserDetails/@p.Id">@p.NumRoles</a>
                        </td>
                        <td class="alignCenter" title="Scorecard Measurables">
                            <a href="~/Manage/UserDetails/@p.Id">@p.NumMeasurables</a>
                        </td>
                        <td class="noOverflow" style="max-width: 160px;" title="@p.Name">
                            <a href="~/Manage/UserDetails/@p.Id">
                                @p.Name
                            </a>
                        </td>
                        <td class="noOverflow" style="max-width: 150px;" title="@p.Email">
                            <a href="~/Manage/UserDetails/@p.Id">@p.Email</a>
                        </td>
                        <td class="NalignCenter noOverflow" style="max-width: 200px;">
                            <a href="@Url.Action("Positions","User",new {id = p.Id})" class="fullWidth">
                                @Html.EditFirstButton(p.PositionTitles, p.Managing)
                            </a>
                        </td>
                        <td class="NalignCenter noOverflow" style="max-widthh: 80px;">
                            <a href="@Url.Action("Teams","User",new {id = p.Id})" class="fullWidth">
                                @Html.EditFirstButton(p.TeamsTitles, p.Managing)
                            </a>
                        </td>
                        <td class="NalignCenter noOverflow" style="max-widthh: 180px;">
                            <a href="@Url.Action("Managers", "User", new { id = p.Id })" class="">
                                @Html.EditFirstButton(p.ManagersTitles, p.Managing)
                            </a>
                        </td>
                        @*<td class="NalignCenter noOverflow">
                                <span>
                                    @*Html.ViewOrEdit(p.Managing)*
                                    <span title="">@(p.NumRoles)</span>
                                </span>
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Responsibilities", new { id = p.Id })" class="fullWidth">
                                    <span>
                                        *Html.ViewOrEdit(p.Managing)*
                                        <span title="Individual questions:@(p.NumIndividualResponsibilities), Other questions:@(p.NumTotalResponsibilities - p.NumIndividualResponsibilities)">@(p.NumTotalResponsibilities)</span>
                                    </span>

                                </a>
                            </td>*@
                        @if (Model.Organization.ManagersCanRemoveUsers || Model.ManagingOrganization || p.ForceCanDelete)
						{
                            <td>
                                @if (p.Managing || Model.ManagingOrganization || p.ForceCanDelete)
								{
                                    <span data-sort="1" onclick="@(Html.ShowModal("Remove " + p.Name + " from the organization?", "/User/Remove/" + p.Id, "/User/Remove", onCompleteFunction: "function(){$('.row_" + p.Id + "').remove();UnstoreJsonAlert();}"))"
                                          class="glyphicon glyphicon-trash clickable">
                                    </span>
								}
                            </td>
						}
                    </tr>
				}
            </tbody>

        </table>

    </div>
</div>
