@model RadialReview.Models.ViewModels.OrganizationMembersViewModel

@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("Partial/manageheader")
<br />
<br />

@Html.AlertBoxDismissable("The next step is adding teams to your organization. To begin, click the + button. You can come back to this any time.", "alert-info", "Info:")



<table class="table">
    <tr>
        <th style="width:100px" class="alignCenter">Verified</th>
        <th>Name</th>
        <th>Email</th>
        <th style="width:150px" class="alignCenter">Responsibilities</th>
        <th style="width:100px">
            <button class="btn btn-default fullWidth" onclick="@Html.ShowModal("Add managed user", "/User/AddModal", "/nexus/AddManagedUserToOrganization")">+</button>
        </th>
    </tr>
    @foreach (var p in Model.Users)
    {
        <tr>
            <td class="alignCenter">@((p.User!=null).GetIcon())</td>
            <td>@p.Name()</td>
            <td><a href="mailto:@p.EmailAtOrganization">@p.EmailAtOrganization</a></td>
            <td class="alignCenter"><a href="#" class="fullWidth">Edit (@p.Accountabilities.Count())</a></td>
            <td></td>
        </tr>
    }

</table>

