@model RadialReview.Models.ViewModels.OrganizationViewModel
@{
	ViewBag.Title = "Organization";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Page = "Settings";
}

@section top{
	<div class="jumbotron">
		<h1>Manage</h1>
	</div>
}

@section header{
	@Html.Partial("Partial/manageheader")
}

<div class="panel panel-default">
	<div class="headerButton btn-link" onclick="@Html.ShowModal("Edit Company Values", "/CompanyValues/Modal/"+Model.Id, "/CompanyValues/Modal", onComplete: "location.reload()")">Edit</div>
	<div class="panel-heading">
		<h3 class="panel-title">Company Values:</h3>
	</div>
	<div class="panel-body numbers">
		@if (Model.CompanyValues.Any()){
			<ol>
				@foreach (var r in Model.CompanyValues){
					<li class="font-size:19px;">@r</li>
				}
			</ol>
		}
		else{
			<span class="gray">No company values. Click edit to add some.</span>
		}
	</div>
</div>
<div class="panel panel-default">
	<div class="headerButton btn-link" onclick="@Html.ShowModal("Edit Company Rocks", "/Rocks/CompanyRockModal/" + Model.Id, "/Rocks/CompanyRockModal", onComplete: "location.reload()")">Edit</div>
	<div class="panel-heading">
		<h3 class="panel-title">Company Rocks:</h3>
	</div>
	<div class="panel-body numbers">
		@if (Model.CompanyRocks.Any())
		{
			foreach (var rg in Model.CompanyRocks.GroupBy(x => x.PeriodId).OrderByDescending(x => x.First().Period.EndTime))
			{
				<b>@rg.First().Period.NotNull(x => x.Name):</b>
				<ul>
					@foreach (var r in rg)
					{
						<li class="font-size:19px;">
							@r.Rock
						</li>
					}
				</ul>
			}
		}else{
			<span class="gray">No company rocks. Click edit to add some.</span>
		}
	</div>
</div>


@using (var f = Html.BeginForm("Organization", "Manage", FormMethod.Post))
{
	@Html.HiddenFor(x => x.Id)

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Settings:</h3>
		</div>
		<div class="panel-body">

			<div class="form-group">
				<div class="row ">
					<label class="col-sm-3 control-label">Organization name:</label>
					<div class="col-sm-4">
						@Html.TextBoxFor(x => x.OrganizationName, new { @class = "form-control", placeholder = "Organization name" })
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Managers have admin ability:</label>
					</div>
					<div class="col-sm-4">
						@Html.CheckBoxFor(x => x.ManagersCanEdit, new { @class = "checkbox" })
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Strict heirarchy:</label>
					</div>
					<div class="col-sm-4">
						@Html.CheckBoxFor(x => x.StrictHierarchy, new { @class = "checkbox" })
					</div>
				</div>	
				
				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Managers can edit their own questions:</label>
					</div>
					<div class="col-sm-4">
						@Html.CheckBoxFor(x => x.ManagersCanEditSelf, new { @class = "checkbox" })
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Employees can edit their own questions:</label>
					</div>
					<div class="col-sm-4">
						@Html.CheckBoxFor(x => x.EmployeesCanEditSelf, new { @class = "checkbox" })
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Managers can edit positions:</label>
					</div>
					<div class="col-sm-4">
						@Html.CheckBoxFor(x => x.ManagersCanEditPositions, new { @class = "checkbox" })
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Managers can remove users:</label>
					</div>
					<div class="col-sm-4">
						@Html.CheckBoxFor(x => x.ManagersCanRemoveUsers, new { @class = "checkbox" })
					</div>
				</div>


				<div class="row">
					<div class="col-sm-3">
						<label class="control-label">Send invitations immediately:</label>
					</div>
					<div class="col-sm-4">
						@Html.CheckBoxFor(x => x.SendEmailImmediately, new { @class = "checkbox" })
					</div>
				</div>
				<br />
				<div class="form-group">
					<div class=" col-sm-10">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>


}
