@model RadialReview.Models.ViewModels.OrgPositionsViewModel

@{
    ViewBag.Title = "Positions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Partial/manageheader")
<br />
<br />

@Html.AlertBoxDismissable("The first step toward setting up your organization is to create a list of positions within your organization. To begin, click the + button. You can come back to this any time.", "alert-info", "Info:")



<table class="table">
    <tr>
        <th>Job Title</th>
        <th style="">Job Class</th>
        <th style="width:150px" class="alignCenter">Responsibilities</th>
        <th style="width:150px" class="alignCenter"># People</th>
        <th style="width:100px"><button class="btn btn-default fullWidth"  onclick="@Html.ShowModal("Create Position", "/Position/Modal", "/Position/Modal")">+</button></th>
    </tr>
    @foreach(var p in Model.Positions)
    { 
        <tr>
            <td>@p.Name</td>
            <td>@p.SimilarTo</td>
            <td><a href="#" class="btn btn-primary fullWidth">Edit</a></td>
            <td class="alignCenter">@p.NumPeople</td>
            <td><a href="#" class="btn btn-primary fullWidth">Edit</a></td>
        </tr>
    }

</table>

