@model RadialReview.Models.ViewModels.OrgPositionsViewModel

@{
    ViewBag.Title = "Positions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Positions";
}

@section header{
    @Html.Partial("Partial/manageheader")
}
@section hints{
    @Html.AlertBoxDismissable("You can edit your organization's positions from this view. You can then add responsibilies to everyone in that position. To begin, click the + button. You can come back to this any time.", "alert-info", "Info:")
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Manage positions</h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Job Title</th>
                <th style="">Job Class</th>
                <th style="width:150px" class="alignCenter">Responsibilities</th>
                <th style="width:150px" class="alignCenter"># People</th>
                @if (Model.CanEdit)
                {
                    <th style="" class="rightButton"><button class="btn btn-default fullWidth plus" onclick="@Html.ShowModal("Create Position", "/Position/Modal", "/Position/Modal")">+</button></th>
                }
            </tr>
            @foreach (var p in Model.Positions.OrderBy(x => x.Name))
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.SimilarTo</td>
                    <td class="alignCenter"><a href="@Url.Action("Edit", "Responsibilities", new { id=p.Id})" class="fullWidth alignCenter">@Html.ViewOrEdit(Model.CanEdit) (@p.NumAccountabilities)</a></td>
                    <td class="alignCenter">@p.NumPeople</td>
                    @if (Model.CanEdit)
                    {
                        <td class="rightButton"><button onclick="@Html.ShowModal("Edit Position", "/Position/Modal/"+p.Id, "/Position/Modal")" class="btn btn-primary fullWidth">Edit</button></td>
                    }
                </tr>
            }

        </table>
    </div>
</div>
