@model RadialReview.Models.ViewModels.OrgReviewsViewModel
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Reviews";
    
}
@section header{
    @Html.Partial("Partial/manageheader")
}

@section hints{
@Html.AlertBoxDismissable(@"Once you've added all members to your organization and attached responsibilities to them, you can create a review.
Before the review is created, make sure you've added all members and responsibilities. Once you create the review, further changes cannot be made.
 To begin, click the + button.", "alert-info", "Info:")
}

<div class="panel panel-primary startHiddenGroup">
    <div class="panel-heading">
        <h3 class="panel-title">Reviews</h3>
    </div>
    <table class="table">
        <tr>
            <th style="min-width: 120px">@RadialReview.Properties.DisplayNameStrings.name</th>
            <th style="width:100px" class="alignCenter">Created</th>
            <th style="width:100px" class="alignCenter">Due</th>
            <th style="width:120px" class="alignCenter">@RadialReview.Properties.DisplayNameStrings.completion</th>
            <th class="rightButton"></th>
            <th class="rightButton">
                <button onclick="@Html.ShowModal("Issue review", "/Review/Create", "/Review/Create", "completeIssue","check")" role="button" class="btn btn-default addButton plus" data-toggle="modal">+</button>
            </th>
        </tr>
        @foreach (var review in Model.Reviews.OrderByDescending(x => x.Review.DateCreated))
        {
            <tr class="startHidden">
                <td>@review.Review.ReviewName</td>
                <td class="alignCenter">@review.Review.DateCreated.ToShortDateString()</td>
                <td class="alignCenter">@review.Review.DueDate.ToShortDateString()</td>
                <td>
                    @Html.Partial("_Completion", review.Review)
                </td>
                <td class="rightButton"><div onclick="@Html.ShowModal("Update Review", "/Reviews/Update/"+review.Review.Id, "/Reviews/Update/"+review.Review.Id)" class="btn btn-primary">Update</div></td>
                <td class="rightButton"><a href="@Url.Action("Details", "Reviews", new {id=review.Review.Id})" class="btn btn-primary">@RadialReview.Properties.DisplayNameStrings.details</a></td>
            </tr>
        }
    </table>
</div>
@*
    <div class="panel panel-primary startHiddenGroup">
        <div class="panel-heading">
            <h3 class="panel-title">Review Templates</h3>
        </div>
        <table class="table">
            <tr>
                <th style="min-width: 120px">@RadialReview.Properties.DisplayNameStrings.name</th>
                <th style="width:100px" class="alignCenter">Created</th>
                <th style="width:100px" class="alignCenter">Due</th>
                <th style="width:120px" class="alignCenter">@RadialReview.Properties.DisplayNameStrings.completion</th>
                <th class="rightButton">
                    <button onclick="@Html.ShowModal("Issue review", "/Review/Create", "/Review/Create", "completeIssue","check","onCompleteIssue")" role="button" class="btn btn-default addButton" data-toggle="modal">+</button>
                </th>
            </tr>
            @foreach (var review in Model.Reviews.OrderByDescending(x => x.Review.DateCreated))
            {
                <tr class="startHidden">
                    <td>@review.Review.ReviewName</td>
                    <td class="alignCenter">@review.Review.DateCreated.ToShortDateString()</td>
                    <td class="alignCenter">@review.Review.DueDate.ToShortDateString()</td>
                    <td>
                        @Html.Partial("_Completion", review.Review)
                    </td>
                    <td class="rightButton"><a href="@Url.Action("Details", "Reviews", new {id=review.Review.Id})" class="btn btn-info">@RadialReview.Properties.DisplayNameStrings.details</a></td>
                </tr>
            }
        </table>
    </div>
*@





@using(Html.BeginScripts())
{
    <script>
        function onCompleteIssue(data)
        {
            showJsonAlert(data, true);
        }
    </script>    
}