@model RadialReview.Models.ViewModels.OrgReviewsViewModel
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    @Html.Partial("Partial/manageheader")
}

@section hints{
@Html.AlertBoxDismissable("Once you've added all members to your organization and attached responsibilities to them, you can create a review. To begin, click the + button.", "alert-info", "Info:")
}

<div class="panel panel-primary startHiddenGroup">
    <div class="panel-heading">
        <h3 class="panel-title">Reviews</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th style="min-width: 120px">@RadialReview.Properties.DisplayNameStrings.name</th>
                <th style="width:100px" class="alignCenter">Created</th>
                <th style="width:100px" class="alignCenter">Due</th>
                <th style="width:120px" class="alignCenter">@RadialReview.Properties.DisplayNameStrings.completion</th>
                <th style="width:50px">
                    <button onclick="@Html.ShowModal("Issue review", "/Review/Create", "/Review/Create", "completeIssue","check")" role="button" class="btn btn-default addButton" data-toggle="modal">+</button>
                </th>
            </tr>
            @foreach (var review in Model.Reviews.OrderByDescending(x=>x.Review.DueDate))
            {
                <tr class="startHidden">
                    <td>@review.Review.ReviewName</td>
                    <td class="alignCenter">@review.Review.DateCreated.ToShortDateString()</td>
                    <td class="alignCenter">@review.Review.DueDate.ToShortDateString()</td>
                    <td>
                      @Html.Partial("_Completion",review.Review)
                    </td>
                    <td><a href="@Url.Action("Details", "Reviews", new {id=review.Review.Id})" class="btn btn-info">@RadialReview.Properties.DisplayNameStrings.details</a></td>
                </tr>
            }
        </table>
    </div>
</div>