@model RadialReview.Controllers.DashboardController.DashboardVM

@{
    ViewBag.Title = "Workspace";
    ViewBag.LayoutClass = (ViewBag.LayoutClass ?? "") + " dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.AnyL10s = ViewBag.AnyL10s ?? false;
    ViewBag.FullWidth = true;
}

@section top{
    <div class="jumbotron">
        <h1>Traction<sup style="top: -0.72em;font-size: 50%;">®</sup> Tools @*<small>Dashboard</small>*@</h1>
    </div>
}

@using (Html.BeginScripts()) {

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    @*<script src="~/Scripts/Grid/fixtures.js"></script>
        <script src="~/Scripts/Grid/src/gridList.js"></script>
        <script src="~/Scripts/Grid/src/jquery.gridList.js"></script>
        <script src="~/Scripts/Grid/load.js?v=2"></script>*@

    @Scripts.Render("~/bundles/DashboardGrid")

    <script type="text/javascript">

        dataDateRange = {
            startDate : new Date().setDate(new Date().getDate() - 1)
        };


        function buildGrid(data) {
            if (showJsonAlert(data, false, true)) {
                Grid.buildElements($('#grid'), data.Object, function(changed) {
                    if (changed.length == 0)
                        return;
                    var arr = [];
                    for (var cc in changed) {
                        var c = changed[cc];
                        arr.push({ x: c.x, y: c.y, w: c.w, h: c.h, id: c.id });
                    }
                    var dat = {
                        id: @(Model.DashboardId),
                        model: arr,
                    };
                    $.ajax({
                        traditional:true,
                        contentType: "application/json; charset=utf-8",
                        method: "post",
                        data: JSON.stringify( dat),
                        url: "/Dashboard/UpdateTiles/",
                        success: function(data) {
                            showJsonAlert(data, false, true);
                        }

                    });
                });
            }

            $(".grid").addClass("post-load");
        }

        $(function() {
            var tileJson = @(new HtmlString(Model.TileJson));
            buildGrid(tileJson);
        });

        function initTiles() {

            meetingCallback();
        }

        @*$(function() {
			$.ajax({
				method: "get",
				url: "/Dashboard/Tiles/@Model.DashboardId",
				success: buildGrid,
				error: function(data) {
					showAlert("There was an error getting your dashboard.");
				}
			});
		});*@

        function createTile(url,type,keyId) {
            if(typeof(keyId)=="undefined")
                keyId=null;


            var dat = {
                id: @(Model.DashboardId),
                type:type,
                dataUrl:url,
                keyId:keyId,
                x:1,y:100
            };
            $.ajax({
                url: "/Dashboard/CreateTile/",
                data: dat,
                success: function(data) {
                    if (showJsonAlert(data, false, true)) {
                        Grid.addTile(data.Object);
                    }
                }
            });
        }
    </script>
}


@section topSection{

    <div class="ng-cloak2" ng-app="L10App">
        <div ng-controller="L10Controller">
}


<!-- Single button -->
<div class="btn-group" style="position: fixed;top: 25px;;z-index: 1001;color:white">
    <button type="button" class="btn btn-link clickable dropdown-toggle" style="color:white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add Tile <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @if (Model.L10s.Any()) {
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">L10s</a>
                <ul class="dropdown-menu" style="">
                    @foreach (var i in Model.L10s) {
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">@i.Text</a>
                            <ul class="dropdown-menu">
                                <li><a onclick="createTile('/TileData/L10Scorecard/@i.Value','Url',@i.Value)">Scorecard</a></li>
                                <li><a onclick="createTile('/TileData/L10Rocks/@i.Value','Url',@i.Value)">Rocks</a></li>
                                <li><a onclick="createTile('/TileData/L10Todos/@i.Value','Url',@i.Value)">To-do list</a></li>
                                <li><a onclick="createTile('/TileData/L10Issues/@i.Value','Url',@i.Value)">Issues</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </li>
            <li class="divider"></li>
        }
        @*<li><a onclick="createTile('/TileData/UserTodo2','Url')">To-do List</a></li>*@

        <li><a onclick="createTile('/TileData/UserTodo2','Url')">To-do List</a></li>
        <li><a onclick="createTile('/TileData/UserScorecard2','Url')">Scorecard</a></li>
        <li><a onclick="createTile('/TileData/UserRock2','Url')">@Html.Organization().Settings.RockName</a></li>
        <li><a onclick="createTile('/TileData/UserRoles','Url')">Roles</a></li>
        <li><a onclick="createTile('/TileData/OrganizationValues','Url')">Core Values</a></li>
        @if (ViewBag.IsManager) {
            <li><a onclick=" createTile('/TileData/UserManage2', 'Url') ">Direct Reports</a></li>
        }
        <li><a onclick="createTile('/TileData/UserProfile2','Url')">Profile Picture</a></li>
        @*<li><a onclick="createTile('/TileData/UserButtons','Url')">Quick Links</a></li>*@
        <li><a onclick="createTile('/TileData/SoftwareUpdates','Url')">Software Updates</a></li>
        @*<li class="divider"></li>
        <li><a onclick="createTile('/TileData/FAQTips','Url')">FAQ Guide</a></li>*@

    </ul>
</div>


<div class="meeting-review ng-cloa2k grid-container">
    <div ng-controller2="L10Controller">
        @Html.Partial("~/Views/Angular/_L10App.cshtml", (long)ViewBag.UserId, new ViewDataDictionary(){
			{ "IncludeComplete", false},
			//{ "Callback", "initTiles"}
		})
        <ul id="grid" class="grid"></ul>
    </div>
</div>


@section bottomSection{
</div>
</div>
}

@using (Html.BeginStyles()) {
    @*KEEP AT THE BOTTOM*@


    @*<link href="~/Content/bootstrap/custom/dashboard.css" rel="stylesheet" />*@
    <style>
        .welcome a {
            color: #4A79FF;
        }

        h3 {
            color: #6D6D6D;
        }

        .todo-pane {
            max-height: 360px;
            overflow: auto;
            width: 100%;
        }

        #alerts .alert {
            z-index: 1000;
        }
    </style>
    @*<link href="~/Scripts/Grid/style.css" rel="stylesheet" />*@

    @Styles.Render("~/styles/Dashboard");
}
