@{
    var headers = (ViewBag.AddHeaders == null || ((bool)ViewBag.AddHeaders) == true);
    var controller = (ViewBag.AddController != null && ((bool)ViewBag.AddController) == true);
    var forceMin = ViewBag.ForceMin == null ? "" : "," + ((int)ViewBag.ForceMin);
    var reorderable = (ViewBag.Reorderable != null && ((bool)ViewBag.Reorderable) == true);
    var disableName = ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false;
    var editOwner = ViewBag.EditOwner != null && ((bool)ViewBag.EditOwner) == true;
    var selector = ViewBag.Selector as string ?? "(model.Scorecard)";
    var elasticInputs = ViewBag.ElasticInput == null || ((bool)ViewBag.ElasticInput) == true;

    //var readOnly = ViewBag.ReadOnly as bool? ??false;
    
    var elastic = elasticInputs ? "pu-elastic-input" : "";
    var scorecardKey = "(" + selector + ").Key";
}

<div @(headers ? "ng-app=L10App" : "") class="scorecard meeting-page app scorecard-list-container" style="clear: both;">
    <div @(headers || controller ? "ng-controller=L10Controller" : "")>
        <div class="row">
            <div class="col-md-12">
                <div class="component">
                    <div class="clearfix"></div>
                    <div style="position: relative;" ng-hide="(@(selector)).Measurables.length==0">
                        <div class="table-responsive scroll-right scroller repeater-container-scorecard" style1="min-height: 200px;">
                            <table id="ScorecardTable" class="scorecard-table ng-cloak">
                                <thead>
                                    <tr class="top-row">
                                        @if (reorderable) {
                                            <th class="button-column">&nbsp;</th>
                                        }
                                        @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false) {
                                            <th class="accountable-column text-column">&nbsp;</th>
                                            <th class="admin-column text-column">&nbsp;</th>
                                        }
                                        <th class="measurable-column text-column">&nbsp;</th>
                                        <th class="goal-column data-column" colspan="2">&nbsp;</th>
                                        <th ng-repeat="week in (@(selector)).Weeks | filter:filters.byRange('ForWeek',model.dataDateRange.startDate,model.dataDateRange.endDate@(forceMin)) | orderBy:'ForWeekNumber' " class="date score-column  data-column" ng-class="{current:week.IsCurrentWeek}" @*colspan="{{::week.IsCurrentWeek ? 1 : 1}}"*@>
                                            {{functions.subtractDays(week.DisplayDate,0) | date: (@(selector)).DateFormat1}}
                                        </th>
                                        <th class="delete-column"></th>
                                    </tr>
                                    <tr>
                                        @if (reorderable) {
                                            <th class="button-column">&nbsp;</th>
                                        }
                                        @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false) {
                                            <th class="who alignRight accountable-column  text-column" title="This person is accountable for reaching the goal">Acc</th>
                                            <th class="who alignLeft admin-column text-column"><span class="newLine gray" title="This person is responsible for entering the number">/Admin</span></th>
                                        }
                                        <th class="measurable measurable-column text-column">Measurable</th>
                                        <th class="target goal-column data-column" colspan="2">Goal</th>
                                        <th ng-repeat="week in (@(selector)).Weeks | filter:filters.byRange('ForWeek',model.dataDateRange.startDate,model.dataDateRange.endDate@(forceMin)) | orderBy:'ForWeekNumber' " class="date  data-column score-column" ng-class="{current:week.IsCurrentWeek}" @*colspan="{{::week.IsCurrentWeek ? 1 : 1}}"*@>
                                            {{functions.subtractDays(week.DisplayDate,-6) | date: (@(selector)).DateFormat2}}
                                        </th>
                                        <th class="delete-column button-column"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  vs-scroll-parent1=".repeater-container-scorecard" ng-hide="measurable.Hide" ng-class="{IsDivider: measurable.IsDivider,disabled:measurable.Disabled}" data-measurable="{{::measurable.Id}}" class="specialClass @(reorderable ? "reorderable" : "")" ng-repeat="measurable in (@(selector)).Measurables  | orderBy: ['Ordering'] ">
                                        @if (reorderable) {
                                            <td class="handle-cell button-column" ng-class="{handle: measurable.IsDivider}"><div class="icon fontastic-icon-three-bars icon-rotate handle"></div></td>
                                        }
                                        @if (disableName) {
                                            <td class="who first1 alignRight accountable-column  text-column" ng-class="{handle: measurable.IsDivider}">
                                                <span class="item-wrapper place-right">
                                                    <span class=""
                                                          @if (editOwner) {   @: onaftersave="functions.sendUpdate(measurable)" editable-select="measurable.Owner" e-ng-readonly="measurable.Disabled"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        @: onshow="loadPossibleOwners()" e-ng-options="s as s.Name for s in possibleOwners"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  }>
                                                        <profile-image class="" user="measurable.Owner"></profile-image>
                                                    </span>
                                                </span>
                                            </td>
                                            <td class="who first1 alignLeft admin-column text-column" ng-class="{handle: measurable.IsDivider}">
                                                <span class="item-wrapper place-right">
                                                    <span class=""
                                                          @if (editOwner) {   @: onaftersave="functions.sendUpdate(measurable)" editable-select="measurable.Admin" e-ng-readonly="measurable.Disabled"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                @: onshow="loadPossibleOwners()" e-ng-options="s as s.Name for s in possibleOwners"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            }>
                                                        <profile-image class="desaturate" user="measurable.Admin"></profile-image>
                                                    </span>
                                                </span>
                                            </td>
                                        }
                                        <td class="measurable first1  measurable-column text-column" title="{{measurable.Name}}" ng-class="{handle: measurable.IsDivider}">
                                            <span ng-class="{'inlineEdit': measurable.Disabled!=true}">
                                                <input ng-disabled="measurable.Disabled" placeholder="Enter measurable here" class="blend" ng-model-options="{ debounce: 75 }" ng-model="measurable.Name" @(elastic) ng-change="functions.sendUpdate(measurable)" title="{{measurable.Name}}" />
                                            </span>
                                        </td>
                                        <td class="target direction goal-column  data-column" data-measurable="{{::measurable.Id}}" ng-class="{handle: measurable.IsDivider}">
                                            <span class="item-wrapper place-left">
                                                <span class="direction direction_{{measurable.Direction}}"
                                                      onaftersave="functions.checkFutureAndSend(measurable)"
                                                      editable-select="measurable.Direction" onshow="loadPossibleDirections()"
                                                      e-ng-options="s.value as s.text for s in possibleDirections"
                                                      e-ng-readonly="measurable.Disabled"></span>
                                            </span>
                                        </td>
                                        <td class="target value goal-column data-column" data-measurable="{{::measurable.Id}}" ng-class="{handle: measurable.IsDivider}">
                                            <input ng-if="measurable.Direction!='Between'" 
                                                   ng-disabled="measurable.Disabled"
                                                   @(elastic)
                                                   class="blend  modifiers {{measurable.Modifiers}}"
                                                   fcsa-number="{{functions.getFcsa(measurable)}}"
                                                   ng-model-options="{ debounce: 75 }"
                                                   ng-model="measurable.Target"
                                                   ng-change="functions.sendUpdate(measurable)"
                                                   ng-blur="functions.checkFutureAndSend(measurable)" />
                                            <span ng-if="measurable.Direction=='Between'" ng-click="functions.checkFutureAndSend(measurable)">{{measurable.Target}}-{{measurable.AltTarget}}</span>
                                            <span class="inlineEdit1 gray modifiers-{{measurable.Modifiers}}" data-type="select" data-source="/Dropdown/Type/unitType" data-name="unitType" data-measurable="{{::measurable.Id}}" data-pk="{{::measurable.Id}}_{{::meetingId}}" data-url="/L10/UpdateMeasurable"></span>
                                        </td>
                                        <td ng-repeat="week in (@(selector)).Weeks | filter:filters.byRange('ForWeek',model.dataDateRange.startDate,model.dataDateRange.endDate@(forceMin))  | orderBy:'ForWeekNumber' " class="score score-column  data-column" ng-class="{current:week.IsCurrentWeek}">
                                        
                                            <score week="week"
                                                   score="functions.lookupScore(week.ForWeekNumber,measurable.Id,@(scorecardKey))"                                                 
                                                   tt-onchange="functions.sendUpdate(functions.lookupScore(week.ForWeekNumber,measurable.Id,@(scorecardKey)))">
                                            </score>

                                        </td>
                                        <td class="delete-column button-column">
                                            <span class="delete-row" ng-click="functions.removeRow($event,measurable)"></span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <table id="ScorecardTable_Over" class="scorecard-table hidden-xs hidden-sm ng-cloak resizable background-color">
                            <thead>
                                <tr class="top-row">
                                    @if (reorderable) {
                                        <th class="button-column">&nbsp;</th>
                                    }
                                    @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false) {
                                        <th class="who alignRight accountable-column text-column"></th>
                                        <th class="who alignLeft admin-column text-column"></th>
                                    }
                                    <th class="measurable-column  text-column">&nbsp;</th>
                                    <th class="goal-column  dta-column" colspan="2">&nbsp;</th>
                                </tr>
                                <tr>
                                    @if (reorderable) {
                                        <th class="button-column">&nbsp;</th>
                                    }
                                    @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false) {
                                        <th class=" who alignRight accountable-column  text-column" title="This person is accountable for reaching the goal">Acc</th>
                                        <th class=" who alignLeft admin-column text-column"><span class="newLine gray" title="This person is responsible for entering the number">/Admin</span></th>
                                    }
                                    <th class="measurable measurable-column text-column">Measurable</th>
                                    <th class="target  goal-column data-column" colspan="2">Goal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-hide="measurable.Hide" ng-class="{IsDivider: measurable.IsDivider,disabled:measurable.Disabled}" ng-repeat="measurable in (@(selector)).Measurables | orderBy: ['Ordering']  ">
                                    @if (reorderable) {
                                        <td class="handle-cell button-column" ng-class="{handle: measurable.IsDivider}"><div class="icon fontastic-icon-three-bars icon-rotate handle"></div></td>
                                    }

                                    @if (ViewBag.DisableName == null || ((bool)ViewBag.DisableName) == false) {
                                        <td class="who first1 alignRight accountable-column  text-column" ng-class="{handle: measurable.IsDivider}">
                                            <span class="item-wrapper place-right">
                                                <span class=""
                                                      @if (editOwner) { @: onaftersave="functions.sendUpdate(measurable)" editable-select="measurable.Owner" e-ng-readonly="measurable.Disable"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                  @: onshow="loadPossibleOwners()" e-ng-options="s as s.Name for s in possibleOwners"
                                                                                                                                                                                                                                                                                                                                                                                                                                                              }>
                                                    <profile-image user="measurable.Owner"></profile-image>
                                                </span>
                                            </span>
                                        </td>
                                        <td class="who first1 alignLeft admin-column text-column" ng-class="{handle: measurable.IsDivider}">
                                            <span class="item-wrapper place-right">
                                                <span class=""
                                                      @if (editOwner) { @: onaftersave="functions.sendUpdate(measurable)" editable-select="measurable.Admin" e-ng-readonly="measurable.Disabled"
                                                                                                                                                                                                                                                                                                                                                                                                                              @: onshow="loadPossibleOwners()" e-ng-options="s as s.Name for s in possibleOwners"
                                                                                                                                                                                                                                                                                                                                                                                                                          }>
                                                    <profile-image class="desaturate" user="measurable.Admin"></profile-image>
                                                </span>
                                            </span>
                                        </td>
                                    }
                                    <td class="measurable first1 measurable-column  text-column" title="{{measurable.Name}}" ng-class="{handle: measurable.IsDivider}">
                                        <span ng-class="{'inlineEdit': measurable.Disabled!=true}">
                                            <input ng-disabled="measurable.Disabled" class="blend" @(elastic) ng-model="measurable.Name" ng-model-options="{ debounce: 75 }" ng-change="functions.sendUpdate(measurable)" title="{{measurable.Name}}" />
                                        </span>
                                    </td>
                                    <td class="target direction  goal-column data-column" data-measurable="{{::measurable.Id}}" ng-class="{handle: measurable.IsDivider}">
                                        <span class="item-wrapper place-left">
                                            <span class="direction direction_{{measurable.Direction}}"
                                                  onaftersave="functions.checkFutureAndSend(measurable)"
                                                  editable-select="measurable.Direction"
                                                  onshow="loadPossibleDirections()"
                                                  e-ng-options="s.value as s.text for s in possibleDirections"
                                                  e-ng-readonly="measurable.Disabled"></span>
                                        </span>
                                    </td>
                                    <td class="target value goal-column data-column" data-measurable="{{::measurable.Id}}">
                                        <input ng-if="measurable.Direction!='Between'"
                                               ng-disabled="measurable.Disabled"
                                               @(elastic)
                                               ng-model-options="{ debounce: 75 }"
                                               class="blend  modifiers {{measurable.Modifiers}}"
                                               fcsa-number="{{functions.getFcsa(measurable)}}"
                                               ng-model="measurable.Target"
                                               ng-change="functions.sendUpdate(measurable)"
                                               ng-blur="functions.checkFutureAndSend(measurable)" />
                                        <span ng-if="measurable.Direction=='Between'" ng-click="functions.checkFutureAndSend(measurable)">{{measurable.Target}}-{{measurable.AltTarget}}</span>

                                        <span class="inlineEdit1 gray modifiers-{{measurable.Modifiers}}" data-type="select" data-source="/Dropdown/Type/unitType" data-name="unitType" data-measurable="{{::measurable.Id}}" data-pk="{{::measurable.Id}}_{{::meetingId}}" data-url="/L10/UpdateMeasurable"></span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="loader-container" style="display:none">@{Html.RenderPartial("~/Views/Shared/Partial/MaterialIndefiniteLoader.cshtml");}</div>
                    <div class="create-row" ng-click="functions.addRow($event,'AngularMeasurable')" data-toggle="tooltip" data-placement="left" title="New Measurable"></div>
                    <div class="gray empty-search" style="padding: 30px 15px;" ng-show="(@(selector)).Measurables.length==0">
                        No measurables fit your search criteria.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginStyles()) {
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <style>
        .grid.gray {
            background-color: #eee;
            height: 100%;
        }
    </style>
}
@using (Html.BeginScripts()) {
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    @Scripts.Render("~/bundles/MeasurableList")
    <script>

		if (typeof (scrollRight) === "undefined")
			scrollRight = false;

        scrollRight = scrollRight || function scrollRight() {

            if ($(".scroll-right:not(.scroll-once)").length > 0) {
                setTimeout(function () {
                    $(".scroll-right:not(.scroll-once)").each(function () {
                        var that = this;
                        var dist = Math.max(4000, $(that).prop("scrollWidth"));
                        console.log("dist", dist);
                        $(that).addClass("scroll-once").animate({ scrollLeft:dist }, 500);
                    });
                }, 1);
            } else {
                setTimeout(scrollRight, 50);
            }
        }

        scrollRight();

        $(function () {
            fixHelperModified = function (e, tr) {
                var $originals = tr.children();
                var $helper = tr.clone();
                $helper.children().each(function (index) {
                    $(this).width($originals.eq(index).width());
                });
                return $helper;
            };

            var updateIndex = function (e, ui) {
                var order = [];
                var i = 0;
                $('tr', ui.item.parent()).each(function (i) {
                    order.push(+$(this).attr("data-measurable"));
                });

                var data = {
                    ordering: order,
                    recurrenceId: angular.element(document.querySelector('#ScorecardContainer')).scope().meetingId
                };
                $.ajax({
                    url: "/L10/UpdateRecurrenceMeasurableOrdering",
                    method: "POST",
                    data: $.param(data, true),
                    success: function (d) {
                        showJsonAlert(d);
                        angular.element(document.querySelector('#ScorecardContainer')).scope().$apply();
                    }
                });
            };

            $(".scorecard-table tbody").xsortable({
                items: ">.reorderable",
                handle: ".handle",
                helper: fixHelperModified,
                stop: updateIndex,
                placeholder: "xsortable-placeholder"
            }).disableSelection();
        });
    </script>
}