@model RadialReview.Models.UserOrganizationModel

@{
    ViewBag.Title = "Managers - " + Model.GetName();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Partial/manageheader")

<h2>Edit managers: <i>@Model.GetNameAndTitle()</i></h2>

<table class="table">
    <tr>
        <th>Position</th>
        <th style="width: 150px;" class="alignCenter">Start</th>
        <th style="width: 150px;" class="alignCenter">End</th>
        <th style="width:100px;">
            <a class="btn btn-default fullWidth"
               onclick="@Html.ShowModal(
                        "Add Manager",
                        Url.Action("ManagerModal", "User", new {id=Model.Id}),
                        Url.Action("ManagerModal", "User")
                    )">+</a>
        </th>
    </tr>
    @foreach (var p in Model.ManagedBy.OrderBy(x => x.DeleteTime).ThenByDescending(x=>x.Start))
    {
        <tr id="row_@p.Id" class="@(p.DeleteTime != null ? "danger" : "")">
            <td class="position">@p.Manager.GetNameAndTitle()</td>
            <td class="alignCenter">@p.Start.ToShortDateString()</td>
            <td class="alignCenter endTime">@(p.DeleteTime.HasValue ? p.DeleteTime.Value.ToShortDateString() : "Present")</td>
            <td class="deleteButton">
                @if (p.DeleteTime == null)
                {
                    <a onclick="Delete(@p.Id)" class="btn btn-danger fullWidth">Delete</a>
                }
                else
                {
                    <div class="fullWidth alignCenter" style="color: #929292">Deleted</div>
                }
            </td>
        </tr>
    }
</table>
@using (var s = Html.BeginScripts())
{
    <script>
        function Delete(id)
        {
            $.ajax({
                url: "/User/RemoveManager/" + id ,
                success: function (data) {
                    $("#row_" + id).addClass("danger");
                    $("#row_" + id + " .deleteButton").html('<div class="fullWidth alignCenter" style="color: #929292">Deleted</div>');
                    $("#row_" + id + " .endTime").html("Just now");
                }
            })
        }
    </script>
}

@using (var s = Html.BeginStyles())
{
    <style>
        tr.danger .position {
            text-decoration: line-through;
        }
    </style>
}