@model RadialReview.Models.UserOrganizationModel

@{
    ViewBag.Title = "Positions - " + Model.GetName();
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Members";
}
@Html.Partial("Partial/manageheader")

<h2></h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.ViewOrEdit(Model.GetPersonallyManaging()) positions: <i>@Model.GetNameAndTitle()</i></h3>
    </div>

    <table class="table">
        <tr>
            <th>Position</th>
            <th style="width: 150px;" class="alignCenter">Start</th>
            <th style="width: 150px;" class="alignCenter">End</th>
            @if (Model.GetPersonallyManaging())
            {
                <th style="width:100px;">
                    <a class="btn btn-default fullWidth"
                       onclick="@Html.ShowModal(
                        "Add Position",
                        Url.Action("PositionModal", "User", new {userId=Model.Id}),
                        Url.Action("PositionModal","User")
                    )">+</a>
                </th>
            }
        </tr>
        @foreach (var p in Model.Positions.OrderBy(x => x.DeleteTime))
        {
            <tr id="row_@p.Id" class="@(p.DeleteTime != null ? "danger" : "")">
                <td class="position">@p.Position.CustomName</td>
                <td class="alignCenter">@p.Start.ToShortDateString()</td>
                <td class="alignCenter endTime">@(p.DeleteTime.HasValue ? p.DeleteTime.Value.ToShortDateString() : "Present")</td>
                @if (Model.GetPersonallyManaging())
                {
                    <td class="deleteButton">
                        @if (p.DeleteTime == null)
                        {
                            <a onclick="Delete(@p.Id)" class="btn btn-danger fullWidth">Delete</a>
                        }
                        else
                        {
                            <div class="fullWidth alignCenter" style="color: #929292">Deleted</div>
                        }
                    </td>
                }
            </tr>
        }
    </table>
    @using (var s = Html.BeginScripts())
    {
        <script>
            function Delete(id) {
                $.ajax({
                    url: "/User/RemovePosition/" + id + "?userId=@Model.Id",
                    success: function (data) {
                        $("#row_" + id).addClass("danger");
                        $("#row_" + id + " .deleteButton").html('<div class="fullWidth alignCenter" style="color: #929292">Deleted</div>');
                        $("#row_" + id + " .endTime").html("Just now");
                    }
                })
            }
        </script>
    }

    @using (var s = Html.BeginStyles())
    {
        <style>
            tr.danger .position {
                text-decoration: line-through;
            }
        </style>
    }
</div>