@*@{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div style="height:28px"></div>
    <ul class="nav nav-tabs tabs-up" id="friends">
        <li><a href="/L10/Details/Todo" data-target="#Todo" class="media_node active span" id="contacts_tab" data-toggle="tabajax" rel="tooltip"> To-Do List </a></li>
        <li><a href="/L10/Details/Issues" data-target="#Issues" class="media_node span" id="friends_list_tab" data-toggle="tabajax" rel="tooltip"> Issues List </a></li>
        <li><a href="/L10/Details/Scorecard" data-target="#Scorecard" class="media_node span" id="awaiting_request_tab" data-toggle="tabajax" rel="tooltip"> Scorecard </a></li>
        <li><a href="/L10/Details/Recent" data-target="#Recent" class="media_node span" id="awaiting_request_tab" data-toggle="tabajax" rel="tooltip"> Recent </a></li>
    </ul>

    <div class="tab-content">
        <div id="Todo"			class="tab-pane active"></div>
        <div id="Issues"		class="tab-pane"></div>
        <div id="Scorecard"		class="tab-pane"></div>
        <div id="Recent"		class="tab-pane"></div>
    </div>

    @using (Html.BeginScripts()){
        <script>
            $('[data-toggle="tabajax"]').click(function(e) {
                var $this = $(this),
                    loadurl = $this.attr('href'),
                    targ = $this.attr('data-target');

                $.get(loadurl, function(data) {
                    $(targ).html(data);
                });

                $this.tab('show');
                return false;
            });
        </script>
    }*@
@model long
@{
    ViewBag.Title = "Meeting Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FullWidth = true;

    Html.RenderPartial("~/Views/CDN/Angular.cshtml");

}
@using (Html.BeginStyles()) {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    @Styles.Render("~/styles/L10")
    @Styles.Render("~/styles/meeting")
    @Styles.Render("~/styles/archive")

    <style>
        input.due-date {
            border: none;
            width: 80px;
            text-decoration: underline;
            color: #767F99;
            text-align: center;
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
        }

        .body-content {
            max-width: 90%;
        }

        .meeting-archive .todo-list-container .picture-column {
            display: block;
        }

        .fontastic-icon-checklist:before {
            font-size: inherit;
        }

        .vto-frame {
            width: 100%;
            height: 640px;
            height: calc(100vh - 196px);
            margin-top: 10px;
            border: none;
        }

        .nav.nav-pills.tabs-up a span {
            margin-left: -4px;
            margin-right: 1px;
        }
    </style>

}
@using (Html.BeginScripts()) {
    @*<script src="~/Scripts/L10/charts/sparklines.min.js"></script>
    <script src="~/Scripts/jquery/jquery.ba-throttle-debounce.js"></script>*@
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/meeting")
    @Scripts.Render("~/bundles/MeetingDetails")

    @*<script src="~/Scripts/L10/L10.js"></script>*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script>
        angular.module('L10App')
			.value('meetingId', @Model)
			.value('date-range',"today")
			.value('meetingDataUrlBase', '/L10/DetailsData/')
			.value("meetingCallback",false);
        $('#pages a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });

        function printIframe(id)
        {
            var iframe = document.frames ? document.frames[id] : document.getElementById(id);
            var ifWin = iframe.contentWindow || iframe;
            iframe.focus();
            ifWin.printPage();
            return false;
        }

        //function fixResize(){
        //    var top = $(".archive").offset().top;
        //    if (top==0){
        //        setTimeout(fixResize,100);
        //    }else{
        //        var padding=30;
        //        var h = $(window).height()-top - padding;
        //        $(".archive").height(h);
        //    }
        //}

        //fixResize();

        $(function() {
            $('md-tab-item').on('click',"body", function (e) {
                var target = $(e.target).attr("href") // activated tab
                //angular.element($('[ng-controller="L10Controller"]')).scope().model
                //debugger;
                //setpage(target);
                window.location.hash = target;
            });

            function setpage(page){
                page = page.replace(/^[#\/]*/gm,'');
                var found = $("md-tab[href='"+page+"']");
                if (found.length==1){

                    var id = $("md-tab").index(found);
                    var $scope = angular.element($('[ng-controller="L10Controller"]')).scope();
                    $scope.$apply(function() {
                        $scope.selectedTab = id;
                    });
                    return true;
                }
                return false;
            }
            if (window.location.hash){
                if (!setpage(window.location.hash))
                    setpage("#Scorecard");
            }
            else
                setpage("#Scorecard");

            function fixHandle() {
                $(".ui-resizable-e").css("right", -$("#ScorecardTable_Over").scrollLeft());
            }

            function slideRight(){
                setTimeout(function() {
                    if ($(".scroll-right").length){
                        $(".scroll-right").scrollLeft(4000);
                        $("#ScorecardTable_Over").scrollLeft(10000).scrollLeft(0);
                    }else{
                        slideRight();
                    }
                },100);
            }

            setTimeout(function() {

                slideRight();

                $("#ScorecardTable_Over").resizable({
                    handles: 'e',
                });
                $("#ScorecardTable_Over").scroll(function(e) {
                    fixHandle();
                });
                var shift = 0;
                $(".table-responsive").scroll(function(e) {
                    $("#ScorecardTable_Over").removeClass("hidden");
                    if ($(".table-responsive").scrollLeft() - shift < $("#ScorecardTable_Over").scrollLeft() ) {
                        $("#ScorecardTable_Over").addClass("hidden");
                    }
                });

            }, 1000);

            $("body").on("click", ".measurableModal:not(.disabled)", function() {
                var m = $(this).data("recurrence");
                showModal('Add Measurable', '/L10/AddMeasurable/' + m, '/L10/AddMeasurable/');
            });

            $(document).bind("keyup keydown", function(e){
                if((e.ctrlKey || e.metaKey) && e.keyCode == 80){
                    //refreshDocHeight();
                    //window.print();
                    var scope = angular.element($('[ng-controller="L10Controller"]')).scope();
                    var w;
                    var page="";
                    var hash = window.location.hash;
                    debugger;
                    if (hash.contains("#/VTO")){
                        page = "vto=true";
                    }else if (hash.contains("#/Scorecard")){
                        page = "scorecard=true";
                    }else if (hash.contains("#/Todo")){
                        page = "todos=true";
                    }else if (hash.contains("#/Rocks")){
                        page = "rocks=true";
                    }else if (hash.contains("#/Issues")){
                        page = "issues=true";
                    }else{
                        return;
                    }
                    w = window.open("/Quarterly/PrintPages/"+scope.model.Id+"?"+page);
                    w.print();
                    e.preventDefault();
                }
            });


        });

        //function resizeIframe(obj) {
        //    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        //}

    </script>
}
<div ng-app="L10App" class="meeting-review ng-cloak meeting-archive">
    <div ng-controller="L10Controller">
        <div class="pull-left"><h3 id="meeting-name" style="margin-top: 5px;">{{::model.Basics.Name}}</h3></div>
        @*<div class="calendar-container pull-right" style="width:240px;">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <input date-range-picker id="daterange3" class="form-control date-picker" type="text" name="date" ng-model="model.dataDateRange" options="opts" required placeholder="Select a date range..." />
                <b class="caret"></b>
            </div>*@
        @{Html.RenderPartial("~/Views/Angular/_DateRange.cshtml");}
        <div style="/*height:90px*/" class="clearfix"></div>

        <div ng-cloak>
            <md-content class="archive">
                <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
                    <md-tab label="Scorecard" ng-href="Scorecard" md-on-select="functions.setHash('/Scorecard')">
                        <md-content class="md-padding">
                            @*<h1 class="md-display-2">Scorecard</h1>*@
                            @Html.Partial("~/Views/L10/Details/scorecard.cshtml", new ViewDataDictionary() { { "ForceMin", ViewBag.NumberOfWeeks } })
                        </md-content>
                    </md-tab>
                    <md-tab label="Rocks" href="Rocks" md-on-select="functions.setHash('Rocks')">
                        <md-content class="md-padding">
                            @*<h1 class="md-display-2">Rocks</h1>*@
                            @Html.Partial("~/Views/L10/Details/rocks.cshtml")
                        </md-content>
                    </md-tab>
                    @if (ViewBag.IncludeHeadlines ?? true) {
                        <md-tab label="Headlines" href="Headlines" md-on-select="functions.setHash('Headlines')">
                            <md-content class="md-padding">
                                @*<h1 class="md-display-2">Headlines</h1>*@
                                @Html.Partial("~/Views/L10/Details/headlines.cshtml")
                            </md-content>
                        </md-tab>
                    }
                    <md-tab label="To-dos" href="Todos" md-on-select="functions.setHash('Todos')">
                        <md-content class="md-padding">
                            @*<h1 class="md-display-2">To-do List</h1>*@
                            @Html.Partial("~/Views/L10/Details/todo.cshtml")
                        </md-content>
                    </md-tab>

                    <md-tab label="Issues" href="Issues" md-on-select="functions.setHash('Issues')">
                        <md-content class="md-padding">
                            @*<h1 class="md-display-2">Issues</h1>*@
                            @Html.Partial("~/Views/L10/Details/issues.cshtml")
                        </md-content>
                    </md-tab>
                    <md-tab label="V/TO" href="VTO" md-on-select="functions.setHash('VTO')">
                        <md-content class="md-padding1">
                            @*<h1 class="md-display-2">Vision/Traction Organizer</h1>*@
                            <iframe id="vto-frame" class="vto-frame"  data-src="/vto/edit/@(ViewBag.VtoId)?noheading=true" src="/vto/edit/@(ViewBag.VtoId)?noheading=true"></iframe>
                        </md-content>
                    </md-tab>
                    <md-tab label="Notes" href="Notes" md-on-select="functions.setHash('Notes')">
                        <md-content class="md-padding">
                            @*<h1 class="md-display-2">Notes</h1>*@
                            @Html.Partial("~/Views/L10/Details/notes.cshtml")
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>