@model RadialReview.Models.L10.VM.L10MeetingVM

@{
	var isList = Model.Recurrence.HeadlineType == RadialReview.Model.Enums.PeopleHeadlineType.HeadlinesList;
	var guid = Guid.NewGuid().ToString();
	ViewBag.Title = "Headlines";
	Layout = "~/Views/L10/BasePage.cshtml";
}

<div class="headlines meeting-page headline-type-@Model.Recurrence.HeadlineType">
	<div class="row">
		<div class="@(isList?"col-md-8":"col-md-12")">
			<hgroup class="page-header @(isList?"listing fixed-pos":"")">
				<div class="pull-right">
					@if (isList) {
						<div class="btn-group smallBreak">
							<a class="btn btn-default btn-xs headlineModal" data-recurrenceId="@Model.Recurrence.Id" data-meetingId="@Model.Meeting.Id">
								<span class="icon fontastic-icon-plus" style="color:#5e5e5e"></span>Add Headline
							</a>
						</div>
					}

					@Html.Partial("partial/ButtonBar", Model)
				</div>
				@if (isList) {
					<h2 class="l10-page-title">@(new MvcHtmlString(ViewBag.CEH_Heading))</h2>
				}
			</hgroup>
			@*<div style="height:60px;"></div>*@
			@if (!isList) {
				<div class="centered" style="width:90%;">
					<div class="component">

						<div style="padding: 20px 70px 20px 70px">
							<h2>@(new MvcHtmlString(ViewBag.CEH_Heading))</h2>
							<h4>@(new MvcHtmlString(ViewBag.CEH_Subheading))</h4>
						</div>

						@if (Model.Recurrence.HeadlineType == RadialReview.Model.Enums.PeopleHeadlineType.HeadlinesBox) {
							<div class="headlines-notes">
								<iframe style="width: 100%;height: 100%; border: 1px solid #CCCCCC;width:calc(100% - 2px);" src="https://notes.traction.tools/p/@(Model.HeadlinesId)?showControls=true&showChat=false&showLineNumbers=false&useMonospaceFont=false&userName=@(HttpContext.Current.Server.UrlEncode(Html.UserOrganization().GetName()))"></iframe>
							</div>
						}
					</div>
				</div>
			} else if (isList) {
				<div class="headlines-container " style="margin-bottom:128px;">
					<ol class="headlines-list sortable init-@(guid)">
						@foreach (var i in Model.Headlines.OrderBy(x => x.CreateTime)) {
						var vm = new ViewDataDictionary { { "MeetingId", Model.Meeting.Id }, { "Organization", ViewBag.Organization }, { "MeetingStart", Model.Meeting.StartTime } };
						@Html.Partial("~/Views/L10/partial/HeadlineRow.cshtml", i, vm)
					}
				</ol>
			</div>

			}
		</div>
		@if (isList) {
			<div class="col-md-4 hidden-xs hidden-sm">
				<div class="hidden-lg hidden-md" style="height: 25px;"></div>
				<div style="">
					<div class="fixed-pos">
						<hgroup class="page-header details">
							<h4>Notes</h4>
						</hgroup>
						<div class="component" id="headlineDetails"></div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
