@model RadialReview.Models.L10.VM.L10MeetingVM
@{
	ViewBag.Title = "IDS";
	Layout = "~/Views/L10/BasePage.cshtml";

	var guid = Guid.NewGuid().ToString();
}


<div class="meeting-page ids prioritization-@Model.Recurrence.Prioritization">
    <div class="row">
        <div class="col-md-8">
            <hgroup class="page-header  listing fixed-pos">
                <div class="pull-right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="icon fontastic-icon-thumbnails fontastic-ic1on-star-3"></span> <span class="mode-button">Columns </span>
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a class="clickable " onclick="changeMode('Reorder')"><span class="icon fontastic-icon-thumbnail1s fontastic-icon-align-righ1t"></span> 1 Column</a></li>
                            <li><a class="clickable " onclick="changeMode('Prioritize (2 Columns)')"><span class="icon fontastic-icon-thumbnail1s"></span> 2 Columns</a></li>
                            <li><a class="clickable " onclick="changeMode('Prioritize (3 Columns)')"><span class="icon fontastic-icon-thumbnail1s"></span> 3 Columns</a></li>
                            <li><a class="clickable " onclick="changeMode('Prioritize (4 Columns)')"><span class="icon fontastic-icon-thumbnail1s"></span> 4 Columns</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" onclick="sortIssueByCurrent(recurrenceId,$('.issues-list'))">
                            <span class="icon fontastic-icon-sort-alpha-two"></span> <span class="sort-button">Sort</span>
                        </a>
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" style="padding:1px 3px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            @*<li><a class="clickable " onclick="sortIssueBy(recurrenceId,$('.issues-list'),'data-priority','Auto-Priority',-1)"> By Priority (Auto)</a></li>*@
                            <li><a class="clickable show-priority" onclick="sortIssueBy(recurrenceId,$('.issues-list'),'data-priority','Votes',-1)"> By Votes</a></li>
                            <li><a class="clickable show-rank " onclick="sortIssueBy(recurrenceId,$('.issues-list'),'data-rank','Priority')"> By Priority (1,2 &amp; 3)</a></li>
                            @*<li><a class="clickable " onclick="sortIssueBy(recurrenceId,$('.issues-list'),'data-message','Issue')"> By Issue</a></li>*@
                            <li><a class="clickable " onclick="sortIssueBy(recurrenceId,$('.issues-list'),'data-owner','Owner')"> By Owner</a></li>
                            @*<li><a class="clickable " onclick="sortIssueBy(recurrenceId,$('.issues-list'),'data-duedate','Due Date',-1)"> By Due Date</a></li>*@
                            <li><a class="clickable " onclick="sortIssueBy(recurrenceId,$('.issues-list'),'data-createtime','Date Created',1)"> By Date Created (Asc)</a></li>
                            <li><a class="clickable " onclick="sortIssueBy(recurrenceId,$('.issues-list'),'data-createtime','Date Created',-1)"> By Date Created (Desc)</a></li>

                        </ul>
                    </div>
                    @*<div class="btn-group ">
                            <div class="btn btn-default btn-xs detailsBtn sm" title='Hide details'><span class="icon fontastic-icon-arrows-in"></span></div>
                            <div class="btn btn-default btn-xs detailsBtn lg" title='Show details'><span class="icon fontastic-icon-arrows-out"></span></div>
                        </div>*@
                    @Html.Partial("partial/ButtonBar", Model)
                </div>
                <h2>IDS <small class="hidden-md hidden-sm">Identify. Discuss. Solve.</small></h2>
            </hgroup>
            @*<div class="dd">
                    <ol class="ids-list dd-list">
                        @foreach (var i in Model.Issues.OrderBy(x => x._Order))
                        {
                            @Html.Partial("~/Views/L10/partial/IssueRow.cshtml", i)
                        }
                    </ol>
                </div>*@
            <div class="issues-container prioritization-@Model.Recurrence.Prioritization" style="margin-bottom:128px;">
                <ol class="issues-list sortable init-@(guid)">
                    @foreach (var i in Model.Issues.OrderBy(x => x.Ordering).ThenByDescending(x => x.CreateTime)) {@Html.Partial("~/Views/L10/partial/IssueRow.cshtml", i)}
                </ol>
            </div>

        </div>
        <div class="col-md-4">
            <div style="">
                <div class="fixed-pos">
                    <div class="hidden-lg hidden-md" style="height: 25px;"></div>
                    <hgroup class="page-header details">
                        <h4>Notes</h4>
                    </hgroup>
                    <div class="component issueDetails" id="issueDetails"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	@*$('.dd').nestable({
		maxDepth :2000,
		threshold: 20,
	}).on('change', function() {
		updateIssuesList(@Model.Recurrence.Id, this);
		$(".issue-row[data-issue=" + currentIssuesDetailsId + "]").closest(".ids-list>.issue-row").trigger("click");

	});*@

	var recurrenceId = @Model.Recurrence.Id;
	var meetingId = @Model.Meeting.Id;
	var oldContainer;
	var oldIssueList;

	$(function() {
		refreshCurrentIssueDetails();

		$(".issues-list").sortable({
			group: 'nested',
			handle: '.move-icon',
			/*afterMove: function(placeholder, container) {
			if (oldContainer != container) {
				if (oldContainer)
					oldContainer.el.removeClass("active");
				container.el.addClass("active");

				oldContainer = container;
			}
			},
			onDrop: function(item, container, _super) {
				container.el.removeClass("active");
				_super(item);
			}*/
			onDrop: function($item, container, _super, event) {
				@*debugger;
				_super($item, container);
				updateIssuesList(@Model.Recurrence.Id, $(".issues-list"));
				refreshCurrentIssueDetails();*@
				if ($item.hasClass("issue-row")) {
					_super($item, container);
					updateIssuesList(@Model.Recurrence.Id, $(".issues-list"));
					refreshCurrentIssueDetails();
				} else {
					debugger;
					_super($item, container);
					updateTodoList(@Model.Recurrence.Id, $(".todo-list"));
					refreshCurrentTodoDetails();
				}
			}
		});
		oldIssueList = getIssueOrder();//$(".issues-list").clone(true);
	});
	//$('.sortable').sortable({
	//	//handle: '.move-icon',
	//	connectWith: '.sortable',
	//	forcePlaceholderSize: true
	//}).bind('sortupdate', function(e, ui) {
	//	//ui.item contains the current dragged element.
	//	//Triggered when the user stopped sorting and the DOM position has changed.

	//});
	//$('.inner-sortable').sortable({
	//	//handle: '.move-icon',
	//	forcePlaceholderSize: true
	//	connectWith: '.sortable',
	//}).bind('sortupdate', function(e, ui) {
	//	//ui.item contains the current dragged element.
	//	//Triggered when the user stopped sorting and the DOM position has changed.

	//});;
</script>