@model RadialReview.Models.L10.VM.L10ListingVM

@{
	ViewBag.Title = "L10 Meetings";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.IsManager ?? false)
{
	<div style="text-align: right;margin-bottom: 3px;">
		<a class="btn btn-primary" href="/L10/Create">Create New L10 Meeting</a>
	</div>
}

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">L10 Meetings</h3>
	</div>
	@if (Model.Recurrences.Any())
	{
			<table class="table startHiddenGroup table-condensed table-hover table-condensed">
				<thead>
					<tr>
						<th style="width:30px;padding:0"></th>
						<th class="startHidden" style="padding:0">@*Meeting:*@</th>
						@*<th style="width: 100px; text-align: center">@RadialReview.Properties.DisplayNameStrings.due</th>
						<th style="width:150px;text-align:center">@RadialReview.Properties.DisplayNameStrings.completion</th>*@
						<th class="alignRight" style="width:50%;padding:0">@*Attendees*@</th>
						<th style="width:10px;padding:0"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var meeting in Model.Recurrences.OrderByDescending(x=>x.IsAttendee))
					{
						<tr class="startHidden clickable imageRow @(meeting.IsAttendee??false?"":"grayRow")" onclick="location.href='@Url.Action("Meeting", new { id = meeting.Recurrence.Id,})';">
							<td>
								@if (meeting.Recurrence.MeetingInProgress!=null){
									<div class="label label-success" style = "width: 80px;display: inline-block">in-progress</div>
								}
								else{
									<div class="label label-default hoverable" style = "width: 80px;display: inline-block">click to begin</div>
								}
							</td>
							<td class="table-hover-underline"><a>@meeting.Recurrence.Name</a></td>
							@*<td class="">
								<a href="/Todo/Previous/@meeting.Recurrence.Id"><span class="glyphicon glyphicon-check" title="All Todos"></span></a>
							</td>*@
							<td class="alignRight">
								@foreach (var a in meeting.Recurrence._DefaultAttendees){
									@Html.Partial("_ProfilePicture", a.User)
								}
							</td>
							@*<td>
								<a href="/L10/Edit/@meeting.Recurrence.Id"><span class="btn btn-default glyphicon glyphicon-cog" title="Archives"></span></a>
							</td>*@
							<td>
								<a href="/L10/Edit/@meeting.Recurrence.Id"><span class="btn btn-default glyphicon glyphicon-cog" title="Edit meeting"></span></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
	}
	else
	{
		<div class="panel-body gray">
			<div>You have no L10 meetings.</div>
		</div>

	}
</div>