@using ImageResizer.Configuration
@model RadialReview.Models.L10.VM.L10MeetingVM
@{
	ViewBag.Title = Model.Recurrence.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.FullWidth = true;
	if (ViewBag.VideoChatRoom == null) {
		ViewBag.VideoChatRoom = Model.Recurrence.Id;
	}
}
@using (Html.BeginStyles()) {
	@Styles.Render("~/styles/L10")
	@*<link href="~/Content/bootstrap-switch.css" rel="stylesheet" />*@
	<style>
		.bootstrap-switch.bootstrap-switch-small {
			min-width: 120px;
		}

		.bootstrap-switch > div > span.bootstrap-switch-default {
			color: #999;
		}
	</style>
}
@using (Html.BeginScripts()) {
	<script>
		@*Initialize some variables for the scripts*@


		@*Dangerous MeetingId*@
		window.RecurrenceId = @Model.Recurrence.Id;
		@if (Model.MeetingStart != null){
			@:var startTime = new Date(@(Model.MeetingStart.Value.ToJavascriptMilliseconds()));
		}


	</script>
	@Scripts.Render("~/bundles/MeetingPage")
		
	@Scripts.Render("~/bundles/L10")
	@Html.Partial("_SetupScript", Model)
	<script>

		var picturesLookup={};

		function addToPictureLookup(id,url,name,initials){
			picturesLookup[id]= {url:url,name:name,initials:initials};
		}

		function afterLoad() {
			console.log("called afterLoad");
			userId = @(ViewBag.UserId);

			@if (Model.Meeting != null){
				foreach (var m in Model.MemberPictures.ToList()) {
					@:addToPictureLookup(@m.UserId,"@m.Url","@m.Name","@m.Initials");
																}
				@:isLeader = @(Model.Meeting.MeetingLeaderId == ViewBag.UserId ? "true" : "false");
				@:var bmin = (@(Math.Round((Model.Meeting._MeetingLeaderCurrentPageBaseMinutes ?? 0)*1000))/1000) + (@((DateTime.UtcNow.ToJavascriptMilliseconds()-(Model.Meeting._MeetingLeaderCurrentPageStartTime.NotNull(x => x.Value.ToJavascriptMilliseconds())))))/(60*1000);
				@:setCurrentPage("@Model.Meeting._MeetingLeaderCurrentPage",@Model.Meeting._MeetingLeaderCurrentPageStartTime.NotNull(x => x.Value.ToJavascriptMilliseconds()),bmin);
				foreach (var i in Model.Meeting._MeetingLeaderPageDurations.Where(x => x.Item1 != Model.Meeting._MeetingLeaderCurrentPage)){
						@:setPageTime("@i.Item1",@(Math.Round(i.Item2*10000))/10000);
				}
			}else{
					@:isLeader =false;
			}
			initL10();
			try {
				resetClickables();
			} catch (e) {

			}
		}

		$(".switch").addClass("hide");

		function printFromUrl(printUrl){
			$("#hidden12335325").remove();
			var embed = $("<div id='hidden12335325' style='display:none'></div>");
			embed.append($('<iframe  type="application/pdf" src="'+printUrl+'" id="pdf-frame" width="100%" height="100%"></embeded>'));

			$("body").append(embed);
			var PDF = document.getElementById("pdf-frame");
			PDF.focus();
			PDF.contentWindow.print();
		}
		$(function() {
			$('.switch').bootstrapSwitch();

			$(".switch").removeClass("hide");
			$('#Follow').on('switchChange', function(e, data) {
				setFollowLeader(data.value);
			});
			
			$(".back-button").hide();
			$(".print-vto-button").hide();
			var page = "main";
			var vtoLastScroll=0;
			$(".vto-button").click(function(){
				if (typeof($(".vto-frame").attr("src"))==="undefined" || $(".vto-frame").attr("data-page")!="vto"){
					$(".vto-frame").attr("src","/vto/edit/@(Model.VtoId)?noheading=true");
					$(".vto-frame").attr("data-page","vto");
				}
				$(".slider").css({marginLeft:"-100%"});
				$(".slider-container").css("overflow-y","hidden");
				$(".back-button").css("top","35px").show();
				$(".print-vto-button").show();
				page="vto";
				vtoLastScroll = $(".slider-container").scrollTop();
				$(".slider-container").scrollTop(0);
			});

			$(".ac-button").click(function(){
				if (typeof($(".vto-frame").attr("src"))==="undefined"|| $(".vto-frame").attr("data-page")!="ac"){
					$(".vto-frame").attr("src","/accountability/chart/@(Html.Organization().AccountabilityChartId)?noheading=true");
					$(".vto-frame").attr("data-page","ac");
				}
				$(".slider").css({marginLeft:"-100%"});
				$(".slider-container").css("overflow-y","hidden");
				$(".back-button").css("top","55px").show();
				page="ac";
				vtoLastScroll = $(".slider-container").scrollTop();
				$(".slider-container").scrollTop(0);
			});

			$(".back-button").click(function(){
				$(".slider").css({marginLeft:"0%"});
				$(".back-button").hide();
				$(".print-vto-button").hide();
				$(".slider-container").css("overflow-y","inherit");
				page="main";

				vtoLastScroll = $(".slider-container").scrollTop(vtoLastScroll)
			});


			$(document).bind("keyup keydown", function(e){
				if(e.ctrlKey && e.keyCode == 80){
					var printUrl = "/quarterly/printout/@(Model.Recurrence.Id)";
					if (page=="vto"){
						printUrl = "/quarterly/PrintPages/@(Model.Recurrence.Id)?vto=true";
					}
					printFromUrl(printUrl);
					e.preventDefault();
				}
			});
		});


	</script>

}
<div class="slider-container level-10">
	<div class="slider">
		<div class="row full left-panel">
			<div class="col-sm-3 col-md-2 full fixed-pos" style="padding-bottom: 30px;">
				<div class="clock-container">
					<div class="timer-bar"></div>
					<div class="component clocks hidden">
						<div class="elapsed-time centered">
							<span class="">
								<span class="hour hour-item"></span>
								<span class="gray hour-item">h</span>
								<span class="minute "></span>
								<span class="gray ">m</span>
								<span class="second1"></span>
							</span>
						</div>
						<div class="current-time">
							<span class="centered">
								<span class="hour big"></span>
								<span class="colon big">:</span>
								<span class="minute big"></span>
								<span class="second gray"></span>
							</span>
						</div>

					</div>

				</div>
				<div class="agenda">
					<div class="component">
						<div class="btn-group pull-left">
							<span class="btn btn-default btn-xs dropdown-toggle print-button" data-toggle="dropdown" aria-expanded="false">
								<span class="icon fontastic-icon-print" style="top:2px;"></span>
							</span>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a onclick="showPrint()"><span class="glyphicon glyphicon-book"></span> Quarterly Printout</a>
								</li>
								<li><a class="" target="_blank" href="/L10/printout/@Model.Recurrence.Id"><span class="glyphicon glyphicon-file"></span> L10 Printout</a></li>
							</ul>
						</div>
						<div class="btn-group pull-right">
							<span class="btn btn-default btn-xs dropdown-toggle settings-button" data-toggle="dropdown" aria-expanded="false">
								<span class="glyphicon glyphicon-cog" style="top:2px;"></span>
							</span>
							<ul class="dropdown-menu pull-right" role="menu">
								@if (ViewBag.Links != null) {
									foreach (var link in ViewBag.Links) {
										<li><a href="@(link["href"])" target="_blank"><span class="@(link["class"])"></span> @(link["text"])</a></li>
									}
									<li class="divider"></li>
								}
								@if (Model.CanEdit) {
									<li><a href="/L10/Wizard/@(Model.Recurrence.Id)?return=meeting" id="edit_meeting_link" onclick="skipBeforeUnload = true"><span class="glyphicon glyphicon-edit"></span> Edit Meeting</a></li>
									<li class="divider"></li>
								}

								<li><a href="@Url.Action("Details",new { id=Model.Recurrence.Id})" target="_blank"><span class="icon fontastic-icon-box"></span> Meeting Archive</a></li>

								<li><a href="@Url.Action("ExportAll",new { id=Model.Recurrence.Id })" target="_blank"><span class="icon fontastic-icon-file-zip"></span> Export All</a></li>
								@if (Model.CanAdmin) {
									<li class="divider"></li>
									<li><a href="/L10/Edit/@(Model.Recurrence.Id)?return=meeting" onclick="skipBeforeUnload = true" style="color:#AB3333"><span class="glyphicon glyphicon-cog"></span> Advanced Settings</a></li>
								}
							</ul>
						</div>
						<div class="title">Agenda</div>
						<ol class="agenda-items">
							@if (Model.Recurrence.SegueMinutes > 0) {
								<li class="page-item page-segue">		<a data-location="Segue" href="#Segue">Segue</a><span title="Spend @String.Format("{0:0.##}", Model.Recurrence.SegueMinutes) minutes on your Segue" data-over="@Model.Recurrence.SegueMinutes" class="page-time"><span class="gray">@(String.Format("{0:0.##}", Model.Recurrence.SegueMinutes))m</span></span></li>
							}
							@if (Model.Recurrence.ScorecardMinutes > 0) {
								<li class="page-item page-scorecard">	<a data-location="Scorecard" href="#Scorecard">Scorecard</a><span data-over="@Model.Recurrence.ScorecardMinutes" title="Spend @String.Format("{0:0.##}", Model.Recurrence.ScorecardMinutes) minutes on your Scorecard" class="page-time"><span class="gray">@(String.Format("{0:0.##}", Model.Recurrence.ScorecardMinutes))m</span></span></li>
							}
							@if (Model.Recurrence.RockReviewMinutes > 0) {
								<li class="page-item page-rocks">		<a data-location="Rocks" href="#Rocks">Rock Review</a><span data-over="@Model.Recurrence.RockReviewMinutes" title="Spend @String.Format("{0:0.##}", Model.Recurrence.RockReviewMinutes) minutes on your @Html.Organization().Settings.RockName Review" class="page-time"><span class="gray">@(String.Format("{0:0.##}", Model.Recurrence.RockReviewMinutes))m</span></span></li>
							}
							@if (Model.Recurrence.HeadlinesMinutes > 0) {
								<li class="page-item page-headlines">	<a data-location="Headlines" href="#Headlines">People Headlines</a><span data-over="@Model.Recurrence.HeadlinesMinutes" title="Spend @String.Format("{0:0.##}", Model.Recurrence.HeadlinesMinutes) minutes on Headlines" class="page-time"><span class="gray">@(String.Format("{0:0.##}", Model.Recurrence.HeadlinesMinutes))m</span></span></li>
							}
							@if (Model.Recurrence.TodoListMinutes > 0) {
								<li class="page-item page-todo">		<a data-location="Todo" href="#Todo">To-do List</a><span title="Spend @String.Format("{0:0.##}", Model.Recurrence.TodoListMinutes) minutes on your Todo List" data-over="@Model.Recurrence.TodoListMinutes" class="page-time"><span class="gray">@(String.Format("{0:0.##}", Model.Recurrence.TodoListMinutes))m</span></span></li>
							}
							@if (Model.Recurrence.IDSMinutes > 0) {
								<li class="page-item page-ids">			<a data-location="IDS" href="#IDS">IDS</a><span data-over="@Model.Recurrence.IDSMinutes" title="Spend @String.Format("{0:0.##}", Model.Recurrence.IDSMinutes) minutes on IDS" class="page-time"><span class="gray">@(String.Format("{0:0.##}", Model.Recurrence.IDSMinutes))m</span></span></li>
							}
							<li class="page-item page-conclusion">		<a data-location="Conclusion" href="#Conclusion">Conclude</a><span data-over="@Model.Recurrence.ConclusionMinutes" title="Spend @String.Format("{0:0.##}",Model.Recurrence.ConclusionMinutes) minutes on your Conclusion" class="page-time"><span class="gray">@(String.Format("{0:0.##}", Model.Recurrence.ConclusionMinutes))m</span></span></li>
						</ol>

						@if (Model.Meeting.NotNull(x => x.MeetingLeaderId) != ViewBag.UserId) {
							<br />
							<div class="alignCenter">
								<div style="color: #bbb;">Follow meeting leader:</div>
								<input id="Follow"
									   type="checkbox"
									   checked
									   class="switch switch-large fullWidth hide"
									   style="min-width: 138px;"
									   data-on-color="default"
									   data-off-color="info"
									   data-on-text="Locked"
									   data-off-text="Unlocked"
									   data-size="small"
									   data-label-icon="glyphicon glyphicon-chevron-right lightGrayOutlined" />

							</div>
							<br />
						}
					</div>
					<div class="component additional-pages">
						@*<b class="title">Additional Pages</b>*@
						<div>
							@if (Model.VtoId != 0) {
								<div class="alignRight" style1="padding-left:24px;"><div class="vto-button clickable gray" data-location="Scorecard" href="#vto">View V/TO <span class="glyphicon glyphicon-chevron-right"></span></div></div>
							}
						</div>
					</div>

					@if (ViewBag.ViewAccountabilityChart ?? false) {
						<div class="component additional-pages">
							<div>
								<div class="alignRight" style1="padding-left:24px;"><div class="ac-button clickable gray" data-location="Scorecard" href="#ac">View Accountability Chart <span class="glyphicon glyphicon-chevron-right"></span></div></div>

							</div>
							@*<div class="alignCenter">
									<a class="btn btn-default" data-location="stats" href="#stats"><span class="glyphicon glyphicon-stats"></span> Stats</a>
								</div>*@

						</div>
					}
					<div class="clearfix"></div>


					@*Chat*@
					<div class="chat-container">
						<div class="component">
							<ul class="log"></ul>
							@*<div class="text typing">typing...</div>
								<div class="text log">log</div>*@
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-9 col-md-10  full">

				<div class="main-window-container">
					<div id="main-window"></div>
					@*<div class="component"></div>*@
					<div id="hiddenWindow" style="display:none"></div>
				</div>
			</div>
		</div>
		<div class="right-panel">
			<div class="back-button btn btn-primary btn-xs" style="display:none"><span class="glyphicon glyphicon-chevron-left"></span> Back</div>
			<div class="print-vto-button btn btn-default btn-xs" style="display:none" onclick="printFromUrl('/quarterly/PrintPages/@(Model.Recurrence.Id)?vto=true')"><span class="glyphicon glyphicon-print"></span> Print</div>
			@if (Model.VtoId != 0) {
				<iframe id="vto-frame" class="vto-frame"></iframe>
			}

		</div>
	</div>
</div>
<div class="notes" style="display: none;">
	<div class="overlay"></div>
	<div class="row">
		<div class="col-xs-9 noPadLeft noPadRight">
			<div class="container main">
				<span class="notes-instruction" @(Model.Recurrence.NotNull(x => x._MeetingNotes.Any()) ? "style=display:none" : "")>No notes to show. Click the Add Page button to create a custom note.</span>

				@*<textarea cols="9" class="verticalOnly"></textarea>*@
				<iframe class="" style="background-color: white" width="100%" src="about:blank"></iframe>
			</div>
		</div>
		<div class="col-xs-3 noPadRight">
			<div class="side tabs">
				<div class="tab add"><span class="pull-right glyphicon glyphicon-plus-sign"></span> Add Page</div>
				@if (Model.Recurrence != null) {
					foreach (var t in Model.Recurrence._MeetingNotes) {
						<div data-id="@t.Id"  class="tab">@t.Name</div>
					}
				}
			</div>
		</div>
	</div>
</div>
@using (Html.BeginScripts()) {

	@*<script src="~/Scripts/speechrecog.js"></script>*@
	<script>

		var shouldStartTranscribe = false;
		var countDown = @(Model.Recurrence.CountDown.ToJavascript());
		@if (Model.EnableTranscript)
		{
		@:shouldStartTranscribe = true;
		}



		var notesUrl = "@RadialReview.Utilities.Config.NotesUrl()";


		$(function() {
			InitTranscribe(@Model.Recurrence.Id,@(Model.Meeting==null?-1:Model.Meeting.Id),shouldStartTranscribe);

		});
	</script>
}

@*Transcript*@
<div class="transcript-container hidden footer-bar-container" data-height="200px" style="bottom: -200px;">
	<div class="tab footer-bar-tab">
		<span class="transcribing" style="opacity: 0"><img src="~/Content/img/ajax-loader-ob.gif" height="11" width="16" /></span>
		<span class="clicker">Transcript</span>
		<span class="sendAudio icon fontastic-icon-mic" onclick="clickMuteTranscribe(this)"></span>
	</div>
	<div class="transcript-bar footer footer-bar-contents">
		<ul class="temp gray"></ul>
		<ul class="transcription-contents">
			@foreach (var t in Model.CurrentTranscript.OrderByDescending(x => x.Order)) {
				<li title="@t.Owner" data-order="@t.Order">@t.Message</li>
			}
		</ul>
		<span class="noselect experimental" style="position: relative;left:0;bottom:0;" target="blank" href="http://www.webrtc.org/#TOC-Supported-Browsers">This experimental feature is built for Chrome.</span>
	</div>
</div>
