@model RadialReview.Models.L10.VM.L10MeetingVM
@{
	ViewBag.Title = "Meeting";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.FullWidth = true;
}
@using (Html.BeginStyles())
{
	@Styles.Render("~/styles/L10")
	<link href="~/Content/bootstrap-switch.css" rel="stylesheet" />
	<style>
		.bootstrap-switch.bootstrap-switch-small {
			min-width: 120px;
		}
		.bootstrap-switch > div > span.bootstrap-switch-default {
		  color: #999;
		}
	</style>
}
@using (Html.BeginScripts())
{
	<script>
		@*Initialize some variables for the scripts*@

		var MeetingId = @Model.Recurrence.Id;
		@if (Model.MeetingStart != null){
			@:var startTime = new Date(@(Model.MeetingStart.Value.ToJavascriptMilliseconds()));
		}

		
	</script>
	<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/jquery/jquery.ba-throttle-debounce.js"></script>
	<script src="~/Scripts/jquery/jquery.scrollTo.js"></script>
	<script src="~/Scripts/bootstrap-switch.js"></script>
	@*<script src="~/Scripts/L10/L10.js"></script>
	<script src="~/Scripts/L10/rtL10.js"></script>*@
	@Scripts.Render("~/bundles/L10")
	@Html.Partial("_SetupScript", Model)
	<script>
		function afterLoad() {
			userId = @(ViewBag.UserId);
			@if (Model.Meeting != null){
				@:isLeader = @(Model.Meeting.MeetingLeaderId == ViewBag.UserId ? "true" : "false");
				@:setCurrentPage("@Model.Meeting._MeetingLeaderCurrentPage",@Model.Meeting._MeetingLeaderCurrentPageStartTime.NotNull(x => x.Value.ToJavascriptMilliseconds()),@(Model.Meeting._MeetingLeaderCurrentPageBaseMinutes ?? 0))

				foreach (var i in Model.Meeting._MeetingLeaderPageDurations.Where(x => x.Item1 != Model.Meeting._MeetingLeaderCurrentPage)){
					@:setPageTime("@i.Item1",@i.Item2);
				}
			}
			else{
				@:isLeader =false;
			}
			initL10();
			try {
				resetClickables();
			} catch (e) {
				
			}
		}

		$(function() {
			$('.switch').bootstrapSwitch();
			$('#Follow').on('switchChange', function(e, data) {
				setFollowLeader(data.value);
			});
		});
	</script>

}

<div class="row full">
	<div class="col-sm-3 col-md-2 full">
		<div class="">
			<div class="component">
				<div class="current-time">
					<span class="centered">
						<span class=" hour big"></span>
						<span class="colon big">:</span>
						<span class="minute big"></span>
						<span class="second gray"></span>
					</span>
				</div>
				<div class="elapsed-time centered">
					<span class="">
						<span class="hour "></span>
						<span class="gray ">h</span>
						<span class="minute "></span>
						<span class="gray ">m</span>
						<span class="second1"></span>
					</span>
				</div>
			</div>

		</div>
		<div class="agenda">
			<div class="component">
				<div class="title">Agenda</div>
				<ol>
					<li class="page-item page-segue"><a data-location="Segue" href="#Segue">Segue</a><span title="Spend 5 minutes on your Segue" data-over="5" class="page-time"></span></li>
					<li class="page-item page-scorecard"><a data-location="Scorecard" href="#Scorecard">Scorecard</a><span data-over="5" title="Spend 5 minutes on your Scorecard" class="page-time"></span></li>
					<li class="page-item page-rocks"><a data-location="Rocks" href="#Rocks">@Html.Organization().Settings.RockName Review</a><span data-over="5" title="Spend 5 minutes on your @Html.Organization().Settings.RockName Review" class="page-time"></span></li>
					<li class="page-item page-headlines"><a data-location="Headlines" href="#Headlines">Headlines</a><span data-over="5" title="Spend 5 minutes on Headlines" class="page-time"></span></li>
					<li class="page-item page-todo"><a data-location="Todo" href="#Todo">Todo List</a><span title="Spend 5 minutes on your Todo List" data-over="5" class="page-time"></span></li>
					<li class="page-item page-ids"><a data-location="IDS" href="#IDS">IDS</a><span data-over="60" title="Spend 60 minutes on IDS" class="page-time"></span></li>
					<li><a data-location="Conclusion" href="#Conclusion">Conclusion</a></li>
				</ol>
				<div class="alignCenter">
					<a class="btn btn-default" data-location="stats" href="#stats"><span class="glyphicon glyphicon-stats"></span> Stats</a>
				</div>
			</div>	
			@if (Model.Meeting.NotNull(x => x.MeetingLeaderId) != ViewBag.UserId)
			{
				<br />
				<div class="alignCenter">
					<div style="color: #bbb;">Follow meeting leader:</div>
					<input id="Follow"
					       type="checkbox" 
					       checked
					       class="switch switch-large fullWidth"
					       style="min-width: 138px;"
					       data-on-color="default"
					       data-off-color="info"
					       data-on-text="Locked"
					       data-off-text="Unlocked"
					       data-size="small"
					       data-label-icon="glyphicon glyphicon-chevron-right lightGrayOutlined" />

				</div>
				<br />
			}
		</div>

	</div>
	<div class="col-sm-9 col-md-10  full">

		<div class="main-window-container">
			<div id="main-window"></div>
			@*<div class="component"></div>*@
		</div>
	</div>
</div>

<div class="notes" style="display: none;">
	<div class="overlay"></div>
	<div class="row">
		<div class="col-xs-9 noPadLeft">
			<div class="container main">
				<textarea cols="9" class="verticalOnly"></textarea>
			</div>
		</div>
		<div class="col-xs-3 noPadRight">
			<div class="side tabs">
				<div class="tab add"><span class="pull-right glyphicon glyphicon-plus-sign"></span> Add Page</div>
				@if (Model.Recurrence != null){
					foreach (var t in Model.Recurrence._MeetingNotes){
						 <div data-id="@t.Id" class="tab">@t.Name</div>
					 }
				}
			</div>
		</div>
	</div>
</div>