@model RadialReview.Models.L10.VM.L10MeetingVM



<div class="rocks meeting-page">
	<div class="row">
		<div class="col-md-12">
			<hgroup class="page-header">
				<div class="pull-right">
					@Html.Partial("partial/ButtonBar", Model)
				</div>
				<h2>@Html.Organization().Settings.RockName Review <small></small></h2>
			</hgroup>
			<div class="rocks-container">
				@foreach (var person in Model.Rocks.GroupBy(x => x.ForRock.ForUserId))
				{
					<div class="component">
						@Html.Partial("_Picture", person.First().ForRock.AccountableUser.ImageUrl(true, ImageSize._32))
						<span class="owner">
							@person.First().ForRock.AccountableUser.GetName()
						</span>
						<div class="table-responsive">
							<table style="width:100%">
								<tr>
									<th style="width: 46px"></th>
									<th style="width: 1px"></th>
									<th></th>
								</tr>
								@foreach (var i in person)
								{
									<tr>
										<td class="buttonHolder currentBlue">
											<span class="glyphicon glyphicon-pushpin issuesButton issuesModal"
											      data-meeting="@Model.Meeting.Id"
											      data-recurrence="@Model.Recurrence.Id"
											      data-rock="@(i.ForRock.Id)"
											      data-method="CreateRockIssue"></span>
											<span class="glyphicon glyphicon-unchecked todoButton todoModal"
											      data-meeting="@Model.Meeting.Id"
											      data-recurrence="@Model.Recurrence.Id"
											      data-rock="@(i.ForRock.Id)"
											      data-method="CreateRockTodo">
											</span>
										</td>
										<td class="">@Html.EditorFor(x => i.Completion, "RockStateThin", new { name = "rock_" + i.Id })</td>
										<td class="message">@i.ForRock.Rock</td>
									</tr>
								}
							</table>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
<script>
	var recurrenceId = @Model.Recurrence.Id;
	var meetingId = @Model.Meeting.Id;
</script>
<script src="~/Scripts/components/rockstate.js"></script>