@model RadialReview.Models.L10.VM.L10MeetingVM

@{
	ViewBag.Title = "Start Meeting";
	Layout = "~/Views/L10/BasePage.cshtml";

}

<div class="centered" style="width:50%;">
	<div class="component">
		<div class="meeting-manager">
			<div class="title">Who's attending this meeting?</div>
			@using (Ajax.BeginForm("StartMeeting", new AjaxOptions()
			{
				HttpMethod = "POST",
				InsertionMode = InsertionMode.Replace,
				UpdateTargetId = "main-window",
				LoadingElementDuration = 1000,
			}))
			{
				@*if (ViewBag.Message!=null){
					 <div class="alert alert-danger" role="alert">
						 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						 <span class="sr-only">Error:</span>
						 @ViewBag.Message
					 </div>
				 }*@

				@Html.ValidationSummary()
				@Html.SecuredHiddenFor(x => x.Recurrence.Id)
				<table style="width:100%">
					@foreach (var a in Model.Recurrence._DefaultAttendees)
					{
						<tr>
							<td ></td>
							<td style="width: 1px;" class="check"><input type="checkbox" checked name="Attendees" value="@a.User.Id" /></td>
							<td style="width: 1px;" class="pix">@Html.Partial("_ProfilePicture", a.User)</td>
							<td style="width: 1px;white-space: nowrap;padding: 0 25px 0 5px;" class="name">@a.User.GetName()</td>
							<td></td>
						</tr>
					}
				</table>
				<div class="alignCenter">
					<input type="submit" class="btn btn-primary center" value="Start Meeting as Leader" />
				</div>
			}
			<hr />
			<span style="display: block;margin-top: -31px;margin-left: auto;margin-right: auto;text-align: center;  padding-bottom: 7px;">
				<span style="width: 33px;background-color: #FFF;color: #DDD;display: inline-block;"> or </span> 
			</span>
			
			<div class="alignCenter">
				
				<a class="btn btn-default " href="/L10/Details/@Model.Recurrence.Id"><span class="icon fontastic-icon-archive-1"></span> Go to archive</a>
			</div>
		</div>
	</div>
</div>
