@using RadialReview.Helpers
@model RadialReview.Models.L10.VM.L10MeetingVM

@{
	ViewBag.Title = "Start Meeting";
}

<div class="centered" style="width:50%;">
	<div class="component">
		<div class="meeting-manager">
			<div class="title">Who's attending?</div>
			@using (Ajax.BeginForm("StartMeeting", new AjaxOptions()
			{
				HttpMethod = "POST",
				InsertionMode = InsertionMode.Replace,
				UpdateTargetId = "main-window",
				LoadingElementDuration = 1000,
			}))
			{
				@Html.ValidationSummary()
				@Html.SecuredHiddenFor(x => x.Recurrence.Id)
				<table>
					@foreach (var a in Model.Recurrence._DefaultAttendees)
					{
						<tr>
							<td style="width: 30px;"></td>
							<td><input type="checkbox" checked name="Attendees" value="@a.User.Id" /></td>
							<td>@Html.Partial("_ProfilePicture", a.User)</td>
							<td>@a.User.GetName()</td>
						</tr>
					}
				</table>
				<div class="alignCenter">
					<input type="submit" class="btn btn-primary center" value="Start Meeting" />
				</div>
			}
		</div>
	</div>
</div>
