@model RadialReview.Models.L10.VM.L10MeetingVM
@{
	ViewBag.Title = "Todo";
	Layout = "~/Views/L10/BasePage.cshtml";

	var guid = Guid.NewGuid().ToString();
}

<div class="todo">
	<div class="row">
		<div class="col-md-8">
			<hgroup class="page-header listing fixed-pos">
				<div class="pull-right">
					@*<div class="btn-group ">
							<div class="btn btn-default btn-xs detailsBtn sm" title='Hide details'><span class="icon fontastic-icon-arrows-in"></span></div>
							<div class="btn btn-default btn-xs detailsBtn lg" title='Show details'><span class="icon fontastic-icon-arrows-out"></span></div>
						</div>*@
					<div class="btn-group">
						<a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="icon fontastic-icon-sort-alpha-two"></span> <span class="sort-button">Sort </span>
						</a> 
						<ul class="dropdown-menu pull-right" role="menu">
							@*<li><a class="clickable " onclick="sortTodoBy(recurrenceId,$('.todo-list'),'data-message','To-Do')"> By To-Do</a></li>*@
							<li><a class="clickable " onclick="sortTodoBy(recurrenceId,$('.todo-list'),'data-name','Owner')"> By Owner</a></li>
                            <li><a class="clickable " onclick="sortTodoBy(recurrenceId,$('.todo-list'),'data-duedate','Due Date',-1)"> By Due Date (Desc)</a></li>
                            <li><a class="clickable " onclick="sortTodoBy(recurrenceId,$('.todo-list'),'data-duedate','Due Date',1)"> By Due Date (Asc)</a></li>
                            <li><a class="clickable " onclick="sortTodoBy(recurrenceId,$('.todo-list'),'data-createtime','Date Created',-1)"> By Date Created (Desc)</a></li>
                            <li><a class="clickable " onclick="sortTodoBy(recurrenceId,$('.todo-list'),'data-createtime','Date Created',1)"> By Date Created (Asc)</a></li>

						</ul>
					</div>

					@Html.Partial("partial/ButtonBar", Model)
				</div>
				<h2>To-do List <small></small></h2>
			</hgroup>
			<div class="todo-container ">
				<ol class="todo-list sortable init-@(guid)">
					@foreach (var i in Model.Todos.OrderBy(x => x.Ordering))
					{
						var vm = new ViewDataDictionary { { "MeetingId", Model.Meeting.Id },{"Organization", ViewBag.Organization} };
						@Html.Partial("~/Views/L10/partial/TodoRow.cshtml", i, vm)
					}
				</ol>
			</div>
		</div>
		<div class="col-md-4">
			<div class="hidden-lg hidden-md" style="height: 25px;"></div>
			<div style="">
				<div class="fixed-pos">
					<hgroup class="page-header details">
						<h4>Details</h4>
					</hgroup>
					<div class="component todoDetails" id="todoDetails"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var recurrenceId = @Model.Recurrence.Id;
	var meetingId = @Model.Meeting.Id;
	var oldContainer;
	var oldTodoList;

	$(function() {
		$(".todo-list").sortable({
			group: 'nested',
			handle: '.move-icon',
			/*afterMove: function(placeholder, container) {
			if (oldContainer != container) {
				if (oldContainer)
					oldContainer.el.removeClass("active");
				container.el.addClass("active");

				oldContainer = container;
			}
			},
			onDrop: function(item, container, _super) {
				container.el.removeClass("active");
				_super(item);
			}*/
			onDrop: function($item, container, _super, event) {
				debugger;
				if ($item.hasClass("issue-row")) {
					debugger;
					_super($item, container);
					updateIssuesList(@Model.Recurrence.Id, $(".issues-list"));
					refreshCurrentIssueDetails();
				} else {
					_super($item, container);
					updateTodoList(@Model.Recurrence.Id, $(".todo-list"));
					refreshCurrentTodoDetails();
				}
			}
		});
	    oldTodoList = getTodoOrder();//$(".todo-list").clone(true);
	});
</script>