@using FluentNHibernate.Conventions
@using RadialReview.Models
@using RadialReview.Models.Charts
@using RadialReview.Models.Enums
@using System.Linq;
@model RadialReview.Controllers.ReviewController.ReviewDetailsViewModel
@{
	ViewBag.Client = true;
}

<div class="row">
	<div class="print-col-xs-6 zoom8">
		@Html.Partial("~/Views/Review/Details/GWC.cshtml", Model)
	</div>


	@if (Model.CompanyValuesTable((long)ViewBag.ReviewId).Rows.Any())
	{
		<div class="print-col-xs-6 zoom8">
			@{
		var valueAnswers = Model.AnswersAbout.Where(x => x is CompanyValueAnswer).Cast<CompanyValueAnswer>().Where(x => x.IncludeReason);

			}


			<div class="subsection subsection-values noBreak client">
				@if (Model.ReviewContainer.AnonymousByDefault)
				{
					@Html.Partial("Table", Model.CompanyValuesScore)
				}
				else
				{
					@Html.Partial("Table", Model.CompanyValuesTable(Model.Review.ForReviewsId))
				}

				@if(valueAnswers.Any()){
				<table class="valueTable" style="width:100%;margin-left: 10px;">
					<thead>
						<tr>
							<th style="width: 1px">Value:</th>
							<th style="width: 21px;"></th>
							<th></th>

						</tr>
					</thead>
					<tbody>
						@foreach (var r in valueAnswers)
						{
							<tr>
								<td class="bold alignRight">@r.Askable.GetQuestion()</td>
								<td class="block"><div class="fill @r.Exhibits"></div></td>
								<td style="padding-left:6px;">
									<span class ="italic">"@r.Reason"</span>
									@if (!Model.ReviewContainer.AnonymousByDefault)
									{
										@:- @r.ByUser.GetName()
									}
								</td>
							</tr>
						}
					</tbody>
				</table>

				}
				<div class="evaluation-heading">Company Values</div>
			</div>
		</div>
	}
	@if (Model.RockTable((long)ViewBag.ReviewId).Rows.Any())
	{
		<div class="print-col-xs-6 zoom8">
			<div class="subsection subsection-rocks noBreak">
				@Html.Partial("Table", Model.RockTable((long)ViewBag.ReviewId))

				<div class="evaluation-heading">Rocks</div>
			</div>
		</div>
	}
</div>