@model RadialReview.Controllers.ReviewController.ReviewDetailsViewModel
@using RadialReview.Models;

<div class="" style=" min-width: 650px;padding-top:5px;">
    @*
        <div class="header" style="height:60px;">
            <div class="pull-left" style="font-size: 30px;">
                Manage Review for @Model.Review.ForUser.GetName()
            </div>
            <a class="btn btn-default pull-right" href="@Url.Action("List", "Reports", new {id=Model.Review.ForReviewsId })">
                Back
            </a>
        </div>*@
    <div class="row clearfix">
        <div class="col-md-12 ">
            <div class="alignRight" style="position: absolute;right: 20px;top: -16px;">
                @if (Model.Review.ClientReview.SignedTime == null)
                {

                    @*<span class="unsigned">Unsigned</span>*@
                }
                else
                {
                    <span class="glyphicon glyphicon-ok strokeGreen green"></span>
                    @:Signed @Model.Review.ClientReview.SignedTime.Value.ToShortDateString()!
                }
            </div>
            @*@Html.CollapseSection("TEST","Details/ChartBuilder",Model)*@   
            
	        <div class="row">
		        <div class="col-sm-6"><a class="pull-right clickable" onclick="expandAll()">Expand All</a></div>
		        <div class="col-sm-6"><a class="pull-left clickable" onclick="collapseAll()">Collapse All</a></div>
	        </div>
			@Html.CollapseSection("Notes", "Details/Notes", Model, "includeNotes")
			@Html.CollapseSection("Charts", "Details/ChartBuilder3", Model, "includeScatter")
			@Html.CollapseSection("Evaluation", "Details/EosEvaluation", Model, "includeEvaluation")






	        @*@Html.CollapseSection(Model.Review.ForUser.GetName() + "'s Answers", "~/Views/Partial/_SupervisorAnswers.cshtml", Tuple.Create(Model.Review.ForUser.AsList(), Model.AnswersAbout),"includeSelfAnswers")
            @Html.CollapseSection("Manager Answers", "~/Views/Partial/_SupervisorAnswers.cshtml", Tuple.Create(Model.Supervisers, Model.AnswersAbout), "includeManagerAnswers")
			@Html.CollapseSection("Aggregate Answers", "Details/AggregateAnswers", Model, "includeAggregateAnswers")*@
			@Html.CollapseSection("Feedback", "Details/Feedback", Model)
			@*@Html.CollapseSection("Yes/No", "Details/YesNo", Model)*@


			@Html.CollapseSection("Next Session Rocks", "Details/NextSession", Model)


            @*All other answers*@
            @*<a id="OtherAnswers" class="shiftByTitle"></a>
            <div class="panel panel-primary">
                <div class="panel-heading panel-square">
                    <div class="collapseIcon"></div>
                    <a class="collapseHeading" data-toggle="collapse" data-parent="#accordion" href="#collapseAllOtherAnswers">
						<div class="collapseIcon glyphicon glyphicon-collapse-down"></div>
						<h3 class="panel-title" style="padding-left: 20px;">All Answers</h3>
                    </a>
                </div>
                <div id="collapseAllOtherAnswers" class="panel-collapse collapse in remember" style="padding-left: 10px;">
                    @{
                        var allOtherUsers = Model.AnswersAbout
                            .GroupBy(x => x.ByUserId)
                            .Select(x => x.First().ByUser)
                            .ToList();
                    }
                    @Html.Partial("~/Views/Partial/_AnswerTable.cshtml", Tuple.Create(allOtherUsers, Model.AnswersAbout.Where(x => x is SliderAnswer).Cast<SliderAnswer>().ToList()))
                </div>
            </div>*@
        </div>
    </div>
</div>